@{
    Layout = "~/Views/Shared/_Layout_yonetim.cshtml";
}



<link href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>

<style>
    body {
        padding: 0 0 0 4rem !important;
    }
    .vertical-center {
        min-height: 95%; /* Fallback for browsers do NOT support vh unit */
        min-height: 95vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }

    .search {
        width: 100%;
        position: relative;
        float: right !important;
    }

    .select2-container {
        width: 100% !important;
        position: relative;
        float: right;
    }

    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    #table img:hover {
        opacity: 0.4;
    }
</style>
<div class="jumbotron vertical-center">
    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">Yeni Kullanıcı Ekleme Formu</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>



            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="btn-group menu1" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" onclick="change(1)" name="btnradio" id="btnradio1" checked="" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnradio1">İSTATİSTİKLER</label>
            <input type="radio" class="btn-check" onclick="change(2)" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnradio2">GRAFİK</label>
        </div>
       
        <div class="row" id="row1">
            <div id="employeeTableWrapper" class="tableWrapper">
                <div class="mt-2" id="toolbar">
                    <div class="row">
                        <div class="col">
                            <select id="filter" multiple="multiple" name="filterAlgorithm" style="width:15vw">
                            </select>
                        </div>
                    </div>
                </div>
                <table id="table"
                       class="table table-striped"
                       data-show-fullscreen="true"
                       data-buttons-order="['filterTable','columns']"
                       data-toggle="table"
                       data-toolbar="#toolbar"
                       data-show-export="false"
                       data-export-data-type="all"
                       data-export-types="['excel']"
                       data-pagination="true"
                       data-page-size="100"
                       data-search="true"
                       data-show-columns="true"
                       data-show-columns-toggle-all="true"
                       data-locale="tr-TR"
                       data-filter-control="true"
                       data-filter-control-multiple-search="true"
                       data-loading-template="loadingTemplate"
                       data-height="800"
                       data-mobile-responsive="true"
                       data-show-footer="false"
                       data-detail-view="false"
                       data-detail-formatter="detailFormatter"
                       data-check-on-init="true"
                       data-trim-on-search="false">
                    <thead>
                        <tr>

                            <th data-field="USER_NAME" data-halign="center" data-align="center" data-sortable="true">Kullanıcı Adı</th>
                            <th data-field="SESSION_DURATION" data-halign="center" data-align="center" data-sortable="true" data-formatter="sureFormatter">Toplam Süre</th>
                            <th data-field="RATE" data-halign="center" data-align="center" data-sortable="true" data-formatter="yuzdeFormatter">Yüzde</th>
                            <th data-field="MONTH" data-halign="center" data-align="center" data-sortable="true" data-formatter="ayFormatter">Ay</th>
                            <th data-field="YEAR" data-halign="center" data-align="center" data-sortable="true">Yıl</th>
                        </tr>
                    </thead>
                </table>


            </div>


        </div>
        <div class="row" id="row2" style="display:none">
            <div class="row">
                <div class="col">
                    <select id="filter2" onchange="changedonem()" multiple="multiple" name="filterAlgorithm" style="width:15vw">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="chartDiv" style="width:100%; margin:0 auto;"></div>
                </div>
            </div>
            </div>
        </div>
    <script>
        function changedonem() {
            var d = null
            var newdonem = $("#filter2").val();
            var url = "http://192.168.2.13:83/api/userlogin/exec/ranks/" + newdonem;
            $.getJSON(url, function (data) {
               
                    d = data;
               

            }).done(function () {
                JSC.Chart('chartDiv', {
                    type: 'column',
                    series: [
                        {
                            points: [
                                { x: d[0].USER_NAME, y: d[0].SESSION_DURATION, color: 'green' },
                                { x: d[1].USER_NAME, y: d[1].SESSION_DURATION, color: 'green' },
                                { x: d[2].USER_NAME, y: d[2].SESSION_DURATION, color: 'green' },
                                { x: d[3].USER_NAME, y: d[3].SESSION_DURATION, color: 'green' },
                                { x: d[4].USER_NAME, y: d[4].SESSION_DURATION, color: 'green' },
                                { x: d[5].USER_NAME, y: d[5].SESSION_DURATION, color: 'blue' },
                                { x: d[6].USER_NAME, y: d[6].SESSION_DURATION, color: 'blue' },
                                { x: d[7].USER_NAME, y: d[7].SESSION_DURATION, color: 'blue' },
                                { x: d[8].USER_NAME, y: d[8].SESSION_DURATION, color: 'blue' },
                                { x: d[9].USER_NAME, y: d[9].SESSION_DURATION, color: 'blue' },
                                { x: d[10].USER_NAME, y: d[10].SESSION_DURATION, color: 'blue' },
                                { x: d[11].USER_NAME, y: d[11].SESSION_DURATION, color: 'blue' },
                                { x: d[12].USER_NAME, y: d[12].SESSION_DURATION, color: 'yellow' },
                                { x: d[13].USER_NAME, y: d[13].SESSION_DURATION, color: 'yellow' },
                                { x: d[14].USER_NAME, y: d[14].SESSION_DURATION, color: 'yellow' },
                                { x: d[15].USER_NAME, y: d[15].SESSION_DURATION, color: 'yellow' },
                                { x: d[16].USER_NAME, y: d[16].SESSION_DURATION, color: 'yellow' },
                                { x: d[17].USER_NAME, y: d[17].SESSION_DURATION, color: 'yellow' },
                                { x: d[18].USER_NAME, y: d[18].SESSION_DURATION, color: 'yellow' },
                                { x: d[19].USER_NAME, y: d[19].SESSION_DURATION, color: 'orange' },
                                { x: d[20].USER_NAME, y: d[20].SESSION_DURATION, color: 'orange' },
                                { x: d[21].USER_NAME, y: d[21].SESSION_DURATION, color: 'orange' },
                                { x: d[22].USER_NAME, y: d[22].SESSION_DURATION, color: 'orange' },
                                { x: d[23].USER_NAME, y: d[23].SESSION_DURATION, color: 'orange' },
                                { x: d[24].USER_NAME, y: d[24].SESSION_DURATION, color: 'orange' },
                                { x: d[25].USER_NAME, y: d[25].SESSION_DURATION, color: 'orange' },
                                { x: d[26].USER_NAME, y: d[26].SESSION_DURATION, color: 'orange' },
                                { x: d[27].USER_NAME, y: d[27].SESSION_DURATION, color: 'red' },
                                { x: d[28].USER_NAME, y: d[28].SESSION_DURATION, color: 'red' },
                                { x: d[29].USER_NAME, y: d[29].SESSION_DURATION, color: 'red' },
                                { x: d[30].USER_NAME, y: d[30].SESSION_DURATION, color: 'red' },
                                { x: d[31].USER_NAME, y: d[31].SESSION_DURATION, color: 'red' },
                                { x: d[32].USER_NAME, y: d[32].SESSION_DURATION, color: 'red' }
                            ]
                        }
                    ]
                });
            })
          
        }
        var filt = [];
        var filt2 = [];
        $(document).ready(function () {
            if ($(window).width() < 600) {
                $("#divPartial2").show();
                document.getElementById("yonetimpaneli").className = "menu-item open active";
                document.getElementById("istatistik").className = "menu-item active";
            }
            else {
                $("#divPartial").show();

                document.getElementById("yonetimpaneli1").className = "nav__link active";
                document.getElementById("istatistik1").className = "nav__dropdown-item active";
            }
            
            var d = null;
            
            $.getJSON('http://192.168.2.13:83/api/userlogin/exec/ranks',function (data) {
                d=data;
            }).done(function () {
                var aylist = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"]

                for (let i = 2; i <= new Date().getMonth(); i++) {
                    var option = document.createElement("option");
                    option.innerHTML = aylist[i] + '/' + 2022;
                    option.value = (i+1)+ '/' + 2022;
                    document.getElementById("filter").appendChild(option);
                    var option2 = document.createElement("option");
                    option2.innerHTML = aylist[i] + '/' + 2022;
                    option2.value = (i + 1) + '/' + 2022;
                    document.getElementById("filter2").appendChild(option2);
                }
             
                
                $('#table').bootstrapTable("load", d);

            }).then(function () {
                $("#filter").select2({ placeholder: 'DÖNEM' });
                $("#filter2").select2({ placeholder: 'DÖNEM' });
               
            })

           
            
        })

        function sureFormatter(value, index, row) {

            return value.toLocaleString() +" dakika"
        }
        function yuzdeFormatter(value, index, row) {

            return value.toLocaleString() + " %"
        }
        function ayFormatter(value, index, row) {
            var aylist=["Ocak","Şubat","Mart","Nisan","Mayıs","Haziran","Temmuz","Ağustos","Eylül","Ekim","Kasım","Aralık"]
            return aylist[value-1];
        }
        var type = 'fa'
        function loadingTemplate(message) {
            if (type === 'fa') {
                return '<div class="heart"><img id="progress" src="/images/novasaydam.png" style="max-width:15vw" /></div>'
            }
            if (type === 'pl') {
                return '<div class="ph-item"><div class="ph-picture"></div></div>'
            }
        }
        $('#toolbar').change(function (e) {
            var filterAlgorithm = $('#filter').val()
            var f = filterAlgorithm.toString().split(",");
            
            if (f.length == 1) {
                var url = "http://192.168.2.13:83/api/userlogin/exec/ranks/" + filterAlgorithm;
                $('#table').bootstrapTable('refresh', {
                    url: url
                })
            } else {
                var d = [];
                var conc = null;
                    for (let i = 0; i < f.length; i++) {
                        var url = "http://192.168.2.13:83/api/userlogin/exec/ranks/" + f[i];
                        $.getJSON(url, function (data) {
                            d.push(data);
                        }).done(function () {
                            if (d.length > 1) {
                                for (let a = 1; a < d.length; a++) {
                                    conc = d[a-1].concat(d[a])
                                }
                               
                            }
                            
                            $('#table').bootstrapTable("destroy");
                            $('#table').bootstrapTable({ data: conc })
                        })
                    }
             
                
            }        

        })
        var d = null;

        $.getJSON("http://192.168.2.13:83/api/userlogin/exec/ranks", function (data) {
            for (let i = 0; i < data.length; i++) {
                d=data;
            }

        })
        function change(value) {
            if (value == 1) {
                $("#row1").show();
                $("#row2").hide();
            } else {
                $("#row2").show();
                $("#row1").hide();
                var d = null;

                $.getJSON("http://192.168.2.13:83/api/userlogin/exec/ranks", function (data) {
                    for (let i = 0; i < data.length; i++) {
                        d = data;
                    }

                }).done(function () {
                    JSC.Chart('chartDiv', {
                        type: 'column',
                        series: [
                            {
                                points: [
                                    { x: d[0].USER_NAME, y: d[0].SESSION_DURATION, color: 'green' },
                                    { x: d[1].USER_NAME, y: d[1].SESSION_DURATION, color: 'green' },
                                    { x: d[2].USER_NAME, y: d[2].SESSION_DURATION, color: 'green' },
                                    { x: d[3].USER_NAME, y: d[3].SESSION_DURATION, color: 'green' },
                                    { x: d[4].USER_NAME, y: d[4].SESSION_DURATION, color: 'green' },
                                    { x: d[5].USER_NAME, y: d[5].SESSION_DURATION, color: 'blue' },
                                    { x: d[6].USER_NAME, y: d[6].SESSION_DURATION, color: 'blue' },
                                    { x: d[7].USER_NAME, y: d[7].SESSION_DURATION, color: 'blue' },
                                    { x: d[8].USER_NAME, y: d[8].SESSION_DURATION, color: 'blue' },
                                    { x: d[9].USER_NAME, y: d[9].SESSION_DURATION, color: 'blue' },
                                    { x: d[10].USER_NAME, y: d[10].SESSION_DURATION, color: 'blue' },
                                    { x: d[11].USER_NAME, y: d[11].SESSION_DURATION, color: 'blue' },
                                    { x: d[12].USER_NAME, y: d[12].SESSION_DURATION, color: 'yellow' },
                                    { x: d[13].USER_NAME, y: d[13].SESSION_DURATION, color: 'yellow' },
                                    { x: d[14].USER_NAME, y: d[14].SESSION_DURATION, color: 'yellow' },
                                    { x: d[15].USER_NAME, y: d[15].SESSION_DURATION, color: 'yellow' },
                                    { x: d[16].USER_NAME, y: d[16].SESSION_DURATION, color: 'yellow' },
                                    { x: d[17].USER_NAME, y: d[17].SESSION_DURATION, color: 'yellow' },
                                    { x: d[18].USER_NAME, y: d[18].SESSION_DURATION, color: 'yellow' },
                                    { x: d[19].USER_NAME, y: d[19].SESSION_DURATION, color: 'orange' },
                                    { x: d[20].USER_NAME, y: d[20].SESSION_DURATION, color: 'orange' },
                                    { x: d[21].USER_NAME, y: d[21].SESSION_DURATION, color: 'orange' },
                                    { x: d[22].USER_NAME, y: d[22].SESSION_DURATION, color: 'orange' },
                                    { x: d[23].USER_NAME, y: d[23].SESSION_DURATION, color: 'orange' },
                                    { x: d[24].USER_NAME, y: d[24].SESSION_DURATION, color: 'orange' },
                                    { x: d[25].USER_NAME, y: d[25].SESSION_DURATION, color: 'orange' },
                                    { x: d[26].USER_NAME, y: d[26].SESSION_DURATION, color: 'orange' },
                                    { x: d[27].USER_NAME, y: d[27].SESSION_DURATION, color: 'red' },
                                    { x: d[28].USER_NAME, y: d[28].SESSION_DURATION, color: 'red' },
                                    { x: d[29].USER_NAME, y: d[29].SESSION_DURATION, color: 'red' },
                                    { x: d[30].USER_NAME, y: d[30].SESSION_DURATION, color: 'red' },
                                    { x: d[31].USER_NAME, y: d[31].SESSION_DURATION, color: 'red' },
                                    { x: d[32].USER_NAME, y: d[32].SESSION_DURATION, color: 'red' }
                                ]
                            }
                        ]
                    });
                })
            }
        }
    </script>
</div>









