
@{

    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<doctype html>
<html lang=''>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="script.js"></script>
    <title>CSS MenuMaker</title>
</head>
<body>
    <div class="container">
        <div id='cssmenu'>
            <ul>
                <li><a href='#'><span>ANASAYFA</span></a></li>
                <li class='has-sub'>
                    <a href='#'><span>SATIŞ</span></a>
                    <ul>
                        <li class='has-sub'>
                            <a href='#'><span>Stok</span></a>
                            <ul>
                                <!--
                            <li><a href='#'><span>Windows Form</span></a></li>
                            <li class='last'><a href='#'><span>Console App</span></a></li>
                            -->
                            </ul>
                        </li>
                        <li class='has-sub'><a href='#'><span>Teklif</span></a></li>
                        <li class='has-sub'><a href='#'><span>Sipariş</span></a></li>
                    </ul>
                </li>
                <li><a href='#'><span>ÜRETİM</span></a></li>
                <li class='last'><a href='#'><span>SATIN ALMA</span></a></li>
                <li class='last'><a href='#'><span>MUHASEBE</span></a></li>
                <li class='last'><a href='#'><span>İNSAN KAYNAKLARI</span></a></li>
                <li class='last'><a href='#'><span>YÖNETİM</span></a></li>
                <li class='last'><a href='#'><span>YÖNETİM PANELİ</span></a></li>
            </ul>
        </div>
    </div>
   

    </body>
    </html>
