
<div class="modal fade" id="rehberSec" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="SiparisModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-sm modal-dialog-scrollable" style="max-width:90% !important">
        <div class="modal-content p-1" style="overflow-y:auto !important;width:90% !important;margin-left:7% !important;margin-top:1% !important;margin-bottom:1% !important">
            
            <div style="display:flex;justify-content:start;align-items:start">
                <div style="min-width: 90%" id="modalUst">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="check-tip" id="radioTumu" autocomplete="off" onclick="rehberRadio(this.value)" value="0" checked="checked"><label class="btn btn-outline-primary" for="radioTumu">TÜMÜ</label>
                        <input type="radio" class="btn-check" name="check-tip" id="radioSecilenler" autocomplete="off" onclick="rehberRadio(this.value)" value="1"><label class="btn btn-outline-primary" for="radioSecilenler">SEÇİLENLER</label>
                    </div>
                    <label id="toplamLabelRehber" class="ms-3" style="font-size:16px">Toplam Seçilen Hammadde Ağırlığı: -&#160;&#160;&#160;Toplam Seçilen Hammadde Metrajı: -</label>
                </div>
                <div style="min-width:10%" id="modalUstClose">
                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close" onclick="ModalKapat()"></button>
                </div>
            </div>
           
            
            <table id="urunler"
                   class="table table-striped mt-2"
                   data-toggle="table"
                   data-search="false"
                   data-export-types="['excel']"
                   data-pagination="true"
                   data-locale="tr-TR"
                   data-loading-template="loadingTemplate"
                   data-filter-control="true"
                   data-mobile-responsive="true">
                <thead>
                    <tr>

                        <th data-field="" data-halign="center" data-align="center" data-formatter="formatterIslem">İŞLEM</th>
                        <th data-field="SERI_NO" data-halign="center" data-align="center" data-formatter="formatterUrun" data-filter-control="input">Ürün Kodları</th>

                        <th data-field="ACIKLAMA_5" data-halign="center" data-align="center" data-filter-control="input">Eski No</th>
                        <th data-field="STOK_KODU" data-halign="center" data-align="center" data-filter-control="input">STOK KODU</th>
                        <th data-field="STOK_ADI" data-halign="center" data-align="center" data-filter-control="input">STOK ADI</th>
                        <th data-field="MENSEI" data-halign="center" data-align="center" data-filter-control="input">MENŞEİ</th>
                        <th data-field="ACIK1" data-halign="center" data-align="center" data-filter-control="input">Genişlik</th>
                        <th data-field="ACIK2" data-halign="center" data-align="center" data-filter-control="input">Kalınlık</th>
                        <th data-field="SERI_NO_4" data-halign="center" data-align="center" data-filter-control="input">Kaplama</th>
                        <th data-field="SERI_NO_3" data-halign="center" data-align="center" data-filter-control="input">Kalite</th>
                        <th data-halign="center" data-align="center" data-formatter="metFormatter">METRAJ</th>
                        <th data-field="MIKTAR" data-halign="center" data-align="center" data-formatter="formatterMiktar">AĞIRLIK</th>
                    </tr>
                </thead>
            </table>
        </div>


    </div>
</div>

<script>
    function formatterIslem(value, index, row) {
        var secili = $('input[name="uretim-tip"]:checked').val();
        if (secili == 'DL') {
            $('#modalUst').show();
            $('#modalUstClose').css("min-width","10%");
            /* return '<button class="btn btn-primary" type="button" onclick="rehberAktar(\''+index.SERI_NO+'\')">SEÇ</button>';*/
            var kontrol = true;
            $('#DLHammaddeCard').find('table').eq(0).find('tbody').eq(0).find('tr').each(function () {
                var $this = $(this);
                var s = $this.find('input').eq(1).val();
                if (s == index.SERI_NO)
                    kontrol = false;
            });
            if (kontrol)
                return '<div onclick="checkboxChange(\'' + index.SERI_NO + '\',this,\'' + index.STOK_KODU + '\',\'' + index.ACIK1 + '\',\'' + index.MIKTAR + '\',\'' + index.ACIK2 + '\')"><i class="bi bi-check-circle" style="cursor:pointer;color:red;font-size:x-large;"></i></div>'
            else
                return '<div onclick="checkboxChange(\'' + index.SERI_NO + '\',this,\'' + index.STOK_KODU + '\',\'' + index.ACIK1 + '\',\'' + index.MIKTAR + '\',\'' + index.ACIK2 + '\')"><i class="bi bi-check-circle-fill" style="cursor: pointer; color: rgb(113, 221, 55); font-size: x-large;"></i></div>'
        } else {
            $('#modalUstClose').css("min-width", "100%");
            $('#modalUst').hide();
            return '<button class="btn btn-primary" type="button" onclick="rehberAktar(\'' + index.SERI_NO + '\')">SEÇ</button>';
        }
        
    }
    function formatterUrun(value, index, row) {
        return '<span>' + value + '</span>';
    }
    function formatterMiktar(value, index, row) {
        return parseInt(value).toLocaleString();
    }
    function metFormatter(value, index, row) {
        var m = parseFloat(parseInt(index.MIKTAR) / (parseInt(index.ACIK1) * parseFloat(index.ACIK2.replace(",", ".")) * (0.00786))).toFixed(2)
        return m == "NaN" ? "-" : parseFloat(m).toLocaleString();
    }
    function urunClick(v) {
        
        $("#rehberSec").modal("hide");
        $("#seri").val(v.innerHTML).trigger("input");
    }
</script>
