<div id="DL01" class="machine shadow">
    <div class="machine-title">DL01</div>
    <hr class="horizontal-line" />
    <div class="machine-content">

        <div class="info-box rulo-acici">
            <span>RULO AÇICI</span>
            <div class="info"></div>
        </div>

        <div class="info-box operator1">
            <span>OPERATÖR 1</span>
            <div class="info"></div>
        </div>

        <div class="info-box uretilecek-is-emri">
            <span>ÜRETİLECEK İŞ EMRİ</span>
            <div class="info"></div>
        </div>

        <div class="info-box kombinasyon">
            <span>KOMBİNASYON</span>
            <div class="info" style="height:60px;overflow:hidden;position:relative;">
                <marquee behavior="scroll" direction="up" height="80px" scrollamount="2" scrolldelay="0" style="position:absolute;top:-10px;" >
                    <div class="d-flex flex-column justify-content-center align-items-center kombinasyon-scroll">
                        <span>a</span>
                        <span>b</span>
                        <span>c</span>
                        <span>d</span>
                        <span>e</span>
                        <span>f</span>
                    </div>
                </marquee>
            </div>
        </div>

        <div class="info-box uretilen">
            <span>SON ÜRETİLEN</span>
            <div class="info"></div>
        </div>

        <div class="info-box operator2">
            <span>OPERATÖR 2</span>
            <div class="info"></div>
        </div>

        <div class="info-box gunluk-ozet">
            <span>GÜNLÜK ÖZET</span>
            <div class="info"></div>
        </div>

    </div>
</div>


<script>
    function UpdateDL01(Data)
    {
        $('#DL01 .rulo-acici .info').html(RuloAciciBox(Data));
        $('#DL01 .operator1 .info').html(Operator1Box(Data));
        $('#DL01 .uretilecek-is-emri .info').html(UretilecekIsEmriBox(Data));
        $('#DL01 .kombinasyon .info .kombinasyon-scroll').html(KombinasyonBox(Data));
        $('#DL01 .uretilen .info').html(UretilenBox(Data));
        $('#DL01 .operator2 .info').html(Operator2Box(Data));
        $('#DL01 .gunluk-ozet .info').html(GunlukOzetBox(Data));
    }
</script>