<div id="SM03" class="machine shadow">
    <div class="machine-title">SM03</div>
    <hr class="horizontal-line" />
    <div class="machine-content">

        <div class="info-box rulo-acici">
            <span>RULO AÇICI</span>
            <div class="info"></div>
        </div>

        <div class="info-box operator1">
            <span>OPERATÖR 1</span>
            <div class="info"></div>
        </div>

        <div class="info-box uretilecek-is-emri">
            <span>ÜRETİLECEK İŞ EMRİ</span>
            <div class="info"></div>
        </div>

        <div class="info-box uretilen">
            <span>SON ÜRETİLEN</span>
            <div class="info"></div>
        </div>

        <div class="info-box operator2">
            <span>OPERATÖR 2</span>
            <div class="info"></div>
        </div>

        <div class="info-box gunluk-ozet">
            <span>GÜNLÜK ÖZET</span>
            <div class="info"></div>
        </div>

    </div>
</div>


<script>
    function UpdateSM03(Data)
    {
        $('#SM03 .rulo-acici .info').html(RuloAciciBox(Data));
        $('#SM03 .operator1 .info').html(Operator1Box(Data));
        $('#SM03 .uretilecek-is-emri .info').html(UretilecekIsEmriBox(Data));
        $('#SM03 .uretilen .info').html(UretilenBox(Data));
        $('#SM03 .operator2 .info').html(Operator2Box(Data));
        $('#SM03 .gunluk-ozet .info').html(GunlukOzetBox(Data));
    }
</script>