<div id="TP01" class="machine shadow">
    <div class="machine-title">TP01</div>
    <hr class="horizontal-line" />
    <div class="machine-content">

        <div class="info-box rulo-acici">
            <span>RULO AÇICI</span>
            <div class="info"></div>
        </div>

        <div class="info-box operator1">
            <span>OPERATÖR 1</span>
            <div class="info"></div>
        </div>

        <div class="info-box uretilen">
            <span>SON ÜRETİLEN</span>
            <div class="info"></div>
        </div>

        <div class="info-box operator2">
            <span>OPERATÖR 2</span>
            <div class="info"></div>
        </div>

        <div class="info-box gunluk-ozet">
            <span>GÜNLÜK ÖZET</span>
            <div class="info"></div>
        </div>

    </div>
</div>


<script>
    function UpdateTP01(Data)
    {
        $('#TP01 .rulo-acici .info').html(RuloAciciBox(Data));
        $('#TP01 .operator1 .info').html(Operator1Box(Data));
        $('#TP01 .uretilen .info').html(UretilenBox(Data));
        $('#TP01 .operator2 .info').html(Operator2Box(Data));
        $('#TP01 .gunluk-ozet .info').html(GunlukOzetBox(Data));
    }
</script>