<div class="card border-0 shadow-sm" style="min-height:285px;">
    <div class="card-body overflow-hidden h-100">
        <h5 class="card-title text-center mb-0">DOĞRUDAN TAHSİLAT SİSTEMİ</h5>

        <div class="card-content d-flex flex-column justify-content-center align-items-center">
            <div id="dbs-grafik"></div>

            <div class="table-responsive w-100" style="font-size:smaller;">
                <table class="table table-bordered table-sm align-middle text-center">
                    <thead>
                        <tr>
                            <th class="left-top-borderless-cell"></th>
                            <th>ESAS TUTAR</th>
                            <th>DEĞERLENMİŞ</th>
                            <th>DBS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:150px;"><div class="d-flex justify-content-start align-items-center gap-1"><div style="width: 15px; height: 15px; background-color: #99dbcb; "></div>YÜKLENEN</div></td>
                            <td id="YUKLENEN_DBS_FATURA">₺0,00</td>
                            <td id="DG_ODENMEMIS_DBS_TUTARI">₺0,00</td>
                            <td rowspan="3" id="TOPLAM_DBS_LIMIT">₺0,00</td>
                        </tr>
                        <tr>
                            <td><div class="d-flex justify-content-start align-items-center gap-1"><div style="width: 15px; height: 15px; background-color: #1EAE98;"></div>YÜKLENMEYEN</div></td>
                            <td id="YUKLENMEYEN_DBS_FATURA">₺0,00</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><div class="d-flex justify-content-start align-items-center gap-1"><div style="width: 15px; height: 15px; background-color: #233E8B;"></div>GÜNCEL DBS LİMİTİ</div></td>
                            <td></td>
                            <td id="DG_GUNCEL_DBS_LIMIT">₺0,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var DBSChart;

    $(document).ready(() =>
    {
        DBSGrafikOlustur();
    });

    function DBSGuncelle()
    {
        return new Promise((resolve, reject) => {
            $('#YUKLENEN_DBS_FATURA').html(ParaBirimiFormat(DetayliRiskLimitiBilgileri[0]?.YUKLENEN_DBS_FATURA ?? null));
            $('#DG_ODENMEMIS_DBS_TUTARI').html(ParaBirimiFormat(DetayliRiskLimitiBilgileri[0]?.DG_ODENMEMIS_DBS_TUTARI ?? null));
            $('#YUKLENMEYEN_DBS_FATURA').html(ParaBirimiFormat(DetayliRiskLimitiBilgileri[0]?.YUKLENMEYEN_DBS_FATURA ?? null));
            $('#DG_GUNCEL_DBS_LIMIT').html(ParaBirimiFormat(DetayliRiskLimitiBilgileri[0]?.DG_GUNCEL_DBS_LIMIT ?? null));
            $('#TOPLAM_DBS_LIMIT').html(ParaBirimiFormat(DetayliRiskLimitiBilgileri[0]?.TOPLAM_DBS_LIMIT ?? null));

            var EsasTutar = { name: 'ESAS TUTAR', data: [DetayliRiskLimitiBilgileri[0]?.YUKLENEN_DBS_FATURA ?? 0] };
            var Degerlenmis = { name: 'DEĞERLENME MİKTARI', data: [(DetayliRiskLimitiBilgileri[0]?.DG_ODENMEMIS_DBS_TUTARI ?? 0) - (DetayliRiskLimitiBilgileri[0]?.YUKLENEN_DBS_FATURA ?? 0)] };
            var GuncelDBSLimiti = { name: 'GÜNCEL DBS LİMİTİ', data: [DetayliRiskLimitiBilgileri[0]?.DG_GUNCEL_DBS_LIMIT ?? 0]};

            var Toplam = (DetayliRiskLimitiBilgileri[0]?.YUKLENEN_DBS_FATURA ?? 0) + ((DetayliRiskLimitiBilgileri[0]?.DG_ODENMEMIS_DBS_TUTARI ?? 0) - (DetayliRiskLimitiBilgileri[0]?.YUKLENEN_DBS_FATURA ?? 0)) + (DetayliRiskLimitiBilgileri[0]?.DG_GUNCEL_DBS_LIMIT ?? 0);
            var Fark = { name: 'Fark', data: [(DetayliRiskLimitiBilgileri[0]?.TOPLAM_DBS_LIMIT ?? 0) - Toplam]};

            DBSChart.updateSeries([EsasTutar, Degerlenmis, GuncelDBSLimiti, Fark], true);

            resolve(true);
        });
    }

    function DBSGrafikOlustur()
    {

        var options = {
            series: [],
            chart: {
                type: 'bar',
                height: 100,
                width: 450,
                stacked: true,
                toolbar: {
                    show: false
                }
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                }
            },
            stroke: {
                width: 0,
                colors: ['#fff']
            },
            xaxis: {
                categories: ['DBS'],
                labels: {
                    style: {
                        fontSize: '10px',
                        fontWeight: 500,
                    },
                    formatter: function (val) {
                        return ParaBirimiFormat(val)
                    }
                }
            },
            yaxis: {
                title: {
                    text: undefined
                },
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return ParaBirimiFormat(val)
                    }
                }
            },
            fill: {
                opacity: 1
            },
            legend: {
                show: true,
                position: 'top',
                showForNullSeries: false,
                showForZeroSeries: false,
            },
            dataLabels: {
                enabled: false
            }
        };

        DBSChart = new ApexCharts(document.querySelector("#dbs-grafik"), options);
        DBSChart.render();
    }
</script>