<div class="card border-0 shadow-sm" style="min-height:285px;">
    <div class="card-body overflow-hidden h-100">
        <h5 class="card-title text-center">-</h5>

        <div class="card-content d-flex justify-content-center align-items-center gap-3 pt-3">
            <div id="riskler-grafik-alani" class="skeleton rounded-circle" style="height:160px;width:160px;">
                <canvas id="RisklerGrafik"></canvas>
            </div>

            <div class="table-responsive w-100" style="font-size:smaller;">

            </div>
        </div>
    </div>
</div>

<style>
    .card-content {
        flex-direction: row;
    }

    @@media (max-width: 576px) {
        .card-content {
            flex-direction: column;
        }
    }
</style>