<div class="qr-scanner-area">
    <video id="qr-scanner"></video>
    <div class="qr-controls">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <select class="qr-camera-select"></select>
            <button id="SeriOkuButon" onclick="SeriOkuModDegistir()">HIZLI OKUTMA</button>
        </div>
        <i class='bx bx-x qr-scanner-exit' onclick="Close()"></i>
    </div>
    <div class="qr-scanner-loader" style="position: absolute; background: #00000080; left: 0; right: 0; bottom: 0; top: 0; z-index: 9999999;display:flex; justify-content: center; align-items: center; flex-direction: column;">
        <div class="heart"><img id="progress" src="~/images/novasaydam.png" width="400" /></div>
    </div>
</div>


<style>
    .qr-scanner-area {
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    #qr-scanner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .qr-controls {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 2rem;
        background: linear-gradient(180deg, rgba(0,0,0,0.7819502801120448) 0%, rgba(0,0,0,0) 35%);
    }


    .qr-camera-select {
        width: 250px !important;
        height: 3rem;
        background-color: #00000036;
        border: 1px solid #ffffff52;
        border-radius: 0.375rem;
        color: #ffffffff;
        font-size: large;
        padding: 0 0.25rem;
        backdrop-filter: blur(10px);
        cursor: pointer;
    }

        .qr-camera-select option {
            font-size: xx-large;
            cursor: pointer;
        }

    .qr-scanner-exit {
        font-size: xxx-large;
        color: white;
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.562));
        cursor: pointer;
    }

    #SeriOkuButon {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        height: 3rem;
        width: 65px;
        border-radius: 0.375rem;
    }

    .SeriOkuButonActive {
        background-color: white !important;
        color: black !important;
    }
</style>

<script>
    var Scanner;

    $(document).ready(() => {
        Scanner = new Instascan.Scanner({ video: document.getElementById('qr-scanner'), mirror: false, refractoryPeriod: 2000 });

        Scanner.addListener('scan', function (content) {
            if (content[0] == "H" || content[0] == "I") {
                HurdaVeIkinciKaliteBarkodGetir(content);
            }
            else {
                BarkodBakiyeGetir(content);
            }
        });
    });

    function BarkodModal() {

        document.getElementsByClassName('qr-scanner-area')[0].style.display = "block";
        SetFullscreen(document.getElementsByClassName('qr-scanner-area')[0]);

        

        let Cameras = [];

        Instascan.Camera.getCameras()
            .then(function (cameras, image) {
                
                this.Cameras = cameras;

                let MultipleCamera = cameras.length > 1;

                document.getElementsByClassName('qr-camera-select')[0].innerHTML = '';

                for (let i = 0; i < cameras.length; i++) {
                    var CameraName = (i == 0 ? "Ön Kamera" : (i == 1 ? "Arka Kamera" : cameras[i].name));
                    var CameraOption = new Option(CameraName, cameras[i].id);
                    document.getElementsByClassName('qr-camera-select')[0].add(CameraOption);
                }

                if (MultipleCamera) {
                    document.getElementsByClassName('qr-camera-select')[0].value = cameras[1].id;
                }

                Scanner.start(MultipleCamera ? cameras[1] : cameras[0]).then(() => { $('.qr-scanner-loader').fadeOut(); });

                document.getElementsByClassName('qr-camera-select')[0].addEventListener("change", event => {
                    Scanner.start(this.Cameras.find(c => c.id == event.target.value));
                });

            })
            .catch((e) => {
                Swal.fire({
                    text: "Kamera başlatılırken bir sorun oluştu.",
                    icon: "error",
                    showConfirmButton: false,
                    timer: '1500',
                    target: document.getElementsByClassName("qr-controls")[0],
                });

                setTimeout(() => {
                    Close();
                }, 1500);
            });
    }

    function Close() {
        document.getElementsByClassName('qr-scanner-area')[0].style.display = "none";

        if (Scanner != null && Scanner != undefined) {
            Scanner
                .stop()
                .then(() => {
                    document.exitFullscreen();
                    SeriOku = false;
                    $('#SeriOkuButon').removeClass('SeriOkuButonActive');
                    $('.qr-scanner-loader').fadeIn().css('display', 'flex');
                });
        }
    }

    document.addEventListener("fullscreenchange", FullscreenChanged);

    function FullscreenChanged(event) {
        if (!document.fullscreenElement) {
            document.getElementsByClassName('qr-scanner-area')[0].style.display = "none";
            $('.qr-scanner-loader').fadeIn().css('display', 'flex');

            if (Scanner != null && Scanner != undefined) {
                Scanner
                    .stop()
                    .then(() => {
                        document.exitFullscreen();
                        SeriOku = false;
                        $('#SeriOkuButon').removeClass('SeriOkuButonActive');
                        $('.qr-scanner-loader').fadeIn().css('display', 'flex');
                    });
            }
        }
    }

    function SetFullscreen(Item) {
        if (Item.requestFullscreen) {
            Item.requestFullscreen();
        }
        else if (Item.webkitRequestFullscreen) {
            Item.webkitRequestFullscreen();
        }
        else if (Item.msRequestFullscreen) {
            Item.msRequestFullscreen();
        }
    }

    function HurdaVeIkinciKaliteBarkodGetir(BARKOD_NO)
    {
        var ISLEM_TIPI = BARKOD_NO[0];
        var MIKTAR = parseInt(BARKOD_NO.substr(1));

        Swal.fire({
            text: 'ÜRÜN BİLGİLERİ',
            html: `<div class="d-flex flex-column justify-content-center align-items-center gap-2">
                        <table class="table table-striped table-bordered" style="text-align: center;vertical-align: middle;width: 100%; word-break: auto-phrase;">
                            <thead>
                                <th>BARKOD NO</th>
                                <th>MİKTAR 1</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>${ISLEM_TIPI == "H" ? "HURDA" : "İKİNCİ KALİTE"}</td>
                                    <td>${MiktarFormatla(MIKTAR)} KG</td>  
                                </tr>
                            </tbody>
                        </table>
                    </div>`,
            showCancelButton: true,
            showDenyButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            denyButtonColor: '#ff973f',
            confirmButtonText: 'Ekle',
            denyButtonText: 'Ekle ve Kapat',
            cancelButtonText: "Kapat",
            target: document.getElementsByClassName("qr-controls")[0],
        }).then((result) => {
            if (result.isConfirmed) {
                Kayitlar.push({
                    "ID": KayitId,
                    "ACTIVE": true,
                    "STOK_ADI": ISLEM_TIPI == "H" ? "HURDA" : "IKINCIKALITE",
                    "STOK_KODU": ISLEM_TIPI == "H" ? "HURDA" : "IKINCIKALITE",
                    "MIKTAR": MIKTAR,
                    "OLCU_BR1": "KG",
                    "MIKTAR2": 0,
                    "OLCU_BR2": null,
                    "SERI_NO": BARKOD_NO,
                    "ACIK1": null,
                    "ACIK2": null,
                    "ACIK3": null,
                    "SERI_NO_3": null,
                    "SERI_NO_4": null,
                    "ACIKLAMA_4": null,
                    "ACIKLAMA_5": null,
                    "GIRIS_DEPO": GirisDepo,
                    "CIKIS_DEPO": CikisDepo,
                    "PLAKA": $('#PLAKA').val() == '' ? null : $('#PLAKA').val(),
                    "SOFOR": $('#SOFOR').val() == '' ? null : $('#SOFOR').val()
                });

                KayitId += 1;
                LocalStorageTrigger();
                DurumDegisikligi(0);

                $('#STOK_ADLARI').prop("disabled", false);
                $('#BarkodButton').prop("disabled", false);

                $('#DepoTransferTable').bootstrapTable("load", Kayitlar);
            }
            if (result.isDenied)
            {
                Kayitlar.push({
                    "ID": KayitId,
                    "ACTIVE": true,
                    "STOK_ADI": ISLEM_TIPI == "H" ? "HURDA" : "IKINCIKALITE",
                    "STOK_KODU": ISLEM_TIPI == "H" ? "HURDA" : "IKINCIKALITE",
                    "MIKTAR": MIKTAR,
                    "OLCU_BR1": "KG",
                    "MIKTAR2": 0,
                    "OLCU_BR2": null,
                    "SERI_NO": BARKOD_NO,
                    "ACIK1": null,
                    "ACIK2": null,
                    "ACIK3": null,
                    "SERI_NO_3": null,
                    "SERI_NO_4": null,
                    "ACIKLAMA_4": null,
                    "ACIKLAMA_5": null,
                    "GIRIS_DEPO": GirisDepo,
                    "CIKIS_DEPO": CikisDepo,
                    "PLAKA": $('#PLAKA').val() == '' ? null : $('#PLAKA').val(),
                    "SOFOR": $('#SOFOR').val() == '' ? null : $('#SOFOR').val()
                });

                KayitId += 1;
                LocalStorageTrigger();
                DurumDegisikligi(0);

                $('#STOK_ADLARI').prop("disabled", false);
                $('#BarkodButton').prop("disabled", false);

                $('#DepoTransferTable').bootstrapTable("load", Kayitlar);

                Close();
            }
        });
    }

    function BarkodBakiyeGetir(BarkodNo) {
        var ProcUrl = "http://192.168.2.13:83/api/seri/bakiye/" + BarkodNo + "/" + CikisDepo;

        $.getJSON(ProcUrl, function (data) {
            if (data.length > 0) {
                if (!BarkodNoTablodaVarMi(BarkodNo)) {
                    if (data[0].MIKTAR > 0 || data[0].MIKTAR2 > 0) {
                        var Stok = StokAdlari.filter(x => x.STOK_KODU == data[0].STOK_KODU)[0];

                        SeciliStokKodu = Stok.STOK_KODU;

                        var STOK_ADI = Stok.STOK_ADI;
                        var MIKTAR = data[0].MIKTAR.toFixed(2);
                        var OLCU_BR1 = Stok.OLCU_BR1;
                        var MIKTAR2 = data[0].MIKTAR2.toFixed(2);
                        var OLCU_BR2 = Stok.OLCU_BR2;
                        var SERI_NO = BarkodNo;
                        var ACIK1 = data[0].ACIK2;
                        var ACIK2 = data[0].ACIK1;
                        var ACIK3 = data[0].ACIK3;
                        var SERI_NO_3 = data[0].SERI_NO_3;
                        var SERI_NO_4 = data[0].SERI_NO_4;
                        var ACIKLAMA_4 = data[0].ACIKLAMA_4;
                        var ACIKLAMA_5 = data[0].ACIKLAMA_5;

                        if (!SeriOku) {
                            $('#MIKTAR').val(MIKTAR);
                            $('#MIKTAR2').val(MIKTAR2);
                            $('#SERI_NO').val(SERI_NO);
                            $('#ACIK1').val(ACIK1);
                            $('#ACIK2').val(ACIK2);
                            $('#ACIK3').val(ACIK3);
                            $('#SERI_NO_3').val(SERI_NO_3);
                            $('#SERI_NO_4').val(SERI_NO_4);

                            $('#MIKTAR').prop('max', data[0].MIKTAR.toFixed(2));
                            $('#MIKTAR2').prop('max', data[0].MIKTAR2.toFixed(2));

                            $('#STOK_ADLARI').val(STOK_ADI);
                            $('#OLCU_BR1').val(OLCU_BR1);
                            $('#OLCU_BR2').val(OLCU_BR2);

                            $("#ACIKLAMA_4").val(ACIKLAMA_4);
                            $("#ACIKLAMA_5").val(ACIKLAMA_5);

                            Close();

                            TabloButonAyarla(1);
                            MiktarGirisKontrolu();

                            $('#STOK_ADLARI').prop("disabled", false);
                            $('#BarkodButton').prop("disabled", false);
                        }
                        else
                        {
                            Swal.fire({
                                text: 'ÜRÜN BİLGİLERİ',
                                html: `<div class="d-flex flex-column justify-content-center align-items-center gap-2">
                                <table class="table table-striped table-bordered" style="text-align: center;vertical-align: middle;width: 100%; word-break: auto-phrase;">
                                    <thead>
                                        <th>BARKOD NO</th>
                                        <th>MİKTAR 1</th>
                                        <th>MİKTAR 2</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>${SERI_NO}</td>
                                            <td>${MiktarFormatla(MIKTAR)} ${OLCU_BR1}</td>  
                                            <td>${MiktarFormatla(MIKTAR2)} ${OLCU_BR2}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>`,
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Evet',
                                cancelButtonText: "Hayır",
                                target: document.getElementsByClassName("qr-controls")[0],
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    Kayitlar.push({
                                        "ID": KayitId,
                                        "ACTIVE": true,
                                        "STOK_ADI": STOK_ADI,
                                        "STOK_KODU": SeciliStokKodu,
                                        "MIKTAR": MIKTAR,
                                        "OLCU_BR1": OLCU_BR1,
                                        "MIKTAR2": MIKTAR2,
                                        "OLCU_BR2": OLCU_BR2,
                                        "SERI_NO": SERI_NO,
                                        "ACIK1": ACIK1,
                                        "ACIK2": ACIK2,
                                        "ACIK3": ACIK3,
                                        "SERI_NO_3": SERI_NO_3,
                                        "SERI_NO_4": SERI_NO_4,
                                        "ACIKLAMA_4": ACIKLAMA_4,
                                        "ACIKLAMA_5": ACIKLAMA_5,
                                        "GIRIS_DEPO": GirisDepo,
                                        "CIKIS_DEPO": CikisDepo,
                                        "PLAKA": $('#PLAKA').val() == '' ? null : $('#PLAKA').val(),
                                        "SOFOR": $('#SOFOR').val() == '' ? null : $('#SOFOR').val()
                                    });

                                    KayitId += 1;
                                    LocalStorageTrigger();
                                    DurumDegisikligi(0);

                                    $('#STOK_ADLARI').prop("disabled", false);
                                    $('#BarkodButton').prop("disabled", false);

                                    $('#DepoTransferTable').bootstrapTable("load", Kayitlar);
                                }
                            });
                        }
                    }
                    else {
                        //DEPO_UYARI: miktar uyarısı
                    }
                }
                else {
                    Swal.fire({
                        text: "Aynı barkod no tablo üzerinde mevcut.",
                        icon: "warning",
                        showConfirmButton: false,
                        timer: '1500',
                        target: document.getElementsByClassName("qr-controls")[0],
                    });
                }
            }
            else {
                Swal.fire({
                    text: "Okunan barkod no bulunmamaktadır.",
                    icon: "error",
                    showConfirmButton: false,
                    timer: '1500',
                    target: document.getElementsByClassName("qr-controls")[0],
                });
            }
        });

        MiktarGirisKontrolu();
    }

    var SeriOku = false;

    function SeriOkuModDegistir() {
        SeriOku = !SeriOku;

        $('#SeriOkuButon').toggleClass('SeriOkuButonActive');

        //SeriOku ? $('#qr-box-information').fadeIn('fast').css('display', 'flex') : $('#qr-box-information').fadeOut('fast');
    }
</script>