
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <video autoplay muted loop id="myVideo" style="opacity:0.4">
        <source src="~/Content/Images/2.mp4" type="video/mp4">
    </video>

        
    <div class="container">
        <div class="d-flex justify-content-center "><img style="width:37%;margin-top:10%" src="~/Content/Images/efece_logo.png" alt="Alternate Text" /></div>
        <div class="d-flex justify-content-center" style="margin-top:10%">

            <div class="card">
                <div class="card-header">
                    <h3>Giriş</h3>

                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Kullanıcı Adı">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Şifre">
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="button" value="Giriş" class="btn login_btn" onclick="location.href = '@Url.Action("Test","Home")'">
                        </div>
                        <div class="d-flex remember" style="margin-left:31%;margin-top:5%">
                            <input type="checkbox">Beni Hatırla
                        </div>
                    </form>
                </div>
                <div class="card-footer">

                    <div class="d-flex justify-content-center">
                        <a href="#">Şifremi unuttum</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
