
@{
    ViewBag.Title = "LayoutDemo";
    Layout = "~/Views/Shared/Layout_Empty.cshtml";
}

<link href="~/wwwroot/css/BarcodeTrackTree.css" rel="stylesheet" />

@Html.Partial("../Shared/BarcodeScanner")

<div class="nova-card d-flex justify-content-start align-items-center p-3 mb-2">

    <div class="row d-flex justify-content-start align-items-center gap-2">
        <div class="col-auto">
            <div class="nova-float-label nova-input-group">
                <input id="BARCODE_NUMBER" type="text" placeholder="" maxlength="15">
                <label>SERİ NO</label>
                <div class="addon">
                    <button class="nove-primary-button icon-button" onclick="StartQRScanner(QRScan)">
                        <i class='bx bx-qr-scan'></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <button id="GET_DATA_BUTTON" class="nove-primary-button" disabled>BİLGİLERİ GETİR</button>
        </div>
    </div>

</div>

<div id="tree-view" class="nova-card">

    <div id="panzoom-tree" class="tree">
        <ul>
            <li>
                <div class="node" data-barcode="EFC000000008219">EFC000000008219</div>

                <ul>

                    <!-- second-layer -->
                    <li>
                        <div class="node" data-barcode="EFC000000008220">EFC000000008220</div>
                        <ul>
                            <!-- third-layer -->
                            <li>
                                <div class="node" data-barcode="EFC000000008222">EFC000000008222</div>
                            </li>
                            <!-- third-layer -->
                            <!-- third-layer -->
                            <li>
                                <div class="node" data-barcode="EFC000000008223">EFC000000008223</div>

                                <ul>
                                    <!-- fourth-layer -->
                                    <li>
                                        <div class="node" data-barcode="EFC000000008224">EFC000000008224</div>
                                    </li>
                                    <!-- fourth-layer -->
                                    <!-- fourth-layer -->
                                    <li>
                                        <div class="node" data-barcode="EFC000000008225">EFC000000008225</div>
                                    </li>
                                    <!-- fourth-layer -->
                                </ul>
                            </li>
                            <!-- third-layer -->
                        </ul>
                    </li>
                    <!-- second-layer -->

                </ul>
            </li>
        </ul>
    </div>

</div>

<script src="~/wwwroot/libs/observable-slim/observable-slim.js"></script>
<script src="~/wwwroot/libs/hammerjs/hammer.js"></script>
<script src="~/wwwroot/libs/panzoom/dist/panzoom.js"></script>
<script src="~/wwwroot/js/BarcodeTrack.js"></script>