@{
    Layout = "~/Views/Shared/_Layout_Fiyat_yonetim.cshtml";
}


<link href="~/Content/bootstrap-table-master/dist/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/bootstrap-icons-1.11.2/font/bootstrap-icons.css" rel="stylesheet" />
<link href="~/Scripts/select2.css" rel="stylesheet" />
<link href="~/assets/fontawesome.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>
<script src="~/assets/vendor/libs/popper/popper.js"></script>
<link href="~/assets/vendor/css/cssprogress.min.css" rel="stylesheet" />
<script src="~/assets/sweetalert/sweetalert.js"></script>
<style>
    body {
        padding: 0 0 0 4rem !important;
    }

    #table i {
        color: #00AAFF;
        font-weight: 300;
    }

        #table i:hover {
            opacity: 0.4;
        }

    .vertical-center {
        min-height: 95%;
        min-height: 95vh;
        display: flex;
        align-items: center;
    }

    .search {
        width: 80%;
        float: left !important;
    }

    .heart {
        animation: heartbeat 1s infinite alternate;
    }

    .swal2-icon {
        font-size: 15px;
    }

    .swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
        background: rgba(0,0,0,.4) !important;
    }

    .card-view-title {
        max-width: 32% !important;
    }

    .card-view:nth-child(5) .card-view-value {
        margin-left: 32.5% !important;
        margin-top: 7px;
    }

    @@media screen and (max-width: 600px) {
        #table {
            font-size: 12px;
        }

        input {
            font-size: 12px !important;
        }

        .search {
            width: 50%;
        }
    }

    @@media screen and (min-width: 601px) {

        .swal2-modal {
            width: 35vw !important;
        }
    }

    @@keyframes heartbeat {
        from {
            opacity: 0.3;
            transform: scale(0.32);
        }

        to {
            opacity: 1;
            transform: scale(0.40);
        }
    }


    .animated {
        -webkit-animation: bounce 1.5s infinite;
        animation: bounce 1.5s both infinite;
        animation-direction: reverse
    }

    @@-webkit-keyframes bounce {
        0% {
            -webkit-transform: translateY(0);
            opacity: 1;
        }

        60% {
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(-8px);
            opacity: 1
        }
    }

    @@-moz-keyframes bounce {
        0% {
            -webkit-transform: translateY(0);
            opacity: 1;
        }

        60% {
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(-8px);
            opacity: 1
        }
    }

    @@-o-keyframes bounce {
        0% {
            -webkit-transform: translateY(0);
            opacity: 1;
        }

        60% {
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(-8px);
            opacity: 1
        }
    }

    @@keyframes bounce {
        0% {
            -webkit-transform: translateY(0);
            opacity: 1;
        }

        60% {
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(-8px);
            opacity: 1
        }
    }
</style>

<div class="jumbotron vertical-center" onclick="hideAllPop()">
    <div id="nova-overlay" style="position: absolute; background: #00000080; left: 0; right: 0; bottom: 0; top: 0; z-index: 9999999;display:none;justify-content:center;align-items:center;">
        <div class="heart"><img id="progress" src="~/images/novasaydam.png" width="400" /></div>
    </div>
    @{ DateTime dateTime = DateTime.Now;
        var time = dateTime.ToShortTimeString();
        var tarih = dateTime.ToShortDateString();
        ;}
    <div class="container-fluid">




        <div id="employeeTableWrapper" class="tableWrapper">
            <div id="toolbar" class="mt-2 w-100"></div>
            <table id="table"
                   class="table table-striped"
                   data-show-fullscreen="true"
                   data-toolbar="#toolbar"
                   data-show-export="true"
                   data-export-data-type="all"
                   data-export-types="['xlsx','pdf']"
                   data-pagination="false"
                   data-search="true"
                   data-show-columns="false"
                   data-show-columns-toggle-all="false"
                   data-locale="tr-TR"
                   data-height="700"
                   data-filter-control="true"
                   data-filter-control-multiple-search="true"
                   data-loading-template="loadingTemplate"
                   data-mobile-responsive="true"
                   data-reorderable-rows="false">
                <thead>
                    <tr id="trid">
                        <th data-field="FK_ACIKLAMA" data-halign="center" data-align="center" data-formatter="formatterAciklama">ACIKLAMA</th>
                        <th data-field="FIYATDOVIZTIPI" data-halign="center" data-align="center" data-formatter="formatter">DOVIZ TIPI</th>
                        <th data-field="FIYAT2" data-halign="center" data-align="center" data-formatter="formatterToptan">TOPTAN FIYAT</th>
                        <th data-field="FIYAT3" data-halign="center" data-align="center" data-formatter="perToptan">PERAKENDE FIYAT</th>
                        <th data-field="YOK" data-halign="center" data-align="center" data-visible="false" data-force-export="true" data-formatter="formattergizli1">TOPTAN FIYAT</th>
                        <th data-field="YOK1" data-halign="center" data-align="center" data-visible="false" data-force-export="true" data-formatter="formattergizli2">PERAKENDE FIYAT</th>
                        <th data-field="OZELKOSULLAR" data-force-export="false" data-visible="false" data-halign="center" data-align="center" data-formatter="formatterKosul">OZEL KOSULLAR</th>
                    </tr>
                </thead>
            </table>



        </div>
    </div>
    <script>
        function pertopFormatter(value, index, row) {

            return (index.FIYAT3 - index.FIYAT2).toLocaleString({ max: 2 });

        }
        var type = 'fa'

        function loadingTemplate(message) {
         
                return '<div class="text-center">YÜKLENİYOR..</div>'
          
        }
        var sondurum = null;
        $(document).ready(function () {
            ShowProgress()
            $('#pageName').html('<div class="dot"></div> Fiyat Listesi')
            $.getJSON("http://192.168.2.13:83/api/fiyat/exec/fiyatdurum", function (data) {
                sondurum = data;
            }).done(() => {
                $("#table").bootstrapTable({
                    url: "http://192.168.2.13:83/api/fiyat/exec/000000000000001",
                    exportOptions: {
                        fileName: function () {
                            var dat = new Date();
                            return "Güncel_Fiyat_Listesi_" + dat.toLocaleDateString() + "_" + dat.getHours() + "." + dat.getMinutes();
                        },
                        jspdf: {
                            orientation: 'l',
                            format: 'a4',
                            autotable: {
                                tableWidth: 'auto',
                                columnStyles: {
                                    4: {
                                        columnMargin: 0
                                    }
                                },

                            },



                        },
                        ignoreColumn: ['FIYAT3', 'FIYAT2']

                    }
                }).after(function () {
                    HideProgress();
                });

                document.getElementsByClassName("search-input")[0].onkeyup = function () {
                    document.getElementsByClassName("search-input")[0].value = document.getElementsByClassName("search-input")[0].value.toUpperCase();
                    document.getElementsByClassName("search-input")[0].value = document.getElementsByClassName("search-input")[0].value.replace("İ", "I").replace("Ö", "O").replace("Ü", "U").replace("Ş", "S").replace("Ç", "C").replace("Ğ", "G");

                }

            });


            $("#divPartial").show();

            document.getElementById("satis1").className = "nav__link active";
            document.getElementById("fiyatlistesi1").className = "nav__dropdown-item active";




        }).ajaxComplete(function () {

            $(".bx-info-circle").popover();


        })
        function formatterToptan(value, index, row) {
            var d = sondurum.filter(x => x.FIYATKODU == index.FIYATKODU);
            if (d.length > 0) {
                if (d[0].FIYAT2 == "YÜKSELDİ") {
                    if (index.FIYATDOVIZTIPI != "TRY") {
                        if (value > 2) {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 }) + "</div><div class='col-6 text-start'><i class='bx bxs-up-arrow' style='color:#00ee00'></i></div></div>";
                        } else {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 }) + "</div><div class='col-6 text-start'><i class='bx bxs-up-arrow' style='color:#00ee00'></i></div></div>";
                        }

                    } else {

                        return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</div><div class='col-6 text-start'><i class='bx bxs-up-arrow' style='color:#00ee00'></i></div></div>";
                    }
                }
                else if (d[0].FIYAT2 == "DÜŞTÜ") {
                    if (index.FIYATDOVIZTIPI != "TRY") {
                        if (value > 2) {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 }) + "</div><div class='col-6 text-start'><i class='bx bxs-down-arrow' style='color:#ff0200'></i></div></div>";
                        } else {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 }) + "</div><div class='col-6 text-start'><i class='bx bxs-down-arrow' style='color:#ff0200'></i></div></div>";
                        }

                    } else {

                        return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</div><div class='col-6 text-start'><i class='bx bxs-down-arrow' style='color:#ff0200'></i></div></div>";
                    }
                }
                else {
                    if (index.FIYATDOVIZTIPI != "TRY") {
                        if (value > 2) {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 }) + "</div></div>";
                        } else {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 }) + "</div></div>";
                        }

                    } else {

                        return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</div></div>";
                    }
                }
            } else {
                if (index.FIYATDOVIZTIPI != "TRY") {
                    if (value > 2) {
                        return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 }) + "</div></div>";
                    } else {
                        return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 }) + "</div></div>";
                    }

                } else {

                    return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</div></div>";
                }
            }

        }
        function perToptan(value, index, row) {
            var d = sondurum.filter(x => x.FIYATKODU == index.FIYATKODU);
            if (d.length > 0) {
                if (d[0].FIYAT3 == "YÜKSELDİ") {
                    if (index.FIYATDOVIZTIPI != "TRY") {
                        if (value > 2) {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 }) + "</div><div class='col-6 text-start'><i class='bx bxs-up-arrow' style='color:#00ee00'></i></div></div>";
                        } else {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 }) + "</div><div class='col-6 text-start'><i class='bx bxs-up-arrow' style='color:#00ee00'></i></div></div>";
                        }

                    } else {

                        return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</div><div class='col-6 text-start'><i class='bx bxs-up-arrow' style='color:#00ee00'></i></div></div>";
                    }
                }
                else if (d[0].FIYAT2 == "DÜŞTÜ") {
                    if (index.FIYATDOVIZTIPI != "TRY") {
                        if (value > 2) {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 }) + "</div><div class='col-6 text-start'><i class='bx bxs-down-arrow' style='color:#ff0200'></i></div></div>";
                        } else {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 }) + "</div><div class='col-6 text-start'><i class='bx bxs-down-arrow' style='color:#ff0200'></i></div></div>";
                        }

                    } else {

                        return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</div><div class='col-6 text-start'><i class='bx bxs-down-arrow' style='color:#ff0200'></i></div></div>";
                    }
                }
                else {
                    if (index.FIYATDOVIZTIPI != "TRY") {
                        if (value > 2) {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 }) + "</div></div>";
                        } else {
                            return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 }) + "</div></div>";
                        }

                    } else {

                        return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</div></div>";
                    }
                }
            }
            else {
                if (index.FIYATDOVIZTIPI != "TRY") {
                    if (value > 2) {
                        return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 }) + "</div></div>";
                    } else {
                        return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 }) + "</div></div>";
                    }

                } else {

                    return "<div class='row'><div class='col-6 text-end'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</div></div>";
                }
            }

        }
        function formatter(value, index, row) {
            if (index.FIYATKODU.substring(0, 3) == "ISK") {
                return value + "&nbsp;<span style='font-size:10px'>(" + index.FIYATKODU.substring(0, 3) + ")</span>";
            } else {
                return value;
            }


        }
        function formatterAll(value, index, row) {
            if (index.FIYATDOVIZTIPI != "TRY") {
                if (value > 2) {
                    return value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 });
                } else {
                    return value.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 });
                }

            } else {

                return value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
            }


        }
        function formattergizli1(value, index, row) {
            if (index.FIYATDOVIZTIPI != "TRY") {
                if (value > 2) {
                    return (index.FIYAT2.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 })).replace(",", ".");
                } else {
                    return (index.FIYAT2.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 })).replace(",", ".");
                }

            } else {

                return (index.FIYAT2.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 })).replace(",", ".");
            }
        }
        function formattergizli2(value, index, row) {
            if (index.FIYATDOVIZTIPI != "TRY") {
                if (value > 2) {
                    return (index.FIYAT3.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 3 })).replace(",", ".");
                } else {
                    return (index.FIYAT3.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 })).replace(",", ".");
                }

            } else {

                return (index.FIYAT3.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 })).replace(",", ".");
            }
        }

        function formatterAciklama(value, index, row) {
            if (index.OZELKOSULLAR != "null" && index.OZELKOSULLAR != null) {
                return value + " <i style='cursor:help' class='bx bx-info-circle mt-2' data-bs-toggle='popover' data-bs-offset='0,14' data-bs-placement='right' data-bs-html='true' data-bs-content='<p>" + (index.OZELKOSULLAR == "null" ? "Özel koşul bulunmamakta." : index.OZELKOSULLAR.replaceAll("::", "<br/>").replaceAll("&.&", "+").replaceAll("&yuzde&", "%").replaceAll("&tire&", "/").replaceAll("&eksi&", "-").replaceAll("&gulucuk&", "😀").replaceAll("&gulucuk&", "😀")) + "</p>' title='Ek Bilgiler'></i>";
            } else {
                return value;
            }

        }
        function formatterKosul(value, index, row) {
            return (value == null ? "-" : value.replaceAll("::", "<br/>").replaceAll("İ", "I").replaceAll("Ö", "O").replaceAll("ö", "o").replaceAll("Ü", "U").replaceAll("ü", "u").replaceAll("Ş", "S").replaceAll("ş", "s").replaceAll("Ç", "C").replaceAll("ç", "c").replaceAll("Ğ", "G").replaceAll("ğ", "g"));
        }
        function hideAllPop() {
            $(".popover").hide();
        }
        function ShowProgress() {
            document.body.style.overflow = 'hidden';
            document.activeElement.blur();
            $('#nova-overlay').fadeIn('fast').css('display', 'flex');
        }
        function HideProgress() {
            document.body.style.overflow = 'auto';
            $('#nova-overlay').fadeOut('slow');
        }
    </script>
</div>







