@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<style>
    .heart {
        animation: heartbeat 1s infinite alternate;
    }

    @@keyframes heartbeat {
        from {
            opacity: 0.3;
            transform: scale(0.32);
        }

        to {
            opacity: 1;
            transform: scale(0.40);
        }
    }

    .card-view {
        border-bottom: 1px dashed gray;
        margin-top: 2px;
    }

    .card-view-value {
        margin-left: 5px;
        white-space: normal;
    }

    .select2-container {
        width: 100%;
    }

    .search {
        width: 100%;
    }

    #filter {
        width: 98%;
    }

    .menu1 {
        display: none;
    }



    @@media screen and (max-width: 600px) {
        .menu1 {
            display: inline-flex;
        }
        /* .btn-group {
            display: none;
        }*/
    }
</style>

<div class="container-fluid h-100">

    <div class="card" style="font-size:12px">

        <div class="card-header pb-0">
            <div class="btn-group menu1">
                <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" style="">
                    <li><a class="dropdown-item" onclick="change(1)">Standart</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" onclick="change(2)">Detaylı</a></li>


                </ul>
            </div>

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" onclick="change(1)" name="btnradio" id="btnradio1" checked="" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio1">Standart</label>
                <input type="radio" class="btn-check" onclick="change(2)" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio2">Detaylı</label>

            </div>
            <div class="avatar avatar-online float-end mb-0" data-bs-toggle="dropdown">
                @{
                    string s = Request.Cookies["Id"].Value + ".png?" + DateTime.Now.Ticks.ToString();
                }
                <object data="/assets/img/avatars/@s" type="image/png" class="w-px-40 h-auto rounded-circle">
                    <img src="/assets/img/avatars/7.png" class="w-px-40 h-auto rounded-circle">
                </object>
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href='@Url.Action("Index", "Profil")'>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar avatar-online">
                                    <object data="/assets/img/avatars/@s" type="image/png" class="w-px-40 h-auto rounded-circle">
                                        <img src="/assets/img/avatars/7.png" class="w-px-40 h-auto rounded-circle">
                                    </object>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                @if (@Request.Cookies["Name"] != null)
                                {
                                    <span class="fw-semibold d-block">@Request.Cookies["Name"].Value</span>
                                    <small class="text-muted">Yetki: @Request.Cookies["RoleName"].Value</small>
                                }
                                else
                                {
                                    <span class="fw-semibold d-block">Test</span>
                                    <small class="text-muted">Yetki: Test</small>
                                }

                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="dropdown-item" data-bs-toggle="modal"
                       data-bs-target="#cikis">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Oturumu Kapat</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">

           
          
            <div id="employeeTableWrapper" class="tableWrapper" >
                <div id="toolbar">

                    <select id="filter" multiple="multiple" name="filterAlgorithm">
                        

                    </select>

                </div>
               
                <table id="table"
                       class="table table-striped"
                       data-show-fullscreen="true"
                       data-buttons-order="['paginationSwitch', 'columns', 'filterTable']"
                       data-toggle="table"
                       data-show-export="false"
                       data-export-data-type="all"
                       data-export-types="['excel']"
                       data-pagination="true"
                       data-search="true"
                       data-toolbar="#toolbar"
                       data-show-columns="true"
                       data-show-columns-toggle-all="true"
                       data-locale="tr-TR"
                       data-filter-control="true"
                       data-filter-control-multiple-search="true"
                       data-url="http://192.168.2.13:83/api/stok"
                       data-loading-template="loadingTemplate"
                       data-height="800"
                       data-mobile-responsive="true"
                       data-show-footer="false"
                       data-detail-view="false"
                       data-detail-formatter="detailFormatter"
                       data-check-on-init="true">
                    <thead>
                        <tr>
                            <th data-field="STOK_ADI" data-halign="center" data-sortable="true" data-width="200" data-width-unit="px">Stok Adı</th>
                            <th data-field="SATISA_HAZIR" data-halign="center" data-sortable="true" data-formatter="satishzrFormatter">Satışa Hazır</th>
                            <th data-field="BEKLEYEN_SIPARIS" data-halign="center" data-formatter="sipFormatter" data-sortable="true">Bekleyen Sipariş</th>
                            <th data-field="BAKIYE" data-halign="center" data-formatter="bakiyeFormatter" data-sortable="true">Bakiye</th>
                            <th data-field="BEKL_IE_MIKTAR" data-halign="center" data-sortable="true" data-formatter="ieFormatter">Bekleyen İş Emri</th>
                            <th data-field="FAB_STOK_MIK" data-halign="center" data-sortable="true" data-formatter="fabFormatter">Fabrika Stok</th>
                            <th data-field="GRUP_ISIM" data-halign="center" data-visible="false" data-filter-strict-search="false">Grup Adı</th>
                            <th data-formatter="girisFormatter" data-halign="center" data-searchable="false" data-width="300" data-width-unit="px">Son Girişler</th>
                            <th data-formatter="cikisFormatter" data-halign="center" data-searchable="false" data-width="300" data-width-unit="px">Son Çıkışlar</th>
                            @{
                                if (ViewBag.OzelYetki)
                                {
                                    <th data-formatter="listefiyatiFormatter" data-visible="false" data-halign="center" data-searchable="false">Liste Fiyatı</th>
                                    <th data-formatter="iskontoFormatter" data-halign="center" data-searchable="false">İskonto</th>
                                    <th data-formatter="fiyatlarFormatter" data-halign="center" data-searchable="false">Toptan/Perakende</th>
                                }
                            }
                            <th data-sortable="true" data-visible="false" data-halign="center" data-formatter="terminFormatter">Termin Tarihi</th>

                        </tr>
                    </thead>
                </table>


            </div>
            <div id="employeeTableWrapper2" class="tableWrapper">
                <div id="toolbar2">

                    <select id="filter2" multiple="multiple" name="filterAlgorithm2">
                        

                    </select>

                </div>
                <table id="table2"
                       class="table table-striped"
                       data-buttons-order="['paginationSwitch', 'columns', 'filterTable']"
                       data-page-list="[5,10, 25, 50, 100, 200, All]"
                       data-page-size="5"
                       data-toggle="table"
                       data-show-export="true"
                       data-export-data-type="all"
                       data-export-types="['excel']"
                       data-pagination="true"
                       data-search="true"
                       data-toolbar="#toolbar2"
                       data-show-columns="true"
                       data-show-columns-toggle-all="true"
                       data-locale="tr-TR"
                       data-filter-control="true"
                       data-filter-control-multiple-search="true"
                       data-url="http://192.168.2.13:83/api/stok"
                       data-loading-template="loadingTemplate"
                       data-mobile-responsive="true">
                    <thead>
                        <tr>
                            <th data-field="STOK_ADI" data-sortable="true" data-formatter="adFormatter" >Stok Adı</th>
                            <th data-field="SATISA_HAZIR" data-sortable="true" data-formatter="fabadFormatter">Satışa Hazır Miktar</th>
                            <th data-field="SAT_HZR_ADET" data-sortable="true" data-formatter="fabadFormatter">Satışa Hazır Adet</th>
                            <th data-field="BEKLEYEN_SIPARIS" ddata-sortable="true" data-formatter="fabadFormatter">Bekleyen Sipariş Miktar</th>
                            <th data-field="BEK_SIP_ADET" ddata-sortable="true" data-formatter="fabadFormatter">Bekleyen Sipariş Adet</th>
                            <th data-field="BAKIYE" data-sortable="true" data-formatter="fabadFormatter">Bakiye Miktar</th>
                            <th data-field="AD_BAKIYE" data-sortable="true" data-formatter="fabadFormatter">Bakiye Adet</th>
                            <th data-field="BEKL_IE_MIKTAR" data-sortable="true" data-formatter="fabadFormatter">Bekleyen İş Emri Miktar</th>
                            <th data-field="BEKL_IE_AD" data-sortable="true" data-formatter="fabadFormatter">Bekleyen İş Emri Adet</th>
                            <th data-field="FAB_STOK_MIK" data-sortable="true" data-formatter="fabadFormatter">Fabrika Stok Miktar</th>
                            <th data-field="FAB_STOK_AD" data-sortable="true" data-formatter="fabadFormatter">Fabrika Stok Adet</th>
                            <th data-field="ALISFIYAT1" data-sortable="true" data-formatter="fabadFormatter">Alış Fiyatı</th>
                            <th data-field="ALISFIYAT2" data-sortable="true" data-formatter="fabadFormatter">Alış Fiyatı 2</th>
                            <th data-field="SATISFIYAT1" data-sortable="true" data-formatter="fabadFormatter">Satış Fiyatı</th>
                            <th data-field="SATISFIYAT2" data-sortable="true" data-formatter="fabadFormatter">Satış Fiyatı 2</th>
                            <th data-field="GRUP_ISIM" data-visible="false" data-filter-strict-search="false">Grup Adı</th>
                            <th data-sortable="true" data-formatter="terminFormatter">Termin Tarihi</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>

    </div>
</div>
<script>
    document.getElementById("satis").className = "menu-item open active";
    document.getElementById("stok").className = "menu-item active";
    var type = 'fa'

    function loadingTemplate(message) {
        if (type === 'fa') {
            return '<div class="heart"><img id="progress" src="/images/novasaydam.png" style="max-width:15vw" /></div>'
        }
        if (type === 'pl') {
            return '<div class="ph-item"><div class="ph-picture"></div></div>'
        }
    }
    var grupisimleri = [];
    var termin = [];
    $.getJSON('http://192.168.2.13:83/api/UretimTermin', function (data) {
        termin = data;

    })
    $.getJSON('http://192.168.2.13:83/api/stok', function (data) {
        for (let i = 0; i < data.length; i++) {
            if (!grupisimleri.includes(data[i].GRUP_ISIM)) {
                grupisimleri.push(data[i].GRUP_ISIM);
            }
        }

    }).done(function () {
        for (let i = 0; i < grupisimleri.length; i++) {
            var opt = document.createElement("option");
            opt.innerHTML = grupisimleri[i];
            var opt2 = document.createElement("option");
            opt2.innerHTML = grupisimleri[i];
            document.getElementById("filter").appendChild(opt);
            document.getElementById("filter2").appendChild(opt2);
        }
    })
    $('#filter').select2({ placeholder: 'Grup Filtresi' });
    $('#filter2').select2({ width: '25vw', placeholder: 'Grup Filtresi' });
    function terminFormatter(value, row, index) {
        var val = termin.find(x => x.STOK_KODU == row.STOK_KODU);
        var str = "";
        if (val != null) {
            var old = val.TESLIM_TARIHI.split('T')[0];
            var year = old.split('-')[0];
            var month = old.split('-')[1];
            var day = old.split('-')[2];
            var newdate = day + "/" + month + "/" + year;
            str = newdate;
        } else {
            str = "-"
        }
        return "<div class='col text-center'>"+str+"</div>";
    }
    function alisFormatter(value, row, index) {
        var val = "";
        var val2 = "";
        if (value > 0) {
            val = "green";
        } else {
            val = "red";
        }
        if (row.ALISFIYAT2 > 0) {
            val2 = "green";
        } else {
            val2 = "red";
        }
        return "<span style='color:" + val + "'>" + value.toLocaleString(undefined, { minimumFractionDigits:2,maximumFractionDigits:2 }) + "</span>" + "</br><span style='color:" + val2 + "'>" + row.ALISFIYAT2.toLocaleString(undefined, { minimumFractionDigits:2,maximumFractionDigits:2 }) + "</span>";
    }
    function adFormatter(value, row, index) {


        return "<span style='overflow-wrap:break-word'>" + value + "</span>";
    }
    function satisFormatter(value, row, index) {
        var val = "";
        var val2 = "";
        if (value > 0) {
            val = "green";
        } else {
            val = "red";
        }
        if (row.SATISFIYAT2 > 0) {
            val2 = "green";
        } else {
            val2 = "red";
        }
        return "<span style='color:" + val + "'>" + value.toLocaleString(undefined, { minimumFractionDigits:2,maximumFractionDigits:2 }) + "</span>" + "</br><span style='color:" + val + "'>" + row.SATISFIYAT2.toLocaleString(undefined, { minimumFractionDigits:2,maximumFractionDigits:2 }) + "</span>";
    }
    function fabadFormatter(value, row, index) {

        return value.toLocaleString("tr-TR");
    }
    function satishzrFormatter(value, row, index) {
        var val = "";
        var val2 = "";
        if (value > 0) {
            val = "green";
        } else {
            val = "red";
        }
        if (row.SAT_HZR_ADET > 0) {
            val2 = "green";
        } else {
            val2 = "red";
        }
        return "<span style='color:" + val + "'>" + (value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 })).split(',')[0] + "," + "<span style='font-size:10px'>" + (value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 })).split(',')[1] + "</span>" + "</span>" + "<span style='font-size: 10px;color:" + val + "'> " + row.OLCU_BIRIMI + "</span></br><span style='color:" + val2 + "'>" + row.SAT_HZR_ADET.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + "<span style='font-size: 10px;color:" + val2 + "'>," + row.SAT_HZR_ADET.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "</span></span>";

    }
    function fabFormatter(value, row, index) {
        var val = "";
        var val2 = "";
        if (value > 0) {
            val = "green";
        } else {
            val = "red";
        }
        if (row.FAB_STOK_AD > 0) {
            val2 = "green";
        } else {
            val2 = "red";
        }
        return "<span style='color:" + val + "'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + "</span>" + "<span style='font-size: 10px;color:" + val + "'>," + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + " " + row.OLCU_BIRIMI + "</span></br><span style='color:" + val2 + "'>" + row.FAB_STOK_AD.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + "</span><span style='font-size:10px;color:" + val2 +"'>," + row.FAB_STOK_AD.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "</span>";

    }
    function ieFormatter(value, row, index) {
        var val = "";
        var val2 = "";
        if (value > 0) {
            val = "green";
        } else {
            val = "red";
        }
        if (row.BEKL_IE_AD > 0) {
            val2 = "green";
        } else {
            val2 = "red";
        }
        return "<span style='color:" + val + "'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + "</span>" + "<span style='font-size: 10px;color:" + val + "'>," + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + " " + row.OLCU_BIRIMI + "</span></br><span style='color:" + val2 + "'>" + row.BEKL_IE_AD.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:10px'>" + row.BEKL_IE_AD.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] +"</span></span>";

    }
    function bakiyeFormatter(value, row, index) {
        var val = "";
        var val2 = "";
        if (value > 0) {
            val = "green";
        } else {
            val = "red";
        }
        if (row.AD_BAKIYE > 0) {
            val2 = "green";
        } else {
            val2 = "red";
        }
        return "<span style='color:" + val + "'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + "</span>" + "<span style='font-size: 10px;color:" + val + "'>," + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + " " + row.OLCU_BIRIMI + "</span></br><span style='color:" + val2 + "'>" + row.AD_BAKIYE.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:10px'>" + row.AD_BAKIYE.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] +"</span></span>";

    }
    function sipFormatter(value, row, index) {
        var val = "";
        var val2 = "";
        if (value > 0) {
            val = "green";
        } else {
            val = "red";
        }
        if (row.BEK_SIP_ADET > 0) {
            val2 = "green";
        } else {
            val2 = "red";
        }
        return "<span style='color:" + val + "'>" + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + "</span>" + "<span style='font-size: 10px;color:" + val + "'>," + value.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + " " + row.OLCU_BIRIMI + "</span></br><span style='color:" + val2 + "'>" + row.BEK_SIP_ADET.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:10px'>" + row.BEK_SIP_ADET.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] +"</span></span>";

    }
    function infoFormatter(value, row, index) {

        var b = "<a data-bs-toggle='tooltip' data-popup='tooltip-custom' data-bs-placement='top' data-bs-html='true' data-bs-original-title='<span>Raporlar</span>' style='cursor:pointer'>ℹ</a>"
        $('[data-bs-toggle="tooltip"]').tooltip();
        return b;

    }
   
   
</script>
<script>
    $('#toolbar').change(function (e) {
        var filterAlgorithm = $('[name="filterAlgorithm"]').val()


        if (filterAlgorithm.length > 0) {
            $('#table').bootstrapTable('filterBy', {
                GRUP_ISIM: filterAlgorithm
            })
        } else {
            $('#table').bootstrapTable('filterBy', {});

        }

    })
    $('#toolbar2').change(function (e) {
        var filterAlgorithm2 = $('[name="filterAlgorithm2"]').val()


        if (filterAlgorithm2.length > 0) {
            $('#table2').bootstrapTable('filterBy', {
                GRUP_ISIM: filterAlgorithm2
            })
        } else {
            $('#table2').bootstrapTable('filterBy', {});

        }

    })
    function change(value) {
        if (value == 1) {
            $('#employeeTableWrapper2').hide();
            $('#employeeTableWrapper').show();
        } else {
            $('#employeeTableWrapper2').show();
            $('#employeeTableWrapper').hide();
        }
    }
   
    $(document).ready(function () {
        $('#employeeTableWrapper2').hide();
        getstokAsync().then(function (data) {
            stoklar = data;
        })
        getstokfiatAsync().then(function (data) {
            stokfiatlar = data;
        })
       
    })
    function girisFormatter(index, row) {
        var stok = stoklar.filter(x => x.STOK_KODU == row.STOK_KODU);
       
        
        if (stok.length > 0) {
            

            return "<div class='row flex-nowrap '><div class='col-6 text-center ' style='color:green;font-size:10px'>" + (stok[0].SON1_GIRIS_BIRIM_MIKTAR ? parseFloat(stok[0].SON1_GIRIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON1_GIRIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/AD</span>" : "-") + "</div><div class='col-6 text-center ' style='color:green;font-size:10px'>" + (stok[0].SON1_GIRIS_METRAJ_MIKTAR ? parseFloat(stok[0].SON1_GIRIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON1_GIRIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/MT</span>" : "-") + "</div></div><div class='row flex-nowrap '><div class='col-6 text-center ' style='color:green;font-size:10px'>" + (stok[0].SON2_GIRIS_BIRIM_MIKTAR ? parseFloat(stok[0].SON2_GIRIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON2_GIRIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/AD</span>" : "-") + "</div><div class='col-6 text-center ' style='color:green;font-size:10px'>" + (stok[0].SON2_GIRIS_METRAJ_MIKTAR ? parseFloat(stok[0].SON2_GIRIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON2_GIRIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/MT</span>" : "-") + "</div></div><div class='row flex-nowrap '><div class='col-6 text-center ' style='color:green;font-size:10px'>" + (stok[0].SON3_GIRIS_BIRIM_MIKTAR ? parseFloat(stok[0].SON3_GIRIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON3_GIRIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/AD</span>" : "-") + "</div><div class='col-6 text-center ' style='color:green;font-size:10px'>" + (stok[0].SON3_GIRIS_METRAJ_MIKTAR ? parseFloat(stok[0].SON3_GIRIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON3_GIRIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/MT</span>" : "-") + "</div></div>";
        } else {
            return "<div class='text-center'>-</div>";
        }





    }
    function cikisFormatter(index, row) {
        var stok = stoklar.filter(x => x.STOK_KODU == row.STOK_KODU);


        if (stok.length > 0) {

            /*return "<table class='table table-responsive table-borderless'><tr><th class='text-center' style='color:green'>GİRİŞ 1</th><th class='text-center' style='color:green'>GİRİŞ 2</th><th class='text-center' style='color:green'>GİRİŞ 3</th><th class='text-center' style='color:red'>ÇIKIŞ 1</th><th class='text-center' style='color:red'>ÇIKIŞ 2</th><th class='text-center' style='color:red'>ÇIKIŞ 3</th></tr><tr><td class='text-center' style='color:green'>" + (stok[0].SON1_GIRIS_BIRIM_MIKTAR ?? "-") + "</td><td class='text-center' style='color:green'>" + (stok[0].SON1_GIRIS_BIRIM_MIKTAR ?? "-") + "</td><td class='text-center' style='color:green'>" + (stok[0].SON3_GIRIS_BIRIM_MIKTAR ?? "-") + "</td><td class='text-center' style='color:red'>" + (stok[0].SON1_CIKIS_BIRIM_MIKTAR ?? "-") + "</td><td class='text-center' style='color:red'>" + (stok[0].SON2_CIKIS_BIRIM_MIKTAR ?? "-") + "</td><td class='text-center' style='color:red'>" + (stok[0].SON3_CIKIS_BIRIM_MIKTAR ?? "-") + "</td></tr></table>";*/
            return "<div class='row flex-nowrap'><div class='col-6 text-center' style='color:red;font-size:10px'>" + (stok[0].SON1_CIKIS_BIRIM_MIKTAR ? parseFloat(stok[0].SON1_CIKIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON1_CIKIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/AD</span>" : "-") + "</div><div class='col-6 text-center ' style='color:red;font-size:10px'>" + (stok[0].SON1_CIKIS_METRAJ_MIKTAR ? parseFloat(stok[0].SON1_CIKIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON1_CIKIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/MT</span>" : "-") + "</div></div><div class='row flex-nowrap '><div class='col-6 text-center ' style='color:red;font-size:10px'>" + (stok[0].SON2_CIKIS_BIRIM_MIKTAR ? parseFloat(stok[0].SON2_CIKIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON2_CIKIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/AD</span>" : "-") + "</div><div class='col-6 text-center ' style='color:red;font-size:10px'>" + (stok[0].SON2_CIKIS_METRAJ_MIKTAR ? parseFloat(stok[0].SON2_CIKIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON2_CIKIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/MT</span>" : "-") + "</div></div><div class='row flex-nowrap '><div class='col-6 text-center ' style='color:red;font-size:10px'>" + (stok[0].SON3_CIKIS_BIRIM_MIKTAR ? parseFloat(stok[0].SON3_CIKIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON3_CIKIS_BIRIM_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/AD</span>" : "-") + "</div><div class='col-6 text-center ' style='color:red;font-size:10px'>" + (stok[0].SON3_CIKIS_METRAJ_MIKTAR ? parseFloat(stok[0].SON3_CIKIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[0] + ",<span style='font-size:8px'>" + parseFloat(stok[0].SON3_CIKIS_METRAJ_MIKTAR).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }).split(',')[1] + "KG/MT</span>" : "-") + "</div></div>";
        } else {
            return "<div class='text-center'>-</div>";
        }





    }

    function toptanFormatter(value, row, index) {
        var stok1 = stokfiatlar.filter(x => x.STOK_KODU == row.STOK_KODU);
        if (stok1.length > 0) {
            return "<div class='text-center'>" + (stok1[0].TOPTAN_FIYAT ? parseFloat(stok1[0].TOPTAN_FIYAT).toFixed(2).toString().replace('.', ',') + " " + stok1[0].FIYATDOVIZTIPI : "-") + "</div>";
        } else {
            return "<div class='text-center'>-</div>";
        }
        

    }
    function fiyatlarFormatter(value, row, index) {
        var stok2 = stokfiatlar.filter(x => x.STOK_KODU == row.STOK_KODU);
        var sayi = 0;
        
        
        if (stok2.length > 0) {
            if (stok2[0].FIYATDOVIZTIPI == "TRY") {
                sayi = 2;
            } else {
                sayi = 3;
            }
            return "<div class='row'><div class='col text-center flex-nowrap' style='font-size:12px'>" + (stok2[0].TOPTAN_FIYAT ? parseFloat(stok2[0].TOPTAN_FIYAT).toLocaleString(undefined, { minimumFractionDigits: sayi, maximumFractionDigits: sayi }).split(',')[0] + "<span style='font-size:8px'>," + parseFloat(stok2[0].TOPTAN_FIYAT).toLocaleString(undefined, { minimumFractionDigits: sayi, maximumFractionDigits: sayi }).split(',')[1]+" "+ stok2[0].FIYATDOVIZTIPI + "</span>" : "-") + "</div></div><div class='row'><div class='col text-center flex-nowrap' style='font-size:12px'>" + (stok2[0].PERAKENDE_FIYAT ? parseFloat(stok2[0].PERAKENDE_FIYAT).toLocaleString(undefined, { minimumFractionDigits: sayi, maximumFractionDigits: sayi }).split(',')[0] + "<span style='font-size:8px'>," + parseFloat(stok2[0].PERAKENDE_FIYAT).toLocaleString(undefined, { minimumFractionDigits: sayi, maximumFractionDigits: sayi }).split(',')[1]+" "+ stok2[0].FIYATDOVIZTIPI + "</span>" : "-") + "</div></div>";
           
        } else {
            return "<div class='text-center'>-</div>";
        }
    }
    function iskontoFormatter(value, row, index) {
        var stok2 = stokfiatlar.filter(x => x.STOK_KODU == row.STOK_KODU);
        if (stok2.length > 0) {
            return "<div class='row'><div class='col text-center flex-nowrap' style='font-size:12px'>" + (stok2[0].TOPTAN_ISK ? parseFloat(stok2[0].TOPTAN_ISK).toLocaleString(undefined, { minimumFractionDigits: 1, maximumFractionDigits: 1 }).split(',')[0] + ",<span style='font-size:10px'>" + parseFloat(stok2[0].TOPTAN_ISK).toLocaleString(undefined, { minimumFractionDigits: 1, maximumFractionDigits: 1 }).split(',')[1] + "</span>" : "-") + "</div></div><div class='row'><div class='col text-center flex-nowrap' style='font-size:12px'>" + (stok2[0].PERAKENDE_ISK ? parseFloat(stok2[0].PERAKENDE_ISK).toLocaleString(undefined, { minimumFractionDigits: 1, maximumFractionDigits: 1 }).split(',')[0] + ",<span style='font-size:10px'>" + parseFloat(stok2[0].PERAKENDE_ISK).toLocaleString(undefined, { minimumFractionDigits: 1, maximumFractionDigits: 1 }).split(',')[1] + "</span>" : "-") + "</div></div>";

        } else {
            return "<div class='text-center'>-</div>";
        }
    }
    function listefiyatiFormatter(value, row, index) {
        var stok2 = stokfiatlar.filter(x => x.STOK_KODU == row.STOK_KODU);
        if (stok2.length > 0) {
            return "<div class='text-center'>" + (stok2[0].LISTE_FIYATI ? parseFloat(stok2[0].LISTE_FIYATI).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "<span style='font-size:8px'> " + stok2[0].FIYATDOVIZTIPI + "</span>" : "-") +"</div>";

        } else {
            return "<div class='text-center'>-</div>";
        }
    }
        
</script>



