



<head>
    <link href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link href="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" type="text/css" />
    <link href="\assets\boxicons-2.1.2\css\boxicons.css" rel="stylesheet" type="text/css" />
    <link href="\assets\boxicons-2.1.2\css\animations.css" rel="stylesheet" type="text/css" />
    <link href="\assets\boxicons-2.1.2\css\transformations.css" rel="stylesheet" type="text/css" />

    <!-- Core CSS -->
    <link rel="stylesheet" type="text/css" href="\assets\vendor\css\core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" type="text/css" href="\assets\vendor\css\theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" type="text/css" href="\assets\css\demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" type="text/css" href="\assets\vendor\libs\perfect-scrollbar\perfect-scrollbar.css" />

    <link rel="stylesheet" type="text/css" href="\assets\vendor\libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script type="text/javascript" src="\assets\vendor\js\helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script type="text/javascript" src="\assets\js\config.js"></script>
    <script src="/Scripts/jquery.validate.js" type='text/javascript'></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js" type='text/javascript'></script>
    <script>
        var user = null;
        var sor2 = null;
        var degismez = null;


    </script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
        .bootstrap-table .fixed-table-container .fixed-table-body {
            overflow-x: auto;
            overflow-y: auto;
            height: auto;
        }

        .menu1 {
            display: none;
        }

        .card-view {
            border-bottom: 1px dashed gray;
            margin-top: 2px;
        }


        .card-view-value {
            margin-left: 5px;
            word-break: break-word;
        }

        .card-view-title {
            border-right: 1px dashed gray;
        }

        #bdy3 .card-view-title, #bdy2 .card-view-title {
            border-right: 1px dashed gray;
            white-space: nowrap;
            min-width: 50% !important;
        }

        @@media screen and (max-width: 600px) {
            .menu1 {
                display: inline-flex;
            }

            .menu2 {
                display: none;
            }
        }
    </style>
</head>
<body style="background-color:white">
    <div class="container-fluid">



        <div class="btn-group menu1">
            <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" style="">
                <li><a class="dropdown-item" onclick="change(1)">Tüm Müşteriler</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" onclick="change(2)">Planlanan</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" onclick="change(3)">Gerçekleşen</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" onclick="change(4)">Ürünler</a></li>
            </ul>
        </div>

        <div class="btn-group menu2" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" onclick="change(1)" name="btnradio" id="btnradio1" checked="" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio1">Tüm Müşteriler</label>
            <input type="radio" class="btn-check" onclick="change(2)" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Planlanan</label>
            <input type="radio" class="btn-check" onclick="change(3)" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Gerçekleşen</label>
            <input type="radio" class="btn-check" onclick="change(4)" name="btnradio" id="btnradio4" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio4">Ürünler</label>

        </div>






        <div id="employeeTableWrapper" class="tableWrapper table-responsive">
            <div id="toolbar" class="row mt-2">
                <div class="col-sm">
                    <select style="width:100%" id="filter" multiple="multiple" name="filterAlgorithm">
                    </select>
                </div>
            </div>
            <table id="table"
                   class="table table-striped"
                   data-pagination="true"
                   data-buttons-order="['paginationSwitch', 'columns', 'filterTable']"
                   data-search="true"
                   data-page-size="5"
                   data-toolbar="#toolbar"
                   data-pagination-Successively-Size="3"
                   data-show-columns="true"
                   data-sticky-header="true"
                   data-export-data-type="all"
                   data-export-types="['excel']"
                   data-show-export="true"
                   data-filter-control="true"
                   data-filter-control-multiple-search="true"
                   data-mobile-responsive="true"
                   data-locale="tr-TR">
                <thead>
                    <tr>
                        <th data-field="MUSTERI_ADI" data-sortable="true">Müşteri Adı</th>
                        <th data-field="MUSTERI_ADRES" data-sortable="true" data-formatter="adresFormatter">Adres</th>
                        <th data-field="MUSTERI_TEL1" data-sortable="true" data-formatter="telFormatter">Telefon</th>
                        <th data-field="MUSTERI_MAIL" data-sortable="true" data-formatter="mailFormatter">Mail</th>
                        <th data-field="MUSTERI_SEKTOR" data-sortable="true">Sektör</th>
                        <th data-field="MUSTERI_NITELIK" data-sortable="true">Nitelik</th>
                        <th data-field="MUSTERI_NOTU" data-sortable="true" data-formatter="notFormatter">Notu</th>
                        <th data-field="PLASIYER" data-sortable="true" data-formatter="plasiyerFormatter1">Plasiyer</th>
                        <th data-field="KAYIT_TARIHI" data-sortable="true" data-formatter="teslimFormatter">Kayıt Tarihi</th>

                    </tr>
                </thead>
            </table>


        </div>







        <div id="employeeTableWrapper1" class="tableWrapper table-responsive">
            <div id="toolbar2" class="row mt-2">
                <div class="col-sm">
                    <select style="width:100%" id="filter2" multiple="multiple" name="filterAlgorithm2">
                    </select>
                </div>
            </div>
            <table id="table2"
                   class="table table-striped"
                   data-pagination="true"
                   data-toolbar="#toolbar2"
                    data-page-size="5"
                   data-buttons-order="['paginationSwitch', 'columns', 'filterTable']"
                   data-search="true"
                   data-show-columns="true"
                   data-export-data-type="all"
                   data-export-types="['excel']"
                   data-show-export="true"
                   data-filter-control="true"
                   data-filter-control-multiple-search="true"
                   data-mobile-responsive="true"
                   data-locale="tr-TR">
                <thead>
                    <tr>
                        <th data-field="MUSTERI_ID" data-sortable="true" data-formatter="musteriadiFormatter">Müşteri Adı</th>
                        <th data-field="PLANLANAN_TARIH" data-sortable="true" data-formatter="planlananFormatter">Planlanan Tarih</th>
                        <th data-field="RANDEVU_NOTU" data-sortable="true" data-formatter="notFormatter">Ziyaret Notu</th>
                        <th data-field="KAYIT_YAPAN_KULLANICI_ID" data-sortable="true" data-formatter="plasiyerFormatter">Plasiyer</th>
                    </tr>
                </thead>
            </table>

        </div>







        <div id="employeeTableWrapper2" class="tableWrapper table-responsive">
            <div id="toolbar3" class="row mt-2">
                <div class="col-sm">
                    <select style="width:100%" id="filter3" multiple="multiple" name="filterAlgorithm3">
                    </select>
                </div>
            </div>
            <table id="table3"
                   class="table table-striped"
                   data-pagination="true"
                   data-page-size="5"
                   data-buttons-order="['paginationSwitch', 'columns', 'filterTable']"
                   data-search="true"
                   data-toolbar="#toolbar3"
                   data-show-columns="true"
                   data-export-data-type="all"
                   data-export-types="['excel']"
                   data-show-export="true"
                   data-locale="tr-TR"
                   data-mobile-responsive="true">
                <thead>
                    <tr>
                        <th data-field="MUSTERI_ID" data-sortable="true" data-formatter="musteriadiFormatter">Müşteri Adı</th>
                        <th data-field="PLANLANAN_TARIH" data-sortable="true" data-formatter="planlananFormatter">Planlanan Tarih</th>
                        <th data-field="GERCEKLESEN_TARIH" data-sortable="true" data-formatter="gerceklesenFormatter">Gerçekleşen Tarih</th>
                        <th data-field="RANDEVU_NOTU" data-sortable="true" data-formatter="notFormatter">Ziyaret Notu</th>
                        <th data-field="KAYIT_YAPAN_KULLANICI_ID" data-sortable="true" data-formatter="plasiyerFormatter">Plasiyer</th>
                    </tr>
                </thead>
            </table>


        </div>







        <div id="employeeTableWrapper3" class="tableWrapper table-responsive">
            <table id="table4"
                   class="table table-striped"
                   data-pagination="true"
                   data-buttons-order="['paginationSwitch', 'columns', 'filterTable']"
                   data-search="true"
                   data-show-columns="true"
                   data-export-data-type="all"
                   data-export-types="['excel']"
                   data-show-export="true"
                   data-locale="tr-TR"
                   data-mobile-responsive="true"
                    data-page-size="5">
                <thead>
                    <tr>
                        <th data-field="MUSTERI_ID" data-sortable="true" data-formatter="musteriadiFormatter">Müşteri Adı</th>
                        <th data-field="URUN_GRUBU" data-sortable="true">Ürün Grubu</th>
                        <th data-field="YILLIK_KULLANIM" data-sortable="true">Yıllık Kullanım</th>
                        <th data-field="OLCU_BIRIMI" data-sortable="true">Ölçü Birimi</th>
                        <th data-field="KAYIT_YAPAN_KULLANICI" data-formatter="plasiyerFormatter1">PLASIYER</th>
                    </tr>
                </thead>
            </table>


        </div>




        <script>
            var type = 'fa'

            function loadingTemplate(message) {
                if (type === 'fa') {
                    return '<i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>'
                }
                if (type === 'pl') {
                    return '<div class="ph-item"><div class="ph-picture"></div></div>'
                }
            }

            var r = null;
            var r2 = null;
            var username = null;
            var userid = null;
        var sor1 = null;
        var users = null;
             async function getUrunlerAsync() {
                let response = await fetch(`@Url.Action("GetMusteriUrun", "Satis")`);
                let data = await response.json()
                return data;
            }
            async function getMusterilerAsync() {
                let response = await fetch(`@Url.Action("GetMusteriler","Satis")`);
                let data = await response.json()
                return data;
            }
             async function getUserAsync() {
                let response = await fetch(`@Url.Action("GetUser", "Satis")`);
                let data = await response.json()
                return data;
            }
             async function getRandevuAsync() {
                let response = await fetch(`@Url.Action("GetRandevu", "Satis")`);
                let data = await response.json()
                return data;
        }
        getUserAsync().then(function (result) {
            users = JSON.parse(result);
        })

        $(document).ready(function () {
            var plasiyerlist = [];
            var plasiyeridlist = [];
            username =@Html.Raw(Json.Encode(Request.Cookies["UserName"].Value));
            userid=@Html.Raw(Json.Encode(Request.Cookies["Id"].Value));
            $.ajax({
                url: '@Url.Action("GetMusteriler", "Satis")',
                type: 'POST',
                success: function (result) {

                    var data = JSON.parse(result);

                    for (let i = 0; i < data.length; i++) {
                        if (!plasiyerlist.includes(data[i].PLASIYER)) {
                            plasiyerlist.push(data[i].PLASIYER);

                                var r = users.filter(x => x.USER_NAME == data[i].PLASIYER);
                                plasiyeridlist.push(r[0].USER_ID);


                        }
                    }
                    for (let i = 0; i < plasiyerlist.length; i++) {

                        var option = document.createElement("option");
                        option.innerHTML = plasiyerlist[i];
                        option.value = plasiyerlist[i];

                        $("#filter").append(option);

                    }
                    for (let i = 0; i < plasiyerlist.length; i++) {

                        var option = document.createElement("option");
                        option.innerHTML = plasiyerlist[i];
                        option.value = plasiyeridlist[i];
                        if (plasiyerlist[i] == username) {
                            option.selected = "true";
                        }
                        $("#filter2").append(option);

                    }
                    for (let i = 0; i < plasiyerlist.length; i++) {

                        var option = document.createElement("option");
                        option.innerHTML = plasiyerlist[i];
                        option.value = plasiyeridlist[i];

                        $("#filter3").append(option);

                    }
                    $('#filter').select2({ placeholder: 'Plasiyer' });

                    $('#filter2').select2({ placeholder: 'Plasiyer' });
                    $('#filter3').select2({ placeholder: 'Plasiyer' });
                    $('#employeeTableWrapper1').hide();
                    $('#employeeTableWrapper2').hide();
                    $('#employeeTableWrapper3').hide();
                    getUserAsync().then(function (data) {
                        user = JSON.parse(data);
                    }).then(function () {
                        getMusterilerAsync().then(function (res) {
                            degismez = JSON.parse(res);

                            $('#table').bootstrapTable({ data: degismez });
                        }).then(function () {
                            $('#filter').val(null).trigger("change");
                        })
                    })
                }
            });








            })

                function change(value) {
                    if (value == 1) {
                        $('#employeeTableWrapper3').hide();
                        $('#employeeTableWrapper1').hide();
                        $('#employeeTableWrapper2').hide();
                        $('#employeeTableWrapper').show();
                        getMusterilerAsync().then(function (data) {
                            var musteriler = JSON.parse(data);

                            $('#table').bootstrapTable({ data: musteriler });
                        })
                    } else if (value == 2) {
                        $('#employeeTableWrapper').hide();
                        $('#employeeTableWrapper1').show();
                        getRandevuAsync().then(function (data) {
                            var randevular = JSON.parse(data).filter(x => x.GERCEKLESEN_TARIH == null);

                            $('#table2').bootstrapTable({ data: randevular });
                        }).then(function () {
                            $('#filter2').val(null).trigger("change");
                        })
                        $('#employeeTableWrapper2').hide();
                        $('#employeeTableWrapper3').hide();
                    } else if (value == 3) {
                        $('#employeeTableWrapper').hide();
                        $('#employeeTableWrapper1').hide();
                        $('#employeeTableWrapper2').show();
                        $('#employeeTableWrapper3').hide();
                        $.getJSON('@Url.Action("GetRandevu", "Satis")', function (data) {


                        }).done(function (result) {


                            $(function () {


                                sor2 = JSON.parse(result).filter(x => x.GERCEKLESEN_TARIH != null);
                                $('#table3').bootstrapTable({ data: sor2 })

                            })
                        }).then(function () {
                            $('#filter3').val(null).trigger("change");
                        })
                    } else {
                        $('#employeeTableWrapper').hide();
                        $('#employeeTableWrapper1').hide();
                        getUrunlerAsync().then(function (data) {
                            var urunler = JSON.parse(data);

                            $('#table4').bootstrapTable({ data: urunler });
                        })
                        $('#employeeTableWrapper2').hide();
                        $('#employeeTableWrapper3').show();
                    }
                }

            function plasiyerFormatter(value, row, index) {


                var u = user.filter(x => x.USER_ID == row.KAYIT_YAPAN_KULLANICI_ID);
                return u[0].USER_FIRSTNAME + " " + u[0].USER_LASTNAME;


            }
            function plasiyerFormatter1(value, row, index) {
                if (value == null) {
                    return "";
                }

                var a = user.filter(x => x.USER_NAME == value);
                var y = a[0].USER_FIRSTNAME + " " + a[0].USER_LASTNAME;

                return y;


            }
            function mailFormatter(value, row, index) {


                return value;
            }

            function notFormatter(value, row, index) {

                if (value == null) {
                    value = "";
                }
                return "<textarea cols='17' disabled>"+value+"</textarea>";
            }
            function adresFormatter(value, row, index) {
                var mahalle = row.MUSTERI_MAHALLE == null ? "-" :row.MUSTERI_MAHALLE ;
                var ilce = row.MUSTERI_ILCE == null ? "-" :row.MUSTERI_ILCE ;
                var il = row.MUSTERI_IL == null ? "-" :row.MUSTERI_IL;
                var adres = value == null ? "-":value;

                return il + ", " + ilce + ", " + mahalle + ", " + adres;
            }
            function teslimFormatter(value, row, index) {
                var old = value.split('T')[0];
                var year = old.split('-')[0];
                var month = old.split('-')[1];
                var day = old.split('-')[2];
                var newdate = day + "/" + month + "/" + year;
                return newdate;
            }
            function telFormatter(value, row, index) {
                var tel1 = value;
                var tel2 = row.MUSTERI_TEL2;
                var sum = "";
                if (tel1 != null && tel2 != null) {
                    sum = tel1 + ", " + tel2;
                } else if (tel1 == null && tel2 != null) {
                    sum = tel2;
                } else if (tel1 != null && tel2 == null) {
                    sum = tel1;
                }
                if (sum == "") {
                    sum = "-";
                }
                return sum;
            }
            function planlananFormatter(value, row, index) {
                var old = value.split('T')[0];
                var year = old.split('-')[0];
                var month = old.split('-')[1];
                var day = old.split('-')[2];
                var saat = value.split('T')[1].substring(0, 5);
                var newdate = day + "/" + month + "/" + year+" "+saat;
                return newdate;
            }
            function customSearchFormatter(value, row, index) {
                return value;
            }
            function gerceklesenFormatter(value, row, index) {
                var old = value.split('T')[0];
                var year = old.split('-')[0];
                var month = old.split('-')[1];
                var day = old.split('-')[2];
                var saat = value.split('T')[1].substring(0, 5);
                var newdate = day + "/" + month + "/" + year + " " + saat;
                return newdate;
            }
            function musteriadiFormatter(value, row, index) {

                var isim = degismez.filter(x => x.MUSTERI_ID == row.MUSTERI_ID);

                    return isim[0].MUSTERI_ADI;
            }

        $('#toolbar').change(function (e) {
            var filterAlgorithm = $('[name="filterAlgorithm"]').val()


            if (filterAlgorithm.length > 0) {
                $('#table').bootstrapTable('filterBy', {
                    PLASIYER: filterAlgorithm
                })
            } else {
                $('#table').bootstrapTable('filterBy', {});

            }

        })
        $('#toolbar2').change(function (e) {
            var filterAlgorithm1 = $('[name="filterAlgorithm2"]').val()


            if (filterAlgorithm1.length > 0) {
                $('#table2').bootstrapTable('filterBy', {
                    KAYIT_YAPAN_KULLANICI_ID: parseInt(filterAlgorithm1)
                })
            } else {
                $('#table2').bootstrapTable('filterBy', {});

            }

        })
        $('#toolbar3').change(function (e) {
            var filterAlgorithm1 = $('[name="filterAlgorithm3"]').val()


            if (filterAlgorithm1.length > 0) {
                $('#table3').bootstrapTable('filterBy', {
                    KAYIT_YAPAN_KULLANICI_ID: parseInt(filterAlgorithm1)
                })
            } else {
                $('#table3').bootstrapTable('filterBy', {});

            }

        })

        </script>

    </div>
</body>








