
@{
    Layout = "~/Views/Shared/_Layout_yonetim.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" />
    <script src="https://cdn.jsdelivr.net/npm/litepicker-polyfills-ie11/dist/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>

    <link href="~/assets/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <style>


        footer {
            bottom: 0px;
            position: fixed;
            width: 100%;
        }

        html {
            --color: linear-gradient(180deg, #93C54B 0 50%, #A9D16F 50% 100%);
            --color2: linear-gradient(180deg, #D3E7B5 0 50%, #E3F0D0 50% 100%);
            --color3: linear-gradient(180deg, #D3E7B5 0 50%, #E3F0D0 50% 100%);
            --div1after: #93C54B;
            --div1before: #A9D16F;
            --div2after: #D3E7B5;
            --div2before: #E3F0D0;
            --div3after: transparent;
            --div3before: transparent;
            --div1hover: linear-gradient(180deg, #A9D16F 0 50%, #93C54B 50% 100%);
            --div1hoverafter: #A9D16F;
            --div1hoverbefore: #93C54B;
            --div2hover: linear-gradient(180deg, #E3F0D0 0 50%, #D3E7B5 50% 100%);
            --div2hoverafter: #E3F0D0;
            --div2hoverbefore: #D3E7B5;
            --div3hover: linear-gradient(180deg, #E3F0D0 0 50%, #D3E7B5 50% 100%);
            --div3hoverafter: transparent;
            --div3hoverbefore: transparent;
            --div2color: black;
            --div3color: black;
        }

        .fa-pencil:hover {
            opacity: .7;
        }

        .floatlabel {
            position: relative;
        }

            .floatlabel input {
                -webkit-appearance: none;
                color: #333;
                padding: 10px 12px;
            }

            .floatlabel label.label {
                position: absolute;
                top: 14px;
                left: 6px;
                transition: all 0.2s ease-out;
                background: #fff;
                color: #999;
                font-size: 16px;
                cursor: text;
            }

                .floatlabel label.label.floatlabel-shift {
                    top: -7px;
                    left: 12px;
                    padding: 0 4px;
                    font-size: 14px;
                    color: #999;
                }

                .floatlabel label.label.floatlabel-active {
                    color: #0077c8 !important;
                }

        img:hover {
            opacity: .4;
        }

        #vert_menu {
            overflow: hidden;
            width: 100%;
        }

            #vert_menu li {
                float: left;
            }

            #vert_menu #div1 {
                padding: 8px 0 8px 0;
                float: left;
                text-align: center;
                text-decoration: none;
                font: normal 18px calibri;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                color: white;
                position: relative;
                background: var(--color);
            }

            #vert_menu #div2 {
                padding: 8px 0 8px 0;
                float: left;
                text-align: center;
                text-decoration: none;
                font: normal 18px calibri;
                color: var(--div2color);
                position: relative;
                background: var(--color2);
            }

            #vert_menu #div3 {
                padding: 8px 0 8px 0;
                float: left;
                text-align: center;
                text-decoration: none;
                font: normal 18px calibri;
                color: var(--div3color);
                position: relative;
                background: var(--color3);
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }



            #vert_menu #div1::after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -19px;
                border-top: 19px solid transparent;
                /*border-bottom: 19px solid transparent;*/
                border-left: 1em solid var(--div1after);
                right: -1em;
            }

            #vert_menu #div1::before {
                content: "";
                position: absolute;
                top: 100%;
                margin-top: -19px;
                /* border-top: 19px solid transparent; */
                border-bottom: 19px solid transparent;
                border-left: 1em solid var(--div1before);
                right: -1em;
                z-index: 2;
            }

            #vert_menu #div2::after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -19px;
                border-top: 19px solid transparent;
                /*border-bottom: 19px solid transparent;*/
                border-left: 1em solid var(--div2after);
                right: -1em;
            }

            #vert_menu #div2::before {
                content: "";
                position: absolute;
                top: 100%;
                margin-top: -19px;
                /* border-top: 19px solid transparent; */
                border-bottom: 19px solid transparent;
                border-left: 1em solid var(--div2before);
                right: -1em;
                z-index: 2;
            }

            #vert_menu #div3::after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -19px;
                border-top: 19px solid transparent;
                /*border-bottom: 19px solid transparent;*/
                border-left: 1em solid var(--div3after);
                right: -1em;
            }

            #vert_menu #div3::before {
                content: "";
                position: absolute;
                top: 100%;
                margin-top: -19px;
                /* border-top: 19px solid transparent; */
                border-bottom: 19px solid transparent;
                border-left: 1em solid var(--div3before);
                right: -1em;
                z-index: 2;
            }

            #vert_menu #div1:hover {
                background: var(--div1hover);
            }

                #vert_menu #div1:hover::before {
                    border-left-color: var(--div1hoverbefore);
                }

                #vert_menu #div1:hover::after {
                    border-left-color: var(--div1hoverafter);
                }

            #vert_menu #div2:hover {
                background: var(--div2hover);
            }

                #vert_menu #div2:hover::before {
                    border-left-color: var(--div2hoverbefore);
                }

                #vert_menu #div2:hover::after {
                    border-left-color: var(--div2hoverafter);
                }

            #vert_menu #div3:hover {
                background: var(--div3hover);
            }

                #vert_menu #div3:hover::before {
                    border-left-color: var(--div3hoverbefore);
                }

                #vert_menu #div3:hover::after {
                    border-left-color: var(--div3hoverafter);
                }

            #vert_menu #div1::after {
                z-index: 2;
            }

            #vert_menu #div2::after {
                z-index: 2;
            }

            #vert_menu #div3::after {
                z-index: 2;
            }

        ul {
            list-style-type: none;
        }

        .current:hover {
            color: white !important;
        }

        .bg-footer-theme {
            background-color: transparent !important;
            color: #697a8d;
        }

        .centercontent {
            position: absolute;
            max-width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
        }

        .heart {
            animation: heartbeat 1s infinite alternate;
        }

        @@keyframes heartbeat {
            from {
                opacity: 0.3;
                transform: scale(0.32);
            }

            to {
                opacity: 1;
                transform: scale(0.40);
            }
        }

        .container {
        }

        @@media screen and (max-width: 600px) {
            .container {
                width: 100% !important;
            }

            #vert_menu #div1 {
                font: normal 15px calibri;
            }

            #vert_menu #div2 {
                font: normal 15px calibri;
            }

            #vert_menu #div3 {
                font: normal 15px calibri;
            }
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="~/Content/table/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/assets/fontawesome-free-6.4.0-web/css/fontawesome.css" rel="stylesheet" />
</head>

<body style="overflow:hidden">
    <script>
        $('#title').html('Nova | Teklif Oluştur');
    </script>
    <div class="centercontent" id="content" style="display:none">
        <div class="heart"><img id="progress" src="~/images/novasaydam.png" style="max-width:15vw" /></div>
    </div>
    <form>

        <div class="container text-center" style="border-style:solid;border-radius:5px;margin-top:5vh;background:white;">
            <div class="row mt-1">
                <div class="col p-0">
                    <ul id="vert_menu" style="float: left; width: 100%; margin-left: 0; padding-left: 1.5%; padding-right: .8%">
                        <li onclick="clickli(1)" style="width:33%"><a id="div1" style="width:100%" class="current">Üst Bilgiler</a></li>
                        <li onclick="clickli(2)" style="width:33%"><a id="div2" style="width:100%" class="current">Kalem Bilgiler</a></li>
                        <li onclick="clickli(3)" style="width:33%"><a id="div3" style="width:100%" class="current">Önizleme</a></li>
                    </ul>
                </div>

                @*<button type="button" class="btn btn-secondary button" onclick="change(1)">Üst Bilgiler</button>
                    <button type="button" class="btn btn-secondary" onclick="change(2)">Kalem Bilgileri</button>
                    <button type="button" class="btn btn-secondary" onclick="change(3)">Toplamlar</button>*@

            </div>
            <div id="ust" class="row">
                <div class="col mb-2 p-0">
                    <h5 class="mt-2">Sabit Bilgiler</h5>
                    <div class="row">

                        <div class="col p-0">
                            <div class="container">
                                <div class="form-group floatlabel">
                                    <label class="label" for="TEKLIFNO">Teklif No</label>
                                    <input type="text" name="TEKLIFNO" id="TEKLIFNO" class="form-control"
                                           value="" onkeyup="keyup()" onfocusout="focusout()" />
                                </div>
                            </div>
                        </div>





                    </div>

                    <div class="row mt-2" id="caridiv">
                        <div class="col p-0">
                            <div class="container">

                                <select onchange="carichange()" id="cariler" class="form-control" style="width:100%">
                                    <option value="0">Nova GEREKSİZ!</option>
                                </select>


                            </div>
                        </div>



                    </div>
                    <div id="gereksiz" class="row mt-2" style="display:none">

                        <div class="col p-0">
                            <div class="container">
                                <div class="form-group floatlabel">
                                    <label class="label" for="c">Cari</label>
                                    <input type="text" name="c" id="c" class="form-control"
                                           value="" />
                                </div>
                            </div>
                        </div>





                    </div>

                    <div class="row mt-2">
                        <div class="col p-0">
                            <div class="container">

                                <select id="modalkod1" class="form-control" style="width:100%">
                                </select>

                            </div>

                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col p-0">
                            <div class="container">

                                <select id="modalkod2" class="form-control" style="width:100%">
                                </select>

                            </div>

                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="container">
                            <div class="form-group floatlabel">
                                <label class="label" for="aciklama">Açıklama</label>
                                <input type="text" name="aciklama" id="aciklama" class="form-control"
                                       value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col p-0">
                            <div class="container">
                                <div class="form-group floatlabel">
                                    <label class="label" for="plasiyerkod">Plasiyer Kodu</label>
                                    <input type="text" onfocusout="plasiyerkodchange()" name="plasiyerkod" id="plasiyerkod" class="form-control"
                                           value="" />
                                </div>
                            </div>
                        </div>
                        <div class="col p-0">
                            <div class="container">

                                <input style="height:44.94px !important" type="text" name="plasiyeradi" id="plasiyeradi" class="form-control"
                                       value="" disabled />
                            </div>
                        </div>


                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col p-0">
                            <div class="container">

                                <select id="projekod" class="form-control" style="width:100%">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>

                            </div>

                        </div>


                    </div>
                    <h5 class="mt-1">Ek Sahalar</h5>
                    <div class="row" style="display:none">
                        <div class="container">
                            <div class="form-group floatlabel">
                                <label class="label" for="cari">CARİ (KAYITLI DEĞİLSE)</label>
                                <input type="text" name="cari" id="cari" class="form-control"
                                       value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="container">
                            <div class="form-group floatlabel">
                                <label class="label" for="sevk">SEVK YERİ(CARİ ADRESİNDEN FARKLI İSE)</label>
                                <input type="text" name="sevk" id="sevk" class="form-control"
                                       value="" />
                            </div>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="container">
                            <div class="form-group floatlabel">
                                <label class="label" for="teslimat">TESLİMAT ŞEKLİ</label>
                                <input type="text" name="teslimat" id="teslimat" class="form-control"
                                       value="" />
                            </div>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="container">
                            <div class="form-group floatlabel">
                                <label class="label" for="gecerlilik">GEÇERLİLİK SÜRESİ</label>
                                <input type="text" name="gecerlilik" id="gecerlilik" class="form-control"
                                       value="" />
                                <input style="display:none" type="text" name="adres" id="cariadres" class="form-control"
                                       value="" />
                                <input style="display:none" type="text" name="gsm" id="carigsm" class="form-control"
                                       value="" />
                                <input style="display:none" type="text" name="mail" id="carimail" class="form-control"
                                       value="" />
                            </div>
                        </div>

                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="container">
                            <div class="form-group floatlabel">
                                <label class="label" for="tahsilat">TAHSİLAT ŞEKLİ</label>
                                <input type="text" name="tahsilat" id="tahsilat" class="form-control"
                                       value="" />
                            </div>
                        </div>

                    </div>
                </div>



            </div>


            <div class="row" id="kalem" style="overflow-x: hidden !important; display: none">
                <h5 class="mt-3">Kalem Girişi</h5>
                <div class="row">
                    <div class="col p-0">
                        <div>
                            <table style="font-size:10px" id="table"
                                   class="table"
                                   data-buttons-order="['paginationSwitch', 'columns', 'filterTable']"
                                   data-toggle="table"
                                   data-show-export="false"
                                   data-export-data-type="all"
                                   data-export-types="['excel', 'pdf']"
                                   data-pagination="false"
                                   data-search="true"
                                   data-show-columns="true"
                                   data-show-columns-toggle-all="true"
                                   data-locale="tr-TR"
                                   data-filter-control="true"
                                   data-show-header="true"
                                   data-buttons="buttons"
                                   data-filter-control-multiple-search="true"
                                   data-mobile-responsive="false"
                                   data-trim-on-search="false"
                                   data-show-footer="false"
                                   data-height="600">
                                <thead>
                                    <tr id="tst">
                                        <th data-align="center" data-halign="center" data-formatter="duzenFormatter"></th>
                                        <th data-field="FISNO" data-sortable="true" data-align="center" data-halign="center">FİŞ NO</th>
                                        <th data-field="STOK_KODU" data-sortable="true" data-align="center" data-halign="center">STOK KODU</th>
                                        <th data-field="STOK_ADI" data-sortable="true" data-align="center" data-halign="center">STOK ADI</th>
                                        <th data-field="STHAR_GCMIK" data-sortable="true" data-align="center" data-halign="center" data-formatter="miktarFormatter">MİKTAR 1</th>
                                        <th data-field="OLCU_BR1" data-sortable="true" data-align="center" data-halign="center" data-visible="false">ÖLÇÜ BR 1</th>
                                        <th data-field="STHAR_GCMIK2" data-sortable="true" data-align="center" data-halign="center" data-formatter="miktar2Formatter">MİKTAR 2</th>
                                        <th data-field="OLCU_BR2" data-sortable="true" data-align="center" data-halign="center" data-visible="false">ÖLÇÜ BR 2</th>
                                        <th data-field="STHAR_SATISK" data-sortable="true" data-align="center" data-halign="center">İSKONTO</th>
                                        <th data-field="STHAR_DOVTIP" data-sortable="true" data-align="center" data-halign="center" data-formatter="dovFormatter">DÖVİZ TİPİ</th>
                                        <th data-field="KUR" data-sortable="true" data-align="center" data-halign="center">KUR</th>
                                        <th data-field="STHAR_DOVFIAT" data-sortable="true" data-align="center" data-halign="center">DÖV. FİYAT</th>
                                        <th data-field="STHAR_BF" data-sortable="true" data-align="center" data-halign="center">BRÜT FİYAT</th>
                                        <th data-field="STHAR_NF" data-sortable="true" data-align="center" data-halign="center">NET FİYAT</th>
                                        <th data-field="DEPO_KODU" data-sortable="true" data-align="center" data-halign="center" data-formatter="depoFormatter">DEPO</th>
                                        <th data-field="TERMIN" data-sortable="true" data-align="center" data-halign="center">TERMİN</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>


                    </div>
                </div>



            </div>
            <div class="row" id="toplam" style="display:none">
                <div class="col p-0">
                    <h5 class="mt-3">Toplam</h5>
                    <div id="objdiv"></div>
                </div>
            </div>
        </div>
    </form>
    <script>
        var globaldata = null
        function keyup() {
            sabit = 0;
            var t = $("#TEKLIFNO").val();
            if (t != null && t != "") {
                var c = event.currentTarget.value;
                if (c.length == 1) {
                    var url = "http://192.168.2.13:83/api/satis/" + c;
                    $.getJSON(url, function (data) {
                        document.getElementById("TEKLIFNO").value = c.toUpperCase() + String(data[0].LAST_NUMBER).padStart(14, '0');
                    })
                }
            }

        }
        var sabit = 0;
        var caridata = null;
        var pladata = null;
        $(document).ready(function () {

            $("#divPartial").show();


            $('#table').bootstrapTable('hideColumn', 'KUR');
            $('#table').bootstrapTable('hideColumn', 'STHAR_DOVFIAT');

            $.getJSON('http://192.168.2.13:83/api/musteri/cariler', function (data) {
                caridata = data;
                var select = document.getElementById("cariler");
                for (let i = 0; i < data.length; i++) {
                    var option = document.createElement("option");
                    if (data[i].CARI_ISIM != null) {
                        option.value = data[i].CARI_KOD;
                        option.innerHTML = (data[i].CARI_ISIM).replaceAll("Ý", "İ").replaceAll("Þ", "Ş").replaceAll("Ð", "Ğ");
                        select.appendChild(option);
                    }
                }
            }).done(function () {
                $("#cariler").select2({
                    placeholder: "Cari"
                }).val(null).trigger("change");
            })
            $.getJSON('http://192.168.2.13:83/api/stok', function (data) {
                var s = document.getElementById("stokadlari");
                for (let i = 0; i < data.length; i++) {
                    var option = document.createElement("option");
                    if (data[i].STOK_KODU != null) {
                        option.value = data[i].STOK_KODU;
                        option.innerHTML = data[i].STOK_ADI;
                        s.appendChild(option);
                    }
                }
            }).done(function () {
                $("#stokadlari").select2({
                    placeholder: "Stok Kodu"
                }).val(null).trigger("change");
            })
            $.getJSON('http://192.168.2.13:83/api/musteri/ozelkod1', function (data) {
                var s = document.getElementById("modalkod1");
                for (let i = 0; i < data.length; i++) {
                    var option = document.createElement("option");
                    if (data[i].OZELKOD != null) {
                        option.value = data[i].OZELKOD;
                        option.innerHTML = data[i].OZELKOD + " - " + (data[i].ACIKLAMA).replaceAll("Ý", "İ").replaceAll("Þ", "Ş").replaceAll("Ð", "Ğ");
                        s.appendChild(option);
                    }
                }
            }).done(function () {
                $("#modalkod1").select2({
                    placeholder: "Özel Kod1"
                }).val(null).trigger("change");
            })

            $.getJSON('http://192.168.2.13:83/api/musteri/ozelkod2', function (data) {
                var s = document.getElementById("modalkod2");
                for (let i = 0; i < data.length; i++) {
                    var option = document.createElement("option");
                    if (data[i].OZELKOD != null) {
                        option.value = data[i].OZELKOD;
                        option.innerHTML = data[i].OZELKOD + " - " + (data[i].ACIKLAMA).replaceAll("Ý", "İ").replaceAll("Þ", "Ş").replaceAll("Ð", "Ğ");
                        s.appendChild(option);
                    }
                }
            }).done(function () {
                $("#modalkod2").select2({
                    placeholder: "Özel Kod2"
                }).val(null).trigger("change");
                $("#projekod").select2({
                    placeholder: "Proje Kodu"
                }).val(null).trigger("change")
            })

        })
        jQuery(".floatlabel input").focus(function () {
            var elementId = $(this).attr('id');
            jQuery("label[for=" + elementId + "]").addClass('floatlabel-shift');
        });
        jQuery(".floatlabel input").blur(function () {
            if ($(this).val().length == 0) {
                var elementId = $(this).attr('id');
                jQuery("label[for=" + elementId + "]").removeClass('floatlabel-shift');
            }
        });
        jQuery(".floatlabel input").focus(function () {
            var elementId = $(this).attr('id');
            jQuery("label[for=" + elementId + "]").addClass('floatlabel-active');
        });
        jQuery(".floatlabel input").blur(function () {
            var elementId = $(this).attr('id');
            jQuery("label[for=" + elementId + "]").removeClass('floatlabel-active');
        });

        function change(value) {
            if (value == 1) {
                $('#ust').show();
                $('#kalem').hide();
            } else if (value == 2) {
                $('#ust').hide();
                $('#kalem').show();
            } else {
                $('#ust').hide();
                $('#kalem').hide();
            }
        }

        function showcarikod() {
            $('#modalCenter').modal({ backdrop: 'static', keyboard: false })
            $('#modalCenter').modal('show');
        }
        function showozelkod1() {
            $('#ozelkod1').modal({ backdrop: 'static', keyboard: false })
            $('#ozelkod1').modal('show');
        }
        function showozelkod2() {
            $('#ozelkod2').modal({ backdrop: 'static', keyboard: false })
            $('#ozelkod2').modal('show');
        }
        function showprojekodu() {
            $('#projekod').modal({ backdrop: 'static', keyboard: false })
            $('#projekod').modal('show');
        }
        function ekle() {

            var cc = $("#cariler").val();

            $("#carikod").val(cc).focus();
            $('#modalCenter').modal('hide');

        }
        function ekleozelkod1() {

            var cc = $("#modalkod1").val();

            $("#kod1").val(cc).focus();
            $('#ozelkod1').modal('hide');

        }
        function ekleozelkod2() {

            var cc = $("#modalkod2").val();

            $("#kod2").val(cc).focus();
            $('#ozelkod2').modal('hide');

        }
        function ekleprojekod() {

            var cc = $("#modalprojekod").val();

            $("#proje").val(cc).focus();
            $('#projekod').modal('hide');

        }
        function kalemekle() {
            var cop = document.querySelector(".copydiv");
            document.getElementById("pastecol").appendChild(cop.cloneNode(true));
        }

        function teklifchange() {
            var teklif = $('#teklifselect').val();
            var url = "http://192.168.2.13:83/api/musteri/teklifmas/" + teklif;
            $.getJSON(url, function (data) {
                $('#modalkod1').val(data.KOD1).trigger("change");
                $('#modalkod2').val(data.KOD2).trigger("change");
                $('#cariler').val(data.CARI_KODU).trigger("change");
                $('#plasiyerkod').val(data.PLA_KODU).focus();
                $('#aciklama').val(data.ACIKLAMA).focus();
                $('#projekod').val(data.PROJE_KODU).trigger("change");
            }).done(function () {
                var url1 = "http://192.168.2.13:83/api/musteri/fatuek/" + teklif;
                $.getJSON(url1, function (data) {
                    $('#cari').val(data.ACIK1).focus();
                    $('#sevk').val(data.ACIK2).focus();
                    $('#teslimat').val(data.ACIK3).focus();
                    $('#gecerlilik').val(data.ACIK4).focus();

                })
            })


        }
        function carichange() {
            var cariler = $('#cariler').val();
            var adres = caridata.filter(x => x.CARI_KOD == cariler)[0].CARI_ADRES;

            if (cariler == "0") {
                document.getElementById("caridiv").remove();
                $('#gereksiz').show();
                $('#c').focus();
            } else {

                $('#cariadres').val(adres);

                $('#gereksiz').hide();
            }
        }

        function clickli(value) {
            if (value == 1) {

                document.documentElement.style.cssText = " --color: linear-gradient(180deg, #93C54B 0 50%, #A9D16F 50% 100%);--color2: linear-gradient(180deg, #D3E7B5 0 50%, #E3F0D0 50% 100%);--color3: linear-gradient(180deg, #D3E7B5 0 50%, #E3F0D0 50% 100%); --div1after: #93C54B;--div1before: #A9D16F; --div2after: #D3E7B5;--div2before: #E3F0D0; --div3after: transparent; --div3before: transparent; --div1hover: linear-gradient(180deg, #A9D16F 0 50%, #93C54B 50% 100%);--div1hoverafter: #A9D16F; --div1hoverbefore: #93C54B; --div2hover: linear-gradient(180deg, #E3F0D0 0 50%, #D3E7B5 50% 100%); --div2hoverafter: #E3F0D0; --div2hoverbefore: #D3E7B5; --div3hover: linear-gradient(180deg, #E3F0D0 0 50%, #D3E7B5 50% 100%);--div3hoverafter: transparent; --div3hoverbefore: transparent; --div2color: black;--div3color: black"
                $("#ust").show();
                $("#toplam").hide();
                $("#kalem").hide();

            } else if (value == 2) {



                if ($("#TEKLIFNO").val() != null && $("#TEKLIFNO").val() != "") {

                    document.documentElement.style.cssText = " --color: linear-gradient(180deg, #93C54B 0 50%, #A9D16F 50% 100%);--color2: linear-gradient(180deg, #93C54B 0 50%, #A9D16F 50% 100%);--color3: linear-gradient(180deg, #D3E7B5 0 50%, #E3F0D0 50% 100%); --div1after: #93C54B;--div1before: #A9D16F; --div2after: #93C54B;--div2before: #A9D16F; --div3after: transparent; --div3before: transparent; --div1hover: linear-gradient(180deg, #A9D16F 0 50%, #93C54B 50% 100%);--div1hoverafter: #A9D16F; --div1hoverbefore: #93C54B; --div2hover: linear-gradient(180deg, #A9D16F 0 50%, #93C54B 50% 100%); --div2hoverafter: #A9D16F; --div2hoverbefore: #93C54B; --div3hover: linear-gradient(180deg, #E3F0D0 0 50%, #D3E7B5 50% 100%);--div3hoverafter: transparent; --div3hoverbefore: transparent;--div2color: white;--div3color: black"
                    $("#ust").hide();
                    $("#toplam").hide();
                    $("#kalem").show();
                    if (sabit == 0) {
                        var url = "http://192.168.2.13:83/api/satis/teklifler/" + $("#TEKLIFNO").val();
                        $("#table").bootstrapTable("destroy").bootstrapTable({

                            url: url,
                        })
                        sabit = 1
                    }

                }

            } else {
                var teklif = "";
                var text = "";
                var title = "";
                var bb = false;
                var url = "http://192.168.2.13:83/api/satis/" + document.getElementById("TEKLIFNO").value.substring(0, 1);
                var tb = document.getElementsByTagName("tbody")[0].getElementsByTagName("tr");
                if (tb[0].className != "no-records-found") {
                    $.getJSON(url, function (data) {

                        if (data[0].LAST_NUMBER - 1 > parseInt(document.getElementById("TEKLIFNO").value.substring(1, document.getElementById("TEKLIFNO").value.length))) {
                            title = "Uyarı!";
                            text = document.getElementById("TEKLIFNO").value + " numaralı teklif güncellenecektir. \n Onaylıyor musunuz?"
                            bb = true;
                        } else if (data[0].LAST_NUMBER == parseInt(document.getElementById("TEKLIFNO").value.substring(1, document.getElementById("TEKLIFNO").value.length))) {
                            title = "Kayıt"
                            text = document.getElementById("TEKLIFNO").value + " numaralı teklif kaydedilecektir. \n Onaylıyor musunuz?"
                            bb = false;
                        } else {

                            title = "Uyarı!";
                            text = document.getElementById("TEKLIFNO").value + " kullanıldığından teklif " + document.getElementById("TEKLIFNO").value.substring(0, 1).toUpperCase() + String(data[0].LAST_NUMBER).padStart(14, '0') + " numara ile kaydedilecektir. \n Onaylıyor musunuz?"
                            bb = false;
                        }
                    }).done(function () {
                        Swal.fire({
                            title: title,
                            text: text,
                            showCancelButton: true,
                            confirmButtonText: 'Onayla',
                            cancelButtonText: 'İptal',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                if ($("#TEKLIFNO").val() != null && $("#TEKLIFNO").val() != "") {
                                    generatePDF1();

                                    document.documentElement.style.cssText = " --color: linear-gradient(180deg, #93C54B 0 50%, #A9D16F 50% 100%);--color2: linear-gradient(180deg, #93C54B 0 50%, #A9D16F 50% 100%);--color3: linear-gradient(180deg, #93C54B 0 50%, #A9D16F 50% 100%); --div1after: #93C54B;--div1before: #A9D16F; --div2after: #93C54B;--div2before: #A9D16F; --div3after: transparent; --div3before: transparent; --div1hover: linear-gradient(180deg, #A9D16F 0 50%, #93C54B 50% 100%);--div1hoverafter: #A9D16F; --div1hoverbefore: #93C54B; --div2hover: linear-gradient(180deg, #A9D16F 0 50%, #93C54B 50% 100%); --div2hoverafter: #A9D16F; --div2hoverbefore: #93C54B; --div3hover: linear-gradient(180deg, #A9D16F 0 50%, #93C54B 50% 100%);--div3hoverafter: transparent; --div3hoverbefore: transparent;--div2color: white;--div3color: white"

                                    if (bb == false) {
                                        kaydet();
                                    } else {
                                        guncelle();
                                    }

                                    $("#ust").hide();
                                    $("#kalem").hide();
                                    $("#toplam").show();
                                }
                            }

                        })

                    })
                }
                else {
                    Swal.fire({
                        position: 'center',
                        icon: 'info',
                        title: 'Kalem eklenmeli',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }


            }

        }

        function focusout() {
            var t = $("#TEKLIFNO").val();
            if (t != null && t != "") {
                var teklifno = event.currentTarget.value;
                var url = 'http://192.168.2.13:83/api/satis/ustteklifler/' + teklifno;
                $.getJSON(url, function (data) {
                    globaldata = data;
                    $("#cariler").val(data[0].CARI_KODU).trigger("change");
                    $("#modalkod1").val(data[0].KOD1).trigger("change");
                    $("#modalkod2").val(data[0].KOD2).trigger("change");
                    $("#aciklama").val(data[0].ACIKLAMA).trigger("focus");
                    $("#plasiyerkod").val(data[0].PLASIYER_KODU).trigger("focus");
                    $("#projekod").val(data[0].PROJE_KODU).trigger("change");
                    $("#sevk").val(data[0].SEVK_YERI).trigger("focus");
                    $("#teslimat").val(data[0].TESLIM_YERI).trigger("focus");
                    $("#gecerlilik").val(data[0].GECERLILIK_SURESI).trigger("focus");
                    $("#tahsilat").val(data[0].TAHSILAT_SEKLI).trigger("focus");
                })
            }
        }
        function plasiyerkodchange() {
            var url = "http://192.168.2.13:83/api/satis/plasiyerler/" + event.currentTarget.value;
            $.getJSON(url, function (data) {
                var gsm = data[0].GSMNO;
                var mail = data[0].ACIKLAMA3;
                $("#plasiyeradi").val(data[0].PLASIYER_ACIKLAMA).trigger("focus");
                $('#carigsm').val(gsm);
                $('#carimail').val(mail);
            })
        }
        function toDataURL(src, callback, outputFormat) {
            let image = new Image();
            image.crossOrigin = 'Anonymous';
            image.onload = function () {
                let canvas = document.createElement('canvas');
                let ctx = canvas.getContext('2d');
                let dataURL;
                canvas.height = this.naturalHeight;
                canvas.width = this.naturalWidth;
                ctx.drawImage(this, 0, 0);
                dataURL = canvas.toDataURL(outputFormat);
                callback(dataURL);
            };
            image.src = src;
            if (image.complete || image.complete === undefined) {
                image.src = "data:image/jpg;base64, R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
                image.src = src;
            }
        }

        function generatePDF() {
            var carikod = $("#cariler").val();
            var cariad = $("#cariler option:selected").text();
            var odeme = $("#modalkod1 option:selected").text().split('-')[1];
            var teklif = globaldata[0].TEKLIF_NO;
            var gsm = globaldata[0].GSMNO;
            var mail = globaldata[0].EPOSTA;
            var adres = globaldata[0].CARI_ADRES;
            var geneltop = globaldata[0].GENELTOPLAM;
            var tevkifat = globaldata[0].TEVKIFAT;
            var bruttop = globaldata[0].BRUTTUTAR;
            var kdv = globaldata[0].KDV;
            var isktop = globaldata[0].SAT_ISKT;
            var dovizadi = globaldata[0].DOVIZ_ISMI;
            var url = "http://192.168.2.13:83/api/satis/plasiyerler/" + globaldata[0].PLASIYER_KODU;
            $.getJSON(url, function (data) {
                var plasiyer = data[0].PLASIYER_ACIKLAMA;
                var url1 = "http://192.168.2.13:83/api/satis/teklifler/" + teklif;
                var model = [];
                $.getJSON(url1, function (data1) {
                    for (let i = 0; i < data1.length; i++) {
                        model.push({ "STOK_ADI": data1[i].STOK_ADI, "MIKTAR1": data1[i].STHAR_GCMIK, "OLCUBR1": data1[i].OLCU_BR1, "MIKTAR2": data1[i].STHAR_GCMIK2, "OLCUBR2": data1[i].OLCU_BR2, "STHAR_SATISK": data1[i].STHAR_SATISK, "STHAR_BF": data1[i].STHAR_BF, "TESLIM_TARIHI": data1[i].TESLIM_TARIHI, "TESLIM_YERI": data1[i].TESLIM_YERI })
                    }

                }).done(function () {
                    $.ajax({
                        url: "/Satis/CreatePdf",
                        type: "POST",
                        data: { "carikod": carikod, "cariAd": cariad, "odeme": odeme, "teklif": teklif, "plasiyer": plasiyer, "gsm": gsm, "mail": mail, "adres": adres, "geneltoplam": geneltop, "tevkifat": tevkifat, "bruttop": bruttop, "kdv": kdv, "isktop": isktop, "dovizadi": dovizadi, "input": model },
                        success: function (response) {

                            const downloadLink = document.createElement('a');
                            downloadLink.href = 'PDF' + teklif + '.pdf';
                            downloadLink.download = teklif + '.pdf';

                            // Trigger the download
                            document.body.appendChild(downloadLink);
                            downloadLink.click();
                            setTimeout(() => {
                                URL.revokeObjectURL(downloadLink.href);
                                document.body.removeChild(downloadLink);
                            }, 100);

                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                })

            })

        }


        function generatePDF1() {
            var carikod = $("#cariler").val();
            var cariad = $("#cariler option:selected").text();
            var odeme = $("#modalkod1 option:selected").text().split('-')[1];
            if (globaldata.length > 0) {
                var teklif = globaldata[0].TEKLIF_NO;
                var gsm = globaldata[0].GSMNO;
                var mail = globaldata[0].EPOSTA;
                var adres = globaldata[0].CARI_ADRES;
                var geneltop = globaldata[0].GENELTOPLAM;
                var tevkifat = globaldata[0].TEVKIFAT;
                var bruttop = globaldata[0].BRUTTUTAR;
                var kdv = globaldata[0].KDV;
                var isktop = globaldata[0].SAT_ISKT;
                var dovizadi = globaldata[0].DOVIZ_ISMI;
                var url = "http://192.168.2.13:83/api/satis/plasiyerler/" + globaldata[0].PLASIYER_KODU;


                $.getJSON(url, function (data) {
                    var plasiyer = data[0].PLASIYER_ACIKLAMA;
                    var url1 = "http://192.168.2.13:83/api/satis/teklifler/" + teklif;
                    var model = [];
                    $.getJSON(url1, function (data1) {
                        for (let i = 0; i < data1.length; i++) {
                            model.push({ "STOK_ADI": data1[i].STOK_ADI, "MIKTAR1": data1[i].STHAR_GCMIK, "OLCUBR1": data1[i].OLCU_BR1, "MIKTAR2": data1[i].STHAR_GCMIK2, "OLCUBR2": data1[i].OLCU_BR2, "STHAR_SATISK": data1[i].STHAR_SATISK, "STHAR_BF": data1[i].STHAR_BF, "TESLIM_TARIHI": data1[i].TESLIM_TARIHI, "TESLIM_YERI": data1[i].TESLIM_YERI })
                        }

                    }).done(function () {

                        $.ajax({
                            url: "/Satis/CreatePdf",
                            type: "POST",
                            data: { "carikod": carikod, "cariAd": cariad, "odeme": odeme, "teklif": teklif, "plasiyer": plasiyer, "gsm": gsm, "mail": mail, "adres": adres, "geneltoplam": geneltop, "tevkifat": tevkifat, "bruttop": bruttop, "kdv": kdv, "isktop": isktop, "dovizadi": dovizadi, "input": model },
                            success: function (response) {
                                var d = "PDF" + teklif + ".pdf";
                                var ob = document.createElement("object");
                                ob.setAttribute("data", d);
                                ob.setAttribute("type", "application/pdf");
                                ob.setAttribute("width", "100%");
                                ob.setAttribute("height", "650px");
                                document.getElementById("objdiv").replaceChildren();
                                document.getElementById("objdiv").appendChild(ob);
                            },
                            error: function (request, status, error) {
                                alert(request.responseText);
                            }
                        });
                    })
                })
            }
            else {
                var model = [];
                async function func() {
                    var tr = document.getElementsByTagName("tbody")[0].getElementsByTagName("tr");
                    for (let i = 0; i < tr.length; i++) {
                        if (farkliDoviz) {
                            model.push({
                                "STOK_ADI": tr[i].getElementsByTagName("td")[3].innerHTML,
                                "MIKTAR1": tr[i].getElementsByTagName("td")[4].innerHTML.split(" ")[0],
                                "OLCUBR1": tr[i].getElementsByTagName("td")[4].innerHTML.split(" ")[1],
                                "MIKTAR2": tr[i].getElementsByTagName("td")[5].innerHTML.split(" ")[0],
                                "OLCUBR2": tr[i].getElementsByTagName("td")[5].innerHTML.split(" ")[1],
                                "STHAR_SATISK": tr[i].getElementsByTagName("td")[6].innerHTML,
                                "DOVIZ_TUTAR": tr[i].getElementsByTagName("td")[7].innerHTML,
                                "DOVIZ_FIYAT": tr[i].getElementsByTagName("td")[9].innerHTML,
                                "STHAR_BF": tr[i].getElementsByTagName("td")[10].innerHTML,
                                "TESLIM_YERI": tr[i].getElementsByTagName("td")[12].getElementsByTagName("span")[0].innerHTML,
                                "TESLIM_TARIHI": tr[i].getElementsByTagName("td")[13].innerHTML,
                            })
                        }
                        else {
                            model.push({
                                "STOK_ADI": tr[i].getElementsByTagName("td")[3].innerHTML,
                                "MIKTAR1": tr[i].getElementsByTagName("td")[4].innerHTML.split(" ")[0],
                                "OLCUBR1": tr[i].getElementsByTagName("td")[4].innerHTML.split(" ")[1],
                                "MIKTAR2": tr[i].getElementsByTagName("td")[5].innerHTML.split(" ")[0],
                                "OLCUBR2": tr[i].getElementsByTagName("td")[5].innerHTML.split(" ")[1],
                                "STHAR_SATISK": tr[i].getElementsByTagName("td")[6].innerHTML,
                                "DOVIZ_TUTAR": tr[i].getElementsByTagName("td")[7].innerHTML,
                                "DOVIZ_FIYAT": "0",
                                "STHAR_BF": tr[i].getElementsByTagName("td")[8].innerHTML,
                                "TESLIM_YERI": tr[i].getElementsByTagName("td")[10].getElementsByTagName("span")[0].innerHTML,
                                "TESLIM_TARIHI": tr[i].getElementsByTagName("td")[11].innerHTML,
                            })
                        }
                    }
                }
                func();

                $.ajax({
                    url: "/Satis/CreatePdf",
                    type: "POST",
                    data: { "carikod": carikod, "cariAd": cariad, "odeme": odeme, "teklif": $("#TEKLIFNO").val(), "plasiyer": $("#plasiyeradi").val(), "gsm": $("#carigsm").val(), "mail": $("#carimail").val(), "adres": $("#cariadres").val(), "geneltoplam": "0", "tevkifat": "0", "bruttop": "0", "kdv": "0", "isktop": "0", "dovizadi": "TRY", "input": model },
                    success: function (response) {
                        var d = "PDF" + $("#TEKLIFNO").val() + ".pdf";
                        var ob = document.createElement("object");
                        ob.setAttribute("data", d);
                        ob.setAttribute("type", "application/pdf");
                        ob.setAttribute("width", "100%");
                        ob.setAttribute("height", "650px");
                        document.getElementById("objdiv").replaceChildren();
                        document.getElementById("objdiv").appendChild(ob);
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }

                });

            }






        }
        var d = null;
        var options = "";
        var depolar = "";
        var depodata = null;
        $.getJSON('http://192.168.2.13:83/api/stok', function (data) {

            d = data;
            for (let i = 0; i < data.length; i++) {
                if (data[i].STOK_KODU != null) {

                    options = options + "<option value=" + data[i].STOK_KODU + ">" + data[i].STOK_ADI + "</option>"
                }
            }
        })
        $.getJSON("http://192.168.2.13:83/api/stok/depo", function (data) {
            depodata = data;
            for (let i = 0; i < data.length; i++) {


                depolar = depolar + "<option value=" + data[i].DEPO_KODU + ">" + data[i].DEPO_ISMI + "</option>"

            }
        })
        var stokkodu = null;
        var stokadi = null;
        var miktar1 = null;
        var miktar2 = null;
        var olcubr2 = null;
        var olcubr1 = null;
        var bf = null;
        var nf = null;
        var iskonto = null;
        var dovtip = null;
        var dovfiyat = null;
        var depo = null;
        var kur = null;
        var termindate = null;

        var farkliDoviz = false;
        function buttons() {
            return {
                btnRowAdd: {
                    text: 'RowAdd',
                    icon: 'fa-solid fa-file-circle-plus',
                    event: function () {
                        if (options != "") {
                            Swal.fire({
                                title: "Kalem Ekle",
                                html: '<div class="container" style="overflow:hidden"><div class="row"><div class="col d-flex"><select class="form-control" onchange="selectchange()" id="stokadlari" value="">' + options + '</select></div></div><div class="row mt-2"><div class="col d-flex"><input class="form-control" type="text" id="termindate" placeholder="Termin" autocomplete="off"></div></div><div class="row mt-2"><div class="col d-flex"><input type="text" class="form-control" placeholder="Miktar 1" onkeyup="keychange()" id="miktar1" autocomplete="off"></div><div class="col-2 d-flex"><input type="text" class="form-control" disabled="disabled" id="olcubr1" style="font-size:11px!important" autocomplete="off"></div><div class="col d-flex"><input type="text" class="form-control" placeholder="Miktar 2" onkeyup="keychange()" id="miktar2" autocomplete="off"></div><div class="col-2 d-flex"><select value="" disabled="disabled" style="font-size:11px!important" onchange="keychange()" id="olcubr2" class="form-control" value="AD"><option value="AD">AD</option><option value="MT">MT</option><option value="KT">KT</option><option value="PK">PK</option><option value="KL">KL</option></select></div></div><div class="row mt-2"><div class="col d-flex"><select onchange="kurchange()" id="kurselect" class="form-control"><option value="0">TRY</option><option value="1">USD</option><option value="2">EUR</option></select></div><div class="col d-flex"><input readonly="readonly" placeholder="Döviz Fiyat" autocomplete="off" class="form-control" onkeyup="dovfiatchange()" id="dovfiat"></div><div class="col d-flex"><input onkeyup="keychange()" autocomplete="off" readonly="readonly" placeholder="Kur" class="form-control" id="kurinput"></div></div><div class="row mt-2"><div class="col d-flex"><input class="form-control" autocomplete="off" onkeyup="brutchange()" placeholder="Brüt Fiyat" id="brutfiyat"></div><div class="col d-flex"><input onkeyup="iskontochange()" autocomplete="off" placeholder="İskonto (%)" class="form-control" id="iskonto" value="0"></div></div><div class="row mt-2"><div class="col d-flex"><input onkeyup="keychange()" autocomplete="off" readonly="readonly" placeholder="Net Fiyat" class="form-control" id="netfiyat"></div><div class="col" d-flex><select class="form-control" onchange="keychange()" id="deppo" value=""><option value="1">EFECE 1 (1)</option><option value="5">EFECE 2 (5)</option><option value="8">EFECE 3 (8)</option><option value="46">MANİSA FAB. (46)</option><option value="10">FAB. DİRECT (10)</option></select></div></div></div>',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Kaydet',
                                cancelButtonText: 'İptal',
                                showClass: {
                                    popup: 'pop2 animate__animated animate__zoomIn'
                                },
                                hideClass: {
                                    popup: 'pop2 animate__animated animate__zoomOut'
                                },
                                didOpen: function () {

                                    const picker = new Litepicker({
                                        element: document.getElementById('termindate'),
                                        lang: "tr-TR",
                                        minDate: Date.now(),
                                        plugins: ['mobilefriendly'],
                                        mobilefriendly: {
                                            breakpoint: 570,
                                        },
                                        format: 'DD.MM.YYYY'
                                    });

                                    picker.on("selected", (date1, date2) => {
                                        termindate = new Date(date1.dateInstance).toLocaleDateString();
                                        keychange();
                                    });

                                    $('#termindate').on("change input paste", (e) => {
                                        TerminChange(e);
                                    });

                                    $(swal.getConfirmButton()).prop('disabled', true)
                                    $("#deppo").select2({
                                        placeholder: "DEPO",
                                        dropdownParent: $(".swal2-modal")
                                    }).val(null).trigger("change");
                                    $("#stokadlari").select2({
                                        placeholder: "Stok Kodu",
                                        dropdownParent: $(".swal2-modal")
                                    }).val(null).trigger("change");

                                }
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    $("#table").bootstrapTable('insertRow', {
                                        index: $('#table tr').length,
                                        row: {
                                            FISNO: $("#TEKLIFNO").val(),
                                            STOK_KODU: stokkodu,
                                            STOK_ADI: stokadi,
                                            STHAR_GCMIK: miktar1,
                                            OLCU_BR1: olcubr1,
                                            STHAR_GCMIK2: miktar2,
                                            OLCU_BR2: olcubr2,
                                            STHAR_BF: bf,
                                            STHAR_NF: nf,
                                            STHAR_SATISK: iskonto != "" ? iskonto / 10000 : 0,
                                            STHAR_DOVTIP: dovtip,
                                            STHAR_DOVFIAT: dovfiyat != "" ? dovfiyat : 0,
                                            DEPO_KODU: depo,
                                            TERMIN: termindate
                                        }
                                    })

                                    FarkliDovizKontrol();

                                    if (dovtip != "0" || farkliDoviz) {
                                        $('#table').bootstrapTable('showColumn', 'KUR');
                                        $('#table').bootstrapTable('showColumn', 'STHAR_DOVFIAT');
                                    }
                                    else {
                                        $('#table').bootstrapTable('hideColumn', 'KUR');
                                        $('#table').bootstrapTable('hideColumn', 'STHAR_DOVFIAT');
                                    }
                                }
                            })

                        }



                    },
                    attributes: {
                        title: 'Kalem Ekle'
                    }

                },
                btnUsersAdd: {
                    text: 'PDF',
                    icon: 'fa fa-file-pdf',
                    event: function () {
                        generatePDF()
                    },
                    attributes: {
                        title: 'PDF çıktısı al'
                    }

                }

            }
        }
        function addRow() {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.innerHTML = $("#TEKLIFNO").val();
            tr.appendChild(td);
            $('#table tbody').append(tr);
        }
        function selectchange() {
            var data = d.filter(x => x.STOK_KODU == $("#stokadlari").val());

            stokkodu = $("#stokadlari").val();
            stokadi = $("#stokadlari option:selected").text();

            if (data.length > 0) {
                $("#olcubr1").val(data[0].OLCU_BR1);
                $("#olcubr2").val(data[0].OLCU_BR2);
            }

            keychange();
        }
        function keychange() {
            stokkodu = $("#stokadlari").val();
            miktar1 = $("#miktar1").val();
            miktar2 = $("#miktar2").val();
            olcubr1 = $("#olcubr1").val();
            olcubr2 = $("#olcubr2").val();
            bf = $("#brutfiyat").val();
            bf = bf.replaceAll(",", ".");
            nf = $("#netfiyat").val();
            nf = nf.replaceAll(",", ".");
            iskonto = $("#iskonto").val();
            dovtip = $("#kurselect").val();
            dovfiyat = $("#dovfiat").val();
            depo = $("#deppo").val();
            if (miktar1 != "" && miktar2 != "" && bf != "" && nf != "" && iskonto != "" && dovtip != "" && depo != null && termindate != null && stokkodu != null) {
                $(swal.getConfirmButton()).prop('disabled', false)
            } else {
                $(swal.getConfirmButton()).prop('disabled', true)
            }
            if (miktar2 != "") {
                $("#olcubr2").prop('disabled', false);
            } else {
                $("#olcubr2").prop('disabled', true);
            }
        }
        function kaydet() {
            $("#content").show();
            var data1 = [];
            var data2 = [];
            var tr = document.getElementById("table").getElementsByTagName("tbody")[0].getElementsByTagName("tr");

            for (let i = 0; i < tr.length; i++) {
                FarkliDovizKontrol();
                if (farkliDoviz) {
                    var stokkodu = tr[i].getElementsByTagName("td")[2].innerHTML;
                    var miktar1 = tr[i].getElementsByTagName("td")[4].innerHTML;
                    var miktar2 = tr[i].getElementsByTagName("td")[5].innerHTML;
                    var bf = tr[i].getElementsByTagName("td")[10].innerHTML;
                    var nf = tr[i].getElementsByTagName("td")[11].innerHTML;
                    var iskonto = tr[i].getElementsByTagName("td")[6].innerHTML;
                    var depo = tr[i].getElementsByTagName("td")[12].getElementsByTagName("span")[0].innerHTML;
                    var depokodu = depodata.filter(x => x.DEPO_ISMI == depo)[0].DEPO_KODU;
                    var kur = tr[i].getElementsByTagName("td")[8].innerHTML;
                    var dov = tr[i].getElementsByTagName("td")[7].innerHTML;
                }
                else {
                    var stokkodu = tr[i].getElementsByTagName("td")[2].innerHTML;
                    var miktar1 = tr[i].getElementsByTagName("td")[4].innerHTML;
                    var miktar2 = tr[i].getElementsByTagName("td")[5].innerHTML;
                    var bf = tr[i].getElementsByTagName("td")[8].innerHTML;
                    var nf = tr[i].getElementsByTagName("td")[9].innerHTML;
                    var iskonto = tr[i].getElementsByTagName("td")[6].innerHTML;
                    var depo = tr[i].getElementsByTagName("td")[10].getElementsByTagName("span")[0].innerHTML;
                    var depokodu = depodata.filter(x => x.DEPO_ISMI == depo)[0].DEPO_KODU;
                    var kur = "-";
                    var dov = tr[i].getElementsByTagName("td")[7].innerHTML;
                }

                var dovtip = "0";
                if (dov == "TRY") {
                    dovtip = "0";
                } else if (dov == "USD") {
                    dovtip = "1";
                } else {
                    dovtip = "2";
                }

                data2.push({ STOK_KODU: stokkodu, MIKTAR1: miktar1.split(" ")[0], MIKTAR2: miktar2.split(" ")[0], BF: bf, NF: nf, ISKONTO: iskonto, DEPO_KODU: depokodu.toString(), KUR: (kur != "-" ? kur : "0"), DOVTIP: dovtip, OLCUBR1: miktar1.split(" ")[1], OLCUBR2: miktar2.split(" ")[1] });

            }

            data1.push({ FATIRS_NO: $("#TEKLIFNO").val(), CARI_KODU: $("#cariler").val(), PLA_KODU: $("#plasiyerkod").val(), KOD2: $("#modalkod2").val(), KOD1: $("#modalkod1").val(), ACIKLAMA: $("#aciklama").val(), PROJE_KODU: $("#projekod").val(), SEVK_YERI: "", TESLIMAT_SEKLI: "", GECERLILIK_SURESI: "", TAHSILAT_SEKLI: "", KALEM: data2 })
            $.ajax({
                url: "/Satis/TeklifOlustur",
                type: "POST",
                dataType: "json",
                data: data1[0],
                success: function (response) {
                    $("#content").hide();
                },
                error: function (err) {
                    $("#content").hide();
                }
            });


        }
        function guncelle() {
            var data1 = [];
            var data2 = [];
            $("#content").show();
            var tr = document.getElementById("table").getElementsByTagName("tbody")[0].getElementsByTagName("tr");
            for (let i = 0; i < tr.length; i++) {
                FarkliDovizKontrol();
                if (farkliDoviz) {
                    var stokkodu = tr[i].getElementsByTagName("td")[2].innerHTML;
                    var miktar1 = tr[i].getElementsByTagName("td")[4].innerHTML;
                    var miktar2 = tr[i].getElementsByTagName("td")[5].innerHTML;
                    var bf = tr[i].getElementsByTagName("td")[10].innerHTML;
                    var nf = tr[i].getElementsByTagName("td")[11].innerHTML;
                    var iskonto = tr[i].getElementsByTagName("td")[6].innerHTML;
                    var depo = tr[i].getElementsByTagName("td")[12].getElementsByTagName("span")[0].innerHTML;
                    var depokodu = depodata.filter(x => x.DEPO_ISMI == depo)[0].DEPO_KODU;
                    var kur = tr[i].getElementsByTagName("td")[8].innerHTML;
                    var dov = tr[i].getElementsByTagName("td")[7].innerHTML;
                }
                else {
                    var stokkodu = tr[i].getElementsByTagName("td")[2].innerHTML;
                    var miktar1 = tr[i].getElementsByTagName("td")[4].innerHTML;
                    var miktar2 = tr[i].getElementsByTagName("td")[5].innerHTML;
                    var bf = tr[i].getElementsByTagName("td")[8].innerHTML;
                    var nf = tr[i].getElementsByTagName("td")[9].innerHTML;
                    var iskonto = tr[i].getElementsByTagName("td")[6].innerHTML;
                    var depo = tr[i].getElementsByTagName("td")[10].getElementsByTagName("span")[0].innerHTML;
                    var depokodu = depodata.filter(x => x.DEPO_ISMI == depo)[0].DEPO_KODU;
                    var kur = "-";
                    var dov = tr[i].getElementsByTagName("td")[7].innerHTML;
                }

                var tn = $("#TEKLIFNO").val();
                var dovtip = 0;


                if (dov == "TRY") {
                    dovtip = "0";
                } else if (dov == "USD") {
                    dovtip = "1";
                } else {
                    dovtip = "2";
                }
                data2.push({ STOK_KODU: stokkodu, MIKTAR1: miktar1.split(" ")[0], MIKTAR2: miktar2.split(" ")[0], BF: bf, NF: nf, ISKONTO: iskonto, DEPO_KODU: depokodu.toString(), KUR: (kur != "" ? kur : "0"), DOVTIP: dovtip, OLCUBR1: miktar1.split(" ")[1], OLCUBR2: miktar2.split(" ")[1] });
            }

            data1.push({ FATIRS_NO: tn, CARI_KODU: $("#cariler").val(), PLA_KODU: $("#plasiyerkod").val(), KOD2: $("#modalkod2").val(), KOD1: $("#modalkod1").val(), ACIKLAMA: $("#aciklama").val(), PROJE_KODU: $("#projekod").val(), SEVK_YERI: "", TESLIMAT_SEKLI: "", GECERLILIK_SURESI: "", TAHSILAT_SEKLI: "", KALEM: data2 })
            $.ajax({
                url: "/Satis/TeklifDuzelt",
                type: "POST",
                dataType: "json",
                data: data1[0],
                success: function (response) {
                    alert(response['response']);
                },
                error: function (err) {
                    $("#content").hide();
                    clickli(1);
                    $("#TEKLIFNO").val(tn).trigger("focusout");
                }
            });
        }
        function miktarFormatter(value, index, row) {

            return value + " " + index.OLCU_BR1;

        }
        function miktar2Formatter(value, index, row) {

            return value + " " + index.OLCU_BR2;

        }
        function duzenFormatter(value, index, row) {

            return "<i onclick='duzenlefunc()' style='cursor:pointer' class='fa-solid fa-pencil'></i>";

        }
        function depoFormatter(value, index, row) {
            var isim = depodata.filter(x => x.DEPO_KODU == value)[0].DEPO_ISMI
            return "<span class='text-nowrap'>" + isim + "</span>";

        }
        function dovFormatter(value, index, row) {
            var a = "";
            if (value == 0) {
                a = "TRY"
            } else if (value == 1) {
                a = "USD";
            } else {
                a = "EUR"
            }
            return a;

        }
        function duzenlefunc() {
            var t;
            var rowNum;
            var first;
            var onmiktar1;
            var onmiktar2;
            var onbrut;
            var oniskonto;
            var ondepo;
            var ondepokodu;
            var onnet;
            var termin;

            if (!farkliDoviz) {
                t = document.getElementById("table").getElementsByTagName("tr");
                rowNum = event.currentTarget.parentNode.parentNode.rowIndex;
                first = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[2].innerHTML;
                onmiktar1 = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[4].innerHTML.split(" ")[0];
                onmiktar2 = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[5].innerHTML.split(" ")[0];
                onbrut = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[8].innerHTML;
                oniskonto = (t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[6].innerHTML) * 100000;
                ondepo = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[10].getElementsByTagName("span")[0].innerHTML;
                ondepokodu = depodata.filter(x => x.DEPO_ISMI == ondepo)[0].DEPO_KODU;
                onnet = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[9].innerHTML;
                termin = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[11].innerHTML;
            }
            else {
                t = document.getElementById("table").getElementsByTagName("tr");
                rowNum = event.currentTarget.parentNode.parentNode.rowIndex;
                first = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[2].innerHTML;
                onmiktar1 = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[4].innerHTML.split(" ")[0];
                onmiktar2 = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[5].innerHTML.split(" ")[0];
                onbrut = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[10].innerHTML;
                oniskonto = (t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[6].innerHTML) * 100000;
                ondepo = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[12].getElementsByTagName("span")[0].innerHTML;
                ondepokodu = depodata.filter(x => x.DEPO_ISMI == ondepo)[0].DEPO_KODU;
                onnet = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[11].innerHTML;
                termin = t[event.currentTarget.parentNode.parentNode.rowIndex].getElementsByTagName("td")[13].innerHTML;
            }

            Swal.fire({
                title: "Kalem Değiştir",
                html: '<div class="container" style="overflow:hidden"><div class="row"><div class="col d-flex"><select class="form-control" onchange="selectchange()" id="stokadlari" value="">' + options + '</select></div></div><div class="row mt-2"><div class="col d-flex"><input class="form-control" type="text" id="termindate" placeholder="Termin" autocomplete="off"></div></div><div class="row mt-2"><div class="col d-flex"><input type="text" class="form-control" placeholder="Miktar 1" onkeyup="keychange()" id="miktar1" autocomplete="off"></div><div class="col-2 d-flex"><input type="text" class="form-control" disabled="disabled" id="olcubr1" style="font-size:11px!important" autocomplete="off"></div><div class="col d-flex"><input type="text" class="form-control" placeholder="Miktar 2" onkeyup="keychange()" id="miktar2" autocomplete="off"></div><div class="col-2 d-flex"><select value="" disabled="disabled" style="font-size:11px!important" onchange="keychange()" id="olcubr2" class="form-control" value="AD"><option value="AD">AD</option><option value="MT">MT</option><option value="KT">KT</option><option value="PK">PK</option><option value="KL">KL</option></select></div></div><div class="row mt-2"><div class="col d-flex"><select onchange="kurchange()" id="kurselect" class="form-control"><option value="0">TRY</option><option value="1">USD</option><option value="2">EUR</option></select></div><div class="col d-flex"><input readonly="readonly" placeholder="Döviz Fiyat" autocomplete="off" class="form-control" onkeyup="dovfiatchange()" id="dovfiat"></div><div class="col d-flex"><input onkeyup="keychange()" autocomplete="off" readonly="readonly" placeholder="Kur" class="form-control" id="kurinput"></div></div><div class="row mt-2"><div class="col d-flex"><input class="form-control" autocomplete="off" onkeyup="brutchange()" placeholder="Brüt Fiyat" id="brutfiyat"></div><div class="col d-flex"><input onkeyup="iskontochange()" autocomplete="off" placeholder="İskonto (%)" class="form-control" id="iskonto" value="0"></div></div><div class="row mt-2"><div class="col d-flex"><input onkeyup="keychange()" autocomplete="off" readonly="readonly" placeholder="Net Fiyat" class="form-control" id="netfiyat"></div><div class="col" d-flex><select class="form-control" onchange="keychange()" id="deppo" value=""><option value="1">EFECE 1 (1)</option><option value="5">EFECE 2 (5)</option><option value="8">EFECE 3 (8)</option><option value="46">MANİSA FAB. (46)</option><option value="10">FAB. DİRECT (10)</option></select></div></div></div>',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Değiştir',
                cancelButtonText: 'İptal',
                showClass: {
                    popup: 'pop2 animate__animated animate__zoomIn'
                },
                hideClass: {
                    popup: 'pop2 animate__animated animate__zoomOut'
                },
                didOpen: function () {

                    const picker = new Litepicker({
                        element: document.getElementById('termindate'),
                        lang: "tr-TR",
                        minDate: Date.now(),
                        plugins: ['mobilefriendly'],
                        mobilefriendly: {
                            breakpoint: 570,
                        },
                        format: 'DD.MM.YYYY'
                    });

                    picker.on("selected", (date1, date2) => {
                        if (date1 != null) {
                            termindate = new Date(date1.dateInstance).toLocaleDateString();
                            keychange();
                        }
                    });

                    $('#termindate').on("change input paste", (e) => {
                        TerminChange(e);
                    });

                    picker.setDate(moment(termin, 'DD.MM.YYYY')._d);

                    $("#deppo").select2({
                        placeholder: "Depo",
                        dropdownParent: $(".swal2-modal")
                    }).val(ondepokodu).trigger("change");
                    $("#stokadlari").select2({
                        placeholder: "Stok Kodu",
                        dropdownParent: $(".swal2-modal")
                    }).val(first).trigger("change");
                    $("#miktar1").val(onmiktar1);
                    $("#miktar2").val(onmiktar2);
                    $("#brutfiyat").val(onbrut);
                    $("#iskonto").val(oniskonto);
                    $("#netfiyat").val(onnet);

                }
            }).then((result) => {
                if (result.isConfirmed) {

                    $("#table").bootstrapTable('updateRow', {
                        index: rowNum - 1,
                        row: {
                            FISNO: $("#TEKLIFNO").val(),
                            STOK_KODU: stokkodu,
                            STOK_ADI: stokadi,
                            STHAR_GCMIK: miktar1,
                            OLCU_BR1: olcubr1,
                            STHAR_GCMIK2: miktar2,
                            OLCU_BR2: olcubr2,
                            STHAR_BF: bf,
                            STHAR_NF: nf,
                            STHAR_SATISK: iskonto,
                            STHAR_DOVTIP: dovtip,
                            STHAR_DOVFIAT: dovfiyat != "" ? dovfiyat : 0,
                            DEPO_KODU: depo,
                            TERMIN: termindate
                        }
                    })

                    FarkliDovizKontrol();

                    if (dovtip != "0") {
                        $('#table').bootstrapTable('showColumn', 'KUR');
                        $('#table').bootstrapTable('showColumn', 'STHAR_DOVFIAT');
                    }
                    else {
                        $('#table').bootstrapTable('hideColumn', 'KUR');
                        $('#table').bootstrapTable('hideColumn', 'STHAR_DOVFIAT');
                    }
                }
            })


        }

        function FarkliDovizKontrol() {
            var tr = document.getElementById("table").getElementsByTagName("tbody")[0].getElementsByTagName("tr");
            farkliDoviz = false;

            for (var i = 0; i < tr.length; i++) {
                var dov = tr[i].getElementsByTagName("td")[7].innerHTML;

                if (dov != 0) {
                    farkliDoviz = true;
                    break;
                }
            }
        }

        function TerminChange(e) {
            e.target.value = null;
            termindate = null;

            keychange();
        }

        function kurchange() {
            var k = $("#kurselect").val();
            var url = "http://192.168.2.13:83/api/satis/kur/" + k
            $.getJSON(url, function (data) {
                if (k != 0) {
                    $("#dovfiat").attr("readonly", false);
                    var kur = data[0].DOV_SATIS;
                    $("#kurinput").val(kur.replaceAll(".", ","));
                    keychange();
                } else {
                    $("#kurinput").val(null);
                    $("#dovfiat").val(null);
                    $("#dovfiat").attr("readonly", true);
                    keychange();
                }

            })

        }
        function dovfiatchange() {

            var dov = $("#dovfiat").val();
            var kur = $("#kurinput").val();
            if (dov == "") {
                $("#brutfiyat").val(null);
                keychange();
            } else {
                var brut = parseFloat(dov.replaceAll(",", ".")) * parseFloat(kur.replaceAll(",", "."));
                $("#brutfiyat").val(brut.toLocaleString());
                keychange();
            }

        }
        function brutchange() {
            var dov = $("#dovfiat").val();
            var brut = $("#brutfiyat").val();
            if (brut == "") {
                kurchange();
                keychange();
            } else {
                if (dov != "") {
                    var kur = parseFloat(brut.replaceAll(",", ".")) / parseFloat(dov.replaceAll(",", "."));
                    $("#kurinput").val(kur);
                } else {
                    $("#netfiyat").val()
                }

                iskontochange()
                keychange();
            }

        }
        function iskontochange() {
            var iskonto = $("#iskonto").val();
            var brut = $("#brutfiyat").val();
            if (iskonto == "") {
                $("#netfiyat").val(null);
                keychange();
            } else {
                if (brut != "") {
                    var net = parseFloat(brut.replaceAll(",", ".")) - (parseFloat(brut.replaceAll(",", ".")) * (parseFloat(iskonto.replaceAll(",", ".")) / 100));
                    $("#netfiyat").val(net.toFixed(2).replaceAll(".", ","));
                } else {

                    $("#netfiyat").val(null);
                }

                keychange();
            }

        }
        $(document).on('select2:open', (e) => {
            const selectId = e.target.id;
            $(".select2-search__field[aria-controls='select2-" + selectId + "-results']").each(function (key, value,) {
                value.focus();
            });
        });
    </script>


</body>
</html>
