
@media only screen and (max-width: 910px) {
  body {
    flex-direction: column;
  }
}
@keyframes rotation-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.purple-circle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.purple-circle .circle-bleeding {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  padding: 55px;
  background: linear-gradient(transparent 40%, rgba(213, 58, 157, 0.25));
  -webkit-mask-image: radial-gradient(ellipse 100% 100% at 50% 50%, black 30%, transparent 35%);
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
}
.purple-circle .circle-bleeding .circle-shadow {
  display: inline-block;
  border-radius: 50%;
  box-shadow: -5px 5px 25px #000000e6;
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
.purple-circle .circle-bleeding .circle-shadow .circle-wrapper {
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  background: linear-gradient(#743ad5, #d53a9d);
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
}
.purple-circle .circle-bleeding .circle-shadow .circle-wrapper .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #252525;
  background: radial-gradient(ellipse 100% 100% at 50% 50%, #2d2d2d, #383838);
  border: 1px solid #1b1b1b;
  box-shadow: inset 0 0 10px #000000;
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  display: flex;
  justify-content: center;
  align-items: center;
}
.purple-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:hover {
  box-shadow: inset 0 0 15px #000000;
}
.purple-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:hover .text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #15051466;
  color: #d53a9d !important;
  text-shadow: 0 0 7px rgba(213, 58, 157, 0.2), 0 0 10px rgba(213, 58, 157, 0.2), 0 0 21px rgba(213, 58, 157, 0.2), 0 0 42px rgba(213, 58, 157, 0.2), 0 0 82px #743ad5, 0 0 92px #743ad5, 0 0 102px #743ad5, 0 0 151px #743ad5 !important;
}
.purple-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:active {
  box-shadow: inset 0 0 25px #000000;
}
.purple-circle .circle-bleeding .circle-shadow .circle-wrapper .circle .text {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #23232300;
  color: #191919;
  text-shadow: 2px 2px 2px rgba(53, 53, 53, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.green-circle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.green-circle .circle-bleeding {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  padding: 55px;
  background: linear-gradient(transparent 40%, rgba(218, 133, 46, 0.25));
  -webkit-mask-image: radial-gradient(ellipse 100% 100% at 50% 50%, black 30%, transparent 35%);
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
}
.green-circle .circle-bleeding .circle-shadow {
  display: inline-block;
  border-radius: 50%;
  box-shadow: -5px 5px 25px #000000e6;
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
.green-circle .circle-bleeding .circle-shadow .circle-wrapper {
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  background: linear-gradient(#3ad567, #da852e);
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
}
.green-circle .circle-bleeding .circle-shadow .circle-wrapper .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #252525;
  background: radial-gradient(ellipse 100% 100% at 50% 50%, #2d2d2d, #383838);
  border: 1px solid #1b1b1b;
  box-shadow: inset 0 0 10px #000000;
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:hover {
  box-shadow: inset 0 0 15px #000000;
}
.green-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:hover .text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #15051466;
  color: #da852e !important;
  text-shadow: 0 0 7px rgba(218, 133, 46, 0.2), 0 0 10px rgba(218, 133, 46, 0.2), 0 0 21px rgba(218, 133, 46, 0.2), 0 0 42px rgba(218, 133, 46, 0.2), 0 0 82px #3ad567, 0 0 92px #3ad567, 0 0 102px #3ad567, 0 0 151px #3ad567 !important;
}
.green-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:active {
  box-shadow: inset 0 0 25px #000000;
}
.green-circle .circle-bleeding .circle-shadow .circle-wrapper .circle .text {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #23232300;
  color: #191919;
  text-shadow: 2px 2px 2px rgba(53, 53, 53, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.blue-circle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.blue-circle .circle-bleeding {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  padding: 55px;
  background: linear-gradient(transparent 40%, rgba(255, 0, 141, 0.25));
  -webkit-mask-image: radial-gradient(ellipse 100% 100% at 50% 50%, black 30%, transparent 35%);
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
}
.blue-circle .circle-bleeding .circle-shadow {
  display: inline-block;
  border-radius: 50%;
  box-shadow: -5px 5px 25px #000000e6;
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
.blue-circle .circle-bleeding .circle-shadow .circle-wrapper {
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  background: linear-gradient(#0a29b1, #ff008d);
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
}
.blue-circle .circle-bleeding .circle-shadow .circle-wrapper .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #252525;
  background: radial-gradient(ellipse 100% 100% at 50% 50%, #2d2d2d, #383838);
  border: 1px solid #1b1b1b;
  box-shadow: inset 0 0 10px #000000;
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:hover {
  box-shadow: inset 0 0 15px #000000;
}
.blue-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:hover .text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #15051466;
  color: #ff008d !important;
  text-shadow: 0 0 7px rgba(255, 0, 141, 0.2), 0 0 10px rgba(255, 0, 141, 0.2), 0 0 21px rgba(255, 0, 141, 0.2), 0 0 42px rgba(255, 0, 141, 0.2), 0 0 82px #0a29b1, 0 0 92px #0a29b1, 0 0 102px #0a29b1, 0 0 151px #0a29b1 !important;
}
.blue-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:active {
  box-shadow: inset 0 0 25px #000000;
}
.blue-circle .circle-bleeding .circle-shadow .circle-wrapper .circle .text {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #23232300;
  color: #191919;
  text-shadow: 2px 2px 2px rgba(53, 53, 53, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.color-circle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.color-circle .circle-bleeding {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  padding: 55px;
  background: linear-gradient(transparent 40%, rgba(255, 0, 141, 0.25));
  -webkit-mask-image: radial-gradient(ellipse 100% 100% at 50% 50%, black 30%, transparent 35%);
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
}
.color-circle .circle-bleeding .circle-shadow {
  display: inline-block;
  border-radius: 50%;
  box-shadow: -5px 5px 25px #000000e6;
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
.color-circle .circle-bleeding .circle-shadow .circle-wrapper {
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  background: linear-gradient(#1d1d1d, #ff008d);
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
}
.color-circle .circle-bleeding .circle-shadow .circle-wrapper .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #252525;
  background: radial-gradient(ellipse 100% 100% at 50% 50%, #2d2d2d, #383838);
  border: 1px solid #1b1b1b;
  box-shadow: inset 0 0 10px #000000;
  animation: rotation-animation 3s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:hover {
  box-shadow: inset 0 0 15px #000000;
}
.color-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:hover .text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #15051466;
  color: #ff008d !important;
  text-shadow: 0 0 7px rgba(255, 0, 141, 0.2), 0 0 10px rgba(255, 0, 141, 0.2), 0 0 21px rgba(255, 0, 141, 0.2), 0 0 42px rgba(255, 0, 141, 0.2), 0 0 82px #1d1d1d, 0 0 92px #1d1d1d, 0 0 102px #1d1d1d, 0 0 151px #1d1d1d !important;
}
.color-circle .circle-bleeding .circle-shadow .circle-wrapper .circle:active {
  box-shadow: inset 0 0 25px #000000;
}
.color-circle .circle-bleeding .circle-shadow .circle-wrapper .circle .text {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #23232300;
  color: #191919;
  text-shadow: 2px 2px 2px rgba(53, 53, 53, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}