@{
    Layout = "~/Views/Shared/_Layout_common.cshtml";
}
<style>
    body {
        padding: 0 0 0 4rem !important;
    }
    bx-menu{
        display:none!important;
    }
    .vidparticipant {
        height: 600px;
        max-width: 100%;
        overflow: hidden;
    }
</style>
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<div class="container-fluid">

   

    <div class="card mx-auto mt-3" style="font-size: 12px; width: inherit; height: inherit;">
        <div class="card-body">
            @Html.Partial("DepoTransferPartials/DepoTransfer_Partial")
        </div>
    </div>
</div>

@Html.Partial("DepoTransferPartials/DepoTransfer_Barcode")
@Html.Partial("DepoTransferPartials/DepoTransfer_Belge")
@Html.Partial("DepoTransferPartials/DepoTransfer_BarkodRehber")


<script>
    if ($(window).width() < 600) {
        $("#divPartial2").show();
        document.getElementById("sevkiyat").className = "menu-item open active";
        document.getElementById("depotransfer1").className = "menu-item active";
    }
    else {
        $("#divPartial").show();

        document.getElementById("sevkiyat1").className = "nav__link active";
        document.getElementById("depotransfer1").className = "nav__dropdown-item active";
    }
</script>

<style>

    .card-view {
        border-bottom: 1px dashed gray;
    }

    .card-view-value {
        white-space: normal;
    }

    .card-view-title {
        min-width: 40% !important;
    }

    .select2-container {
        width: 100%;
    }

    .search {
        width: 100%;
    }

    #filter {
        width: 98%;
    }

    .menu1 {
        display: none;
    }

    .no, .detail-view {
        --bs-table-bg: white;
        --bs-table-accent-bg: white;
        --bs-table-striped-color: white;
        --bs-table-striped-bg: white;
        --bs-table-active-color: white;
        --bs-table-active-bg: white;
        --bs-table-hover-color: white;
        --bs-table-hover-bg: white;
        width: 100%;
        margin-bottom: 1rem;
        color: #697a8d;
        vertical-align: middle;
        border-color: #d9dee3;
    }


    @@media screen and (max-width: 600px) {
        input {
            width: 100% !important;
        }

        .select2 {
            width: 100% !important;
        }

        .menu1 {
            display: inline-flex;
        }

        .menu2 {
            display: none;
        }
        /* .btn-group {
            display: none;
        }*/
    }
</style>
<style>
    .heart {
        animation: heartbeat 1s infinite alternate;
    }

    @@keyframes heartbeat {
        from {
            opacity: 0.3;
            transform: scale(0.32);
        }

        to {
            opacity: 1;
            transform: scale(0.40);
        }
    }

    .centercontent {
        position: absolute;
        max-width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }


    .icon-info-sign:hover {
        opacity: .8;
        cursor: pointer;
    }


    .swal2-container {
        z-index: 10000;
    }

    i:hover {
        color: #0d5c69 !important;
        cursor: pointer !important;
    }

    .i-disabled,
    .i-disabled[disabled] {
        opacity: .4;
        cursor: default !important;
        pointer-events: none;
    }
</style>

