

@{

    Layout = "~/Views/Shared/_Layout _yonetim_stok.cshtml";
}

<h2>MalKabulFormu</h2>

<script src="~/Scripts/jquery-3.6.1.min.js"></script>

<script>

    if ($(window).width() < 600) {
        $("#divPartial2").show();
        document.getElementById("sevkiyat").className = "menu-item open active";
        document.getElementById("saticisiprap").className = "menu-item active";
    }
    else {
        $("#divPartial").show();

        document.getElementById("sevkiyat1").className = "nav__link active";
        document.getElementById("saticisiprap1").className = "nav__dropdown-item active";
    }
</script>