#tree-view{
    min-height: calc(100svh - 97px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;
}

/* Forked from https://codepen.io/Pestov/pen/BLpgm */

.tree ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tree ul {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
    position: relative;
}

.tree li {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    position: relative;
}

.tree .nodes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    border: 2px solid #bebebe;
    background-color: #f8f8f8;
    border-radius: 0.375rem;
    gap: 20px;
    transition: all 0.23s ease-in-out;
}

    .tree .nodes .node {
        background-color: #dfe4f57a;
        padding: 0.5rem;
        border-radius: 0.1825rem;
        cursor: pointer;
        transition: all 0.23s ease-in-out;
    }

    .tree .nodes:hover,
    .tree .nodes:hover::after,
    .tree .nodes:hover ~ ul li .nodes,
    .tree .nodes:hover ~ ul li .nodes::after,
    .tree .nodes:hover ~ ul li .nodes::before,
    .tree .nodes:hover ~ ul li::after,
    .tree .nodes:hover ~ ul li::before {
        border-color: #7c89ff !important;
    }

    .tree .nodes .node:hover {
        background-color: #dfe4f5;
    }

    /* Connections */

    .tree .nodes::after {
        content: "";
        position: absolute;
        bottom: -21px;
        border: 1px solid #bebebe;
        height: 21px;
        z-index: -1;
    }

    .tree .nodes::before {
        content: "";
        position: absolute;
        top: -24px;
        border: 1px solid #bebebe;
        height: 23px;
        z-index: -1;
    }

    .tree .nodes.root::before {
        display: none;
    }

    .tree .nodes:only-child::after {
        display: none;
    }

.tree ul:first-of-type li:not(:only-child):first-child::after {
    content: "";
    position: absolute;
    top: -22px;
    left: 50%;
    width: 65%;
    border: 1px solid #bebebe;
    z-index: -1;
}

.tree ul:first-of-type li:not(:only-child):last-child::before {
    content: "";
    position: absolute;
    top: -22px;
    right: 50%;
    width: 65%;
    border: 1px solid #bebebe;
    z-index: -1;
}

.tree ul:first-of-type li:not(:first-child):not(:last-child)::after {
    content: "";
    position: absolute;
    top: -22px;
    right: 50%;
    width: 65%;
    border: 1px solid #bebebe;
    z-index: -1;
}

.tree ul:first-of-type li:not(:first-child):not(:last-child)::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 50%;
    width: 65%;
    border: 1px solid #bebebe;
    z-index: -1;
}

.barcode-detail-table .info{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-weight: 600;
}