html {
    min-height: 100svh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100svh;
    padding: 0;
    padding-left: 50px;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

main {
    min-height: 100svh;
    padding: 0.5rem;
    margin: 0;
    box-sizing: border-box;
}

* {
    outline: none !important;
}

    *:focus {
        box-shadow: none !important;
        outline: none !important;
    }

#nova-progress-overlay {
    position: fixed;
    inset: 0 0 0 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5999;
    background-color: #00000070;
}

.progress-image{
    height: 200px;
    width: 200px;
}