:root {
    --container-border-radius: 0.375rem;
    --container-shadow: 0 0 10px #0000002e;
}


[data-theme="light"] {
    --main-background-color: #f5f5f9;
    --main-text-color: #697a8d;
    --container-background-color: #fff;
    --container-text-color: #697a8d;
}

[data-theme="dark"] {
    --main-background-color: #2e2e34;
    --main-text-color: #bfbfbf;
    --container-background-color: #242427;
    --container-text-color: #7b7b7b;
}