<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nova | Efece Galvaniz</title>

    <link rel="icon" type="image/x-icon" href="/assets/img/icons/brands/Nova_White.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <style>
        :root {
            --empty-bg-color: #070B1C;
            --empty-text-color: #ffffff;
            --empty-header-color: #0e1535;
            --empty-border-color:#263881;

            --empty-border-radius: 0.5rem;

            --sb-track-color: #0e1535;
            --sb-thumb-color: #263881;
            --sb-size: 10px;
        }

        * {
          scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }

        *::-webkit-scrollbar {
          height: var(--sb-size);
        }

        *::-webkit-scrollbar-track {
          background: var(--sb-track-color);
          border-radius: 10px;
        }

        *::-webkit-scrollbar-thumb {
          background: var(--sb-thumb-color);
          border-radius: 10px;
        }

        html {
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            position: relative;
            min-height: 100svh;
            padding-bottom: 2.5rem;
            background-color: var(--empty-bg-color);
            color: var(--empty-text-color);
        }

        .header {
            height: 45px;
            background-color: var(--empty-header-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
        }

        .header .options{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
        }

        .content {
            min-height: calc(100svh - 3.25rem - 45px);
            padding: 0.5rem;
        }

        .page{
          display: none;
        }

        .footer {
            padding: 0.75rem 0;
            text-align: center;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
          .footer span{
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;
          }

        .form-select {
            color: var(--empty-text-color);
            background-color: var(--empty-bg-color);
            border: var(--bs-border-width) solid var(--empty-border-color);
        }

        .btn-outline-custom{
          border-color: var(--empty-border-color);
        }

        .home-button {
            border-color: var(--empty-border-color);
            color: var(--empty-text-color);
            background-color: var(--empty-bg-color);
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .home-button:hover {
            border-color: var(--empty-border-color);
            background-color: var(--empty-header-color) !important;
        }
        .loader-area
        {
          pointer-events:none;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          top: 0;
        }
        .horizontal-line{
          width: 100%;
          border: var(--bs-border-width) solid var(--empty-border-color);
          margin: 0.25rem;
        }

        #nova-loader{
          display: none;
          animation: beat 0.5s infinite alternate;
        }

        @@keyframes beat{
          to { transform: scale(1.4); }
        }
    </style>
    
</head>
<body>
    <div class="loader-area">
        <img id="nova-loader" src="/assets/img/icons/brands/Nova.png" height="100" width="100" />
    </div>

    <div class="main">
        @RenderBody()

        <div class="footer">
            <span>2023 &copy; designed by <img src="/assets/img/icons/brands/Nova.png" height="25" width="25" /> NOVA</span>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/&#64popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    @RenderSection("Scripts", false)
</body>
</html>