
<link href="~/wwwroot/css/BarcodeScanner.css" rel="stylesheet" />

<div id="scanner">
    <div id="scanner-controls">
        <div class="left">
            <select id="scanner-camera-select">
            </select>
            <button id="scanner-custom-button">CUSTOM</button>
        </div>

        <div class="right">
            <i id="scanner-close-button" class="bx bx-x" onclick="StopQRScanner()"></i>
        </div>
    </div>

    <video id="scanner-camera"></video>
</div>


<script src="~/wwwroot/libs/FullScreen/jquery.fullscreen.js"></script>
<script src="~/wwwroot/libs/instascan/instascan.min.js"></script>
<script src="~/wwwroot/js/BarcodeScanner.js"></script>