<!DOCTYPE html>
<html data-theme="light">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <title>Nova | Efece Galvaniz</title>

    <link rel="icon" type="image/x-icon" href="/assets/img/icons/brands/Nova_White.png" />

    <link href="~/wwwroot/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/wwwroot/libs/boxicons/css/boxicons.css" rel="stylesheet" />
    <link href="~/wwwroot/libs/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/wwwroot/libs/animate.css/animate.css" rel="stylesheet" />

    <link href="~/wwwroot/css/Utils.css" rel="stylesheet" />
    <link href="~/wwwroot/css/Themes.css" rel="stylesheet" />
    <link href="~/wwwroot/css/Site.css" rel="stylesheet" />

    <script src="~/wwwroot/libs/jquery/jquery.js"></script>
</head>
<body>

    <div id="nova-progress-overlay">
        <img class="progress-image animate__animated animate__pulse animate__infinite" src="~/wwwroot/images/novasaydam.png" />
    </div>

    @Html.Partial("_Layout_menu")

    <main>
        @RenderBody()
    </main>


    @RenderSection("scripts", required: false)

    <script src="~/wwwroot/js/Site.js"></script>
    <script src="~/wwwroot/js/Utils.js"></script>

    <script src="~/wwwroot/libs/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/wwwroot/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/wwwroot/libs/axios/axios.js"></script>
</body>
</html>