.accordion {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative
}

    .accordion > * {
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute
    }

    .accordion .accordion, .accordion.edge-visible, .accordion > * {
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    .accordion, .accordion > * {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 90em;
        -moz-perspective: 90em;
        perspective: 90em;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateY(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        will-change: height,transform
    }

.snap.accordion .accordion, .snap.accordion > * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}

.accordion > * > :first-child {
    cursor: pointer;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.accordion > * > :last-child {
    overflow: hidden;
    -webkit-transition: height .3s ease,visibility .3s step-start;
    -moz-transition: height .3s ease,visibility .3s step-start;
    -o-transition: height .3s ease,visibility .3s step-start;
    transition: height .3s ease,visibility .3s step-start
}

.accordion > .closed .accordion > .open > :last-child, .accordion > .closed > :last-child {
    -webkit-transition-timing-function: ease,step-end;
    -moz-transition-timing-function: ease,step-end;
    -o-transition-timing-function: ease,step-end;
    transition-timing-function: ease,step-end;
    visibility: hidden
}

.accordion {
    background: #393f4b;
    border-radius: 2px;
    color: #fff;
    font-size: 14px
}

    .accordion a {
        color: #61dafb;
        text-decoration: none
    }

        .accordion a:hover {
            text-decoration: underline
        }

.accordion__panel {
    width: 100%
}

.accordion__panel-title {
    padding: 12px 6px 12px 12px
}

    .accordion__panel-title:focus {
        background-color: hsla(0,0%,100%,.1);
        outline: 0
    }

    .accordion__panel-title .fc-icon {
        color: #000;
        float: right;
        font-size: 20px;
        margin-top: 1px
    }

        .accordion__panel-title .fc-icon:after {
            content: ""
        }

.accordion__panel--open .accordion__panel-title .fc-icon {
    color: #61dafb;
    transform: rotate(90deg)
}

.accordion__panel-content {
    background: #121419;
    padding: 12px
}

.demos__container {
    display: flex;
    padding-bottom: 70px;
    padding-top: 20px
}

.demos__sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 60px;
    width: 230px
}

    .demos__sidebar .fc-event {
        padding: 1px 2px
    }

    .demos__sidebar input, .demos__sidebar select {
        max-width: 100%
    }

    .demos__sidebar .fc-event, .demos__sidebar p {
        margin: 8px 0
    }

.demos__sidebar-title {
    font-size: 34px;
    font-weight: 900;
    margin: 20px 0 20px 12px
}

.demos__main {
    background: #fff;
    border-top: 4px solid #fac863;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    flex-grow: 1;
    margin-top: 36px;
    padding-top: 85px;
    position: relative
}

    .demos__main:after {
        content: "";
        display: block;
        padding-bottom: 74%
    }

.demos__main-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.demos__main-iframe {
    border: 0;
    height: 100%;
    width: 100%
}

.demo-calendar {
    font-size: 14px !important;
    line-height: 1.3;
    margin: 20px 16px 0
}
