
@{

    Layout = "~/Views/Shared/_Layout _yonetim_stok.cshtml";
}



<link href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<style>

    .card-view {
        border-bottom: 1px dashed gray;
        margin-top: 2px;
    }

    .card-view-value {
        margin-left: 5px;
        white-space: normal;
    }

    .card-view-title {
        min-width: 40% !important;
    }

    .select2-container {
        width: 100%;
    }

    .search {
        width: 100%;
    }

    #filter {
        width: 98%;
    }

    .menu1 {
        display: none;
    }

    tr > th:nth-child(2), tr > td:nth-child(2) {
        position: sticky;
        left: 0;
        background: white;
    }

    .no, .detail-view {
        --bs-table-bg: white;
        --bs-table-accent-bg: white;
        --bs-table-striped-color: white;
        --bs-table-striped-bg: white;
        --bs-table-active-color: white;
        --bs-table-active-bg: white;
        --bs-table-hover-color: white;
        --bs-table-hover-bg: white;
        width: 100%;
        margin-bottom: 1rem;
        color: #697a8d;
        vertical-align: middle;
        border-color: #d9dee3;
    }


    @@media screen and (max-width: 600px) {
        .menu1 {
            display: inline-flex;
        }

        .menu2 {
            display: none;
        }
        /* .btn-group {
            display: none;
        }*/
    }
  
      

</style>
<style>
    .heart {
        animation: heartbeat 1s infinite alternate;
    }

    @@keyframes heartbeat {
        from {
            opacity: 0.3;
            transform: scale(0.32);
        }

        to {
            opacity: 1;
            transform: scale(0.40);
        }
    }

    .centercontent {
        position: absolute;
        max-width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

   
        .icon-info-sign:hover {
            opacity: .8;
            cursor:pointer;
        }
</style>

<div class="container-fluid d-flex h-100">
    
    <div class="centercontent" id="content">
        <div class="heart"><img id="progress" src="~/images/novasaydam.png" style="max-width:15vw" /></div>
    </div>
    <div class="card mx-auto" style="font-size:12px">
        <div class="card-header pb-0">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                    <i class="bx bx-menu bx-sm"></i>
                </a>
            </div>
            <div class="avatar avatar-online float-end mb-0" data-bs-toggle="dropdown">
                @{
                    string s = Request.Cookies["Id"].Value + ".png?" + DateTime.Now.Ticks.ToString();
                }
                <object data="/assets/img/avatars/@s" type="image/png" class="w-px-40 h-auto rounded-circle">
                    <img src="/assets/img/avatars/7.png" class="w-px-40 h-auto rounded-circle">
                </object>
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href='@Url.Action("Index","Profil")'>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar avatar-online">
                                    <object data="/assets/img/avatars/@s" type="image/png" class="w-px-40 h-auto rounded-circle">
                                        <img src="/assets/img/avatars/7.png" class="w-px-40 h-auto rounded-circle">
                                    </object>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                @if (@Request.Cookies["Name"] != null)
                                {
                                    <span class="fw-semibold d-block">@Request.Cookies["Name"].Value</span>
                                    <small class="text-muted">Yetki: @Request.Cookies["RoleName"].Value</small>
                                }
                                else
                                {
                                    <span class="fw-semibold d-block">Test</span>
                                    <small class="text-muted">Yetki: Test</small>
                                }

                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="dropdown-item" data-bs-toggle="modal"
                       data-bs-target="#cikis">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Oturumu Kapat</span>
                    </a>
                </li>
            </ul>
        </div>
      
            
             

           
       
        <div class="card-body">
            <div class="btn-group menu1">
                <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" style="">
                    <li><a class="dropdown-item" onclick="change(1)">Hepsi</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" onclick="change(2)">EFECE 1</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" onclick="change(3)">EFECE 2</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" onclick="change(4)">EFECE 3</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" onclick="change(5)">EFECE 4</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" onclick="change(6)">TRANSFER</a></li>
                </ul>
            </div>
            <div class="btn-group menu2" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" onclick="change(1)" name="btnradio" id="btnradio1" checked="" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio1">Hepsi</label>
                <input type="radio" class="btn-check" onclick="change(2)" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio2">EFECE 1</label>
                <input type="radio" class="btn-check" onclick="change(3)" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio3">EFECE 2</label>
                <input type="radio" class="btn-check" onclick="change(4)" name="btnradio" id="btnradio4" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio4">EFECE 3</label>
                <input type="radio" class="btn-check" onclick="change(5)" name="btnradio" id="btnradio5" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio5">EFECE 4</label>
                <input type="radio" class="btn-check" onclick="change(6)" name="btnradio" id="btnradio6" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio6">TRANSFER</label>

            </div>

            <div class="row mt-3">
                <div class="col-sm-2">
                    <label><b>Ʃ Toptan Değer TRY:</b></label>
                </div>
                <div class="col-sm-2">
                    <label id="tl"></label>
                </div>
                <div class="col-sm-2 text-center">
                    <label><b>USD/TRY:&nbsp;</b></label><label id="dol" class="text-center"></label>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-2">
                    <label><b>Ʃ Toptan Değer USD:</b></label>
                </div>
                <div class="col-sm-2">
                    <label id="dolar"></label>
                </div>
                <div class="col-sm-2 text-center">
                    <label><b>EUR/TRY:&nbsp;</b></label><label id="er" class="text-center"></label>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-sm-2">
                    <label><b>Ʃ Toptan Değer EUR:</b></label>
                </div>
                <div class="col-sm-2">
                    <label id="euro"></label>
                </div>
            </div>


            <div id="employeeTableWrapper" class="tableWrapper table-responsive">
                <div id="toolbar">

                    <select id="filter" multiple="multiple" name="filterAlgorithm">
                    </select>

                </div>

                <table id="table"
                       class="table table-striped"
                       data-show-fullscreen="true"
                       data-buttons-order="['paginationSwitch', 'columns', 'filterTable']"
                       data-toggle="table"
                       data-toolbar="#toolbar"
                       data-show-export="true"
                       data-export-data-type="all"
                       data-export-types="['excel', 'pdf']"
                       data-pagination="true"
                       data-search="true"
                       data-show-columns="true"
                       data-show-columns-toggle-all="true"
                       data-locale="tr-TR"
                       data-filter-control="true"
                       data-filter-control-multiple-search="true"
                       data-loading-template="loadingTemplate"
                       data-mobile-responsive="false"
                       data-show-footer="true"
                       data-height="680"
                       data-detail-formatter="detailFormatter"
                       data-detail-view="true"
                       data-fixed-columns="true"
                       data-fixed-number="0">
                    <thead>
                        <tr id="tst">

                            <th data-field="FK_ACIKLAMA" data-sortable="true" data-formatter="grupFormatter" data-footer-formatter="TotalFooter" data-halign="center">FİYAT GRUBU</th>
                            <th data-field="FIYATDOVIZTIPI" data-sortable="true" data-halign="center" data-align="center">DOVİZ TİPİ</th>
                            <th data-field="OLCUBR" data-sortable="true" data-halign="center" data-align="center">ÖLÇÜ BİRİMİ</th>
                            <th data-field="BAKIYE" data-sortable="true" data-footer-formatter="TotalFormatterBak" data-formatter="toplamForm" data-halign="center" data-align="right">TOPLAM BAKİYE</th>
                            <th data-field="TOPTAN_DEGER" data-sortable="true" data-halign="center" data-align="right">TOPTAN DEĞER</th>
                            <th data-field="PERAKENDE_DEGER" data-sortable="true" data-halign="center" data-align="right">PERAKENDE DEĞER</th>
                            <th data-field="TOPTAN_DEGER_TL" data-sortable="true" data-footer-formatter="TotalFormatterTop" data-halign="center" data-align="right">TOPTAN DEĞER(TL)</th>
                            <th data-field="PERAKENDE_DEGER_TL" data-sortable="true" data-footer-formatter="TotalFormatter" data-halign="center" data-align="right">PERAKENDE DEĞER(TL)</th>
                            <th data-field="TOPLAM_MALIYET" data-sortable="true" data-halign="center" data-align="right" data-footer-formatter="TotalFormatterMaliyet">TOPLAM MALİYET</th>
                        </tr>
                    </thead>
                </table>


            </div>

        </div>

    </div>
</div>
<script>
    if ($(window).width() < 600) {
        $("#divPartial2").show();
        document.getElementById("yonetim").className = "menu-item open active";
        document.getElementById("stokdeger").className = "menu-item active";
    }
    else {
        $("#divPartial").show();

        document.getElementById("yonetim1").className = "nav__link active";
        document.getElementById("stokdeger1").className = "nav__dropdown-item active";
    }
   
    function change(value) {
        var listfk = [];
        var list = [];
        if (value == 1) {
            $('#table').bootstrapTable('removeAll');
            $.getJSON("http://192.168.2.13:83/api/stok/fiat2", function (data) {
                tumliste2 = data;
                for (let i = 0; i < data.length; i++) {

                    if (!listEfece4.includes(data[i].ACIKLAMA)) {
                        if (data[i].ACIKLAMA == null) {
                            if (!listEfece4.includes("FIYAT GRUBU TANIMLANMAYANLAR")) {
                                listEfece4.push("FIYAT GRUBU TANIMLANMAYANLAR");
                            }
                        } else {
                            listEfece4.push(data[i].ACIKLAMA);
                        }


                    }
                }
                document.getElementById("filter").replaceChildren();
                for (let i = 0; i < listEfece4.length; i++) {

                    var opt = document.createElement("option");
                    opt.innerHTML = listEfece4[i];
                    opt.value = listEfece4[i];
                    document.getElementById("filter").appendChild(opt);

                    if (listEfece4[i] == "FIYAT GRUBU TANIMLANMAYANLAR") {
                        var f = data.filter(x => x.ACIKLAMA == null);
                    } else {
                        var f = data.filter(x => x.ACIKLAMA == listEfece4[i]);
                    }
                    var fiyatkodu = "";
                    var doviz = "";
                    var sum = 0;
                    var sumbakiye = 0;

                    for (let a = 0; a < f.length; a++) {


                        fiyatkodu = f[a].FIYATKODU;
                        if (fiyatkodu == null) {
                            fiyatkodu = "";
                        }

                        if (f[a].DOV_TIP != null) {
                            doviz = f[a].DOV_TIP;
                        } else {
                            doviz = "TRY";
                        }

                    }

                    if (listEfece4[i] == "FIYAT GRUBU TANIMLANMAYANLAR") {


                        var t = excellist.filter(x => (x.RULOKODU.substring(0, 4)).includes(parseInt((f[i].SERI_NO).split('.')[0].substring(0, 6))));

                        if (t.length > 0) {
                            list.push({ FK_ACIKLAMA: listEfece4[i], BAKIYE: "", FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCU_BR1, TOPTAN_DEGER: "", PERAKENDE_DEGER: "", TOPTAN_DEGER_TL: "", PERAKENDE_DEGER_TL: "", FIYATKODU: fiyatkodu })
                        }


                    } else {
                        
                        for (let i = 0; i < f.length; i++) {

                            var t = excellist.filter(x => (x.RULOKODU.substring(0, 4)).includes(parseInt((f[i].SERI_NO).split('.')[0].substring(0, 6))));
                           
                            if (t.length > 0) {
                                for (let a = 0; a < t.length; a++) {
                                    if (t[a].GIR_KUR_HES_USD_FIYAT != null) {

                                        sum = parseFloat(sum) + (parseFloat(t[a].GIR_KUR_HES_USD_FIYAT) * t[a].TONAJ);
                                        /* alert(parseFloat(t[0].GIR_KUR_HES_USD_FIYAT) * t[a].TONAJ);*/
                                    }
                                }
                                

                                for (let a = 0; a < t.length; a++) {

                                    sumbakiye = sumbakiye + parseFloat(t[a].TONAJ.replace(',', '.'));

                                }
                            }
                        }

                        list.push({
                            FK_ACIKLAMA: listEfece4[i], BAKIYE: sumbakiye.toLocaleString(), FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCU_BR1, TOPTAN_DEGER: "", PERAKENDE_DEGER: "", TOPTAN_DEGER_TL: "", PERAKENDE_DEGER_TL: "", FIYATKODU: fiyatkodu, DIF: 'true', TOPLAM_MALIYET: sum.toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            })
                        })
                    }


                }

                $('#table').bootstrapTable('refreshOptions', {
                    detailFormatter: "detailFormatter2",
                    data: list
                });




            }).then(function () {
                $.getJSON("http://192.168.2.13:83/api/stok/fiat", function (data) {
                    tumliste = data;
                    document.getElementById("dol").innerHTML = " " + data.find(x => x.FIYATDOVIZTIPI == "USD").KUR;
                    document.getElementById("er").innerHTML = " " + data.find(x => x.FIYATDOVIZTIPI == "EUR").KUR;
                    for (let i = 0; i < data.length; i++) {
                        if (data[i].FK_ACIKLAMA != null) {
                            if (!listfk.includes(data[i].FK_ACIKLAMA)) {
                                listfk.push(data[i].FK_ACIKLAMA);
                            }
                        }

                    }
                    for (let i = 0; i < listfk.length; i++) {
                        var opt = document.createElement("option");
                        opt.innerHTML = listfk[i];
                        opt.value = listfk[i];
                        document.getElementById("filter").appendChild(opt);
                    }
                    for (let i = 0; i < listfk.length; i++) {

                        var sumbakiye = 0;
                        var deger = 0;
                        var pardeger = 0;
                        var degertl = 0;
                        var pardegertl = 0;
                        var fiyatkodu = "";
                        var doviz = "";
                        var f = data.filter(x => x.FK_ACIKLAMA == listfk[i]);

                        for (let a = 0; a < f.length; a++) {
                            if (f[a].BAKIYE != null) {
                                sumbakiye = sumbakiye + parseFloat(f[a].BAKIYE);
                            }

                            fiyatkodu = f[a].FIYATKODU;
                            if (fiyatkodu == null) {
                                fiyatkodu = "";
                            }
                            if (f[a].TOPTAN_DEGER != null) {
                                deger = deger + parseFloat(f[a].TOPTAN_DEGER);
                            }
                            if (f[a].PERAKENDE_DEGER != null) {
                                pardeger = pardeger + parseFloat(f[a].PERAKENDE_DEGER);
                            }
                            if (f[a].TOPTAN_DEGER_TL != null) {
                                degertl = degertl + parseFloat(f[a].TOPTAN_DEGER_TL);
                            }
                            if (f[a].PERAKENDE_DEGER_TL != null) {
                                pardegertl = pardegertl + parseFloat(f[a].PERAKENDE_DEGER_TL);
                            }
                            if (f[a].FIYATDOVIZTIPI != null) {
                                doviz = f[a].FIYATDOVIZTIPI;
                            } else {
                                doviz = "TRY";
                            }

                        }

                        list.push({ FK_ACIKLAMA: listfk[i], BAKIYE: (sumbakiye).toLocaleString(), FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCUBR, TOPTAN_DEGER: parseInt(deger).toLocaleString(), PERAKENDE_DEGER: parseInt(pardeger).toLocaleString(), TOPTAN_DEGER_TL: parseInt(degertl).toLocaleString(), PERAKENDE_DEGER_TL: parseInt(pardegertl).toLocaleString(), FIYATKODU: fiyatkodu })

                    }
                    $('#table').bootstrapTable('load', list);
                    $('#filter').select2({  placeholder: 'Grup Filtresi' });
                    $("#content").hide();
                })
            })

        } else if (value == 2) {
            $('#table').bootstrapTable("removeAll");
            $.getJSON("http://192.168.2.13:83/api/stok/fiat/EFECE1", function (data) {

                tumliste = data;

                for (let i = 0; i < data.length; i++) {
                    if (data[i].FK_ACIKLAMA != null) {
                        if (!listfk.includes(data[i].FK_ACIKLAMA)) {
                            listfk.push(data[i].FK_ACIKLAMA);
                        }
                    }

                }

                for (let i = 0; i < listfk.length; i++) {

                    var sumbakiye = 0;
                    var deger = 0;
                    var pardeger = 0;
                    var degertl = 0;
                    var pardegertl = 0;
                    var fiyatkodu = "";
                    var doviz = "";
                    var f = data.filter(x => x.FK_ACIKLAMA == listfk[i]);
                    document.getElementById("filter").replaceChildren();
                    for (let a = 0; a < f.length; a++) {
                        var opt = document.createElement("option");
                        opt.innerHTML = listfk[i];
                        opt.value = listfk[i];
                        document.getElementById("filter").appendChild(opt);
                        if (f[a].BAKIYE != null) {
                            sumbakiye = sumbakiye + parseFloat(f[a].BAKIYE);
                        }

                        fiyatkodu = f[a].FIYATKODU;
                        if (fiyatkodu == null) {
                            fiyatkodu = "";
                        }
                        if (f[a].TOPTAN_DEGER != null) {
                            deger = parseFloat(deger) + parseFloat(f[a].TOPTAN_DEGER);
                        }
                        if (f[a].PERAKENDE_DEGER != null) {
                            pardeger = pardeger + parseFloat(f[a].PERAKENDE_DEGER);
                        }
                        if (f[a].TOPTAN_DEGER_TL != null) {
                            degertl = degertl + parseFloat(f[a].TOPTAN_DEGER_TL);
                        }
                        if (f[a].PERAKENDE_DEGER_TL != null) {
                            pardegertl = pardegertl + parseFloat(f[a].PERAKENDE_DEGER_TL);
                        }
                        if (f[a].FIYATDOVIZTIPI != null) {
                            doviz = f[a].FIYATDOVIZTIPI;
                        } else {
                            doviz = "TRY";
                        }

                    }

                    list.push({ FK_ACIKLAMA: listfk[i], BAKIYE: (sumbakiye).toLocaleString(), FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCUBR, TOPTAN_DEGER: parseFloat(deger).toLocaleString(), PERAKENDE_DEGER: parseFloat(pardeger).toLocaleString(), TOPTAN_DEGER_TL: parseFloat(degertl).toLocaleString(), PERAKENDE_DEGER_TL: parseFloat(pardegertl).toLocaleString(), FIYATKODU: fiyatkodu })

                }


                if (sabit == 1) {
                    $('#table').bootstrapTable('destroy');
                    document.getElementById("tst").getElementsByTagName('th')[document.getElementById("tst").getElementsByTagName('th').length - 1].remove();
                    $('#table').bootstrapTable({
                        detailFormatter: "detailFormatter",
                        data: list
                    });
                    sabit = 0;
                } else {
                    $('#table').bootstrapTable('refreshOptions', {
                        detailFormatter: "detailFormatter",
                        data: list
                    });
                }

            })
        } else if (value == 3) {
            $('#table').bootstrapTable("removeAll");
            $.getJSON("http://192.168.2.13:83/api/stok/fiat/EFECE2", function (data) {

                tumliste = data;

                for (let i = 0; i < data.length; i++) {
                    if (data[i].FK_ACIKLAMA != null) {
                        if (!listfk.includes(data[i].FK_ACIKLAMA)) {
                            listfk.push(data[i].FK_ACIKLAMA);
                        }
                    }

                }
                document.getElementById("filter").replaceChildren();
                for (let i = 0; i < listfk.length; i++) {
                    var opt = document.createElement("option");
                    opt.innerHTML = listfk[i];
                    opt.value = listfk[i];
                    document.getElementById("filter").appendChild(opt);
                    var sumbakiye = 0;
                    var deger = 0;
                    var pardeger = 0;
                    var degertl = 0;
                    var pardegertl = 0;
                    var fiyatkodu = "";
                    var doviz = "";
                    var f = data.filter(x => x.FK_ACIKLAMA == listfk[i]);

                    for (let a = 0; a < f.length; a++) {
                        if (f[a].BAKIYE != null) {
                            sumbakiye = sumbakiye + parseFloat(f[a].BAKIYE);
                        }

                        fiyatkodu = f[a].FIYATKODU;
                        if (fiyatkodu == null) {
                            fiyatkodu = "";
                        }
                        if (f[a].TOPTAN_DEGER != null) {
                            deger = deger + parseFloat(f[a].TOPTAN_DEGER);
                        }
                        if (f[a].PERAKENDE_DEGER != null) {
                            pardeger = pardeger + parseFloat(f[a].PERAKENDE_DEGER);
                        }
                        if (f[a].TOPTAN_DEGER_TL != null) {
                            degertl = degertl + parseFloat(f[a].TOPTAN_DEGER_TL);
                        }
                        if (f[a].PERAKENDE_DEGER_TL != null) {
                            pardegertl = pardegertl + parseFloat(f[a].PERAKENDE_DEGER_TL);
                        }
                        if (f[a].FIYATDOVIZTIPI != null) {
                            doviz = f[a].FIYATDOVIZTIPI;
                        } else {
                            doviz = "TRY";
                        }

                    }

                    list.push({ FK_ACIKLAMA: listfk[i], BAKIYE: (sumbakiye).toLocaleString(), FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCUBR, TOPTAN_DEGER: parseInt(deger).toLocaleString(), PERAKENDE_DEGER: parseInt(pardeger).toLocaleString(), TOPTAN_DEGER_TL: parseInt(degertl).toLocaleString(), PERAKENDE_DEGER_TL: parseInt(pardegertl).toLocaleString(), FIYATKODU: fiyatkodu })

                }


                if (sabit == 1) {
                    $('#table').bootstrapTable('destroy');
                    document.getElementById("tst").getElementsByTagName('th')[document.getElementById("tst").getElementsByTagName('th').length - 1].remove();
                    $('#table').bootstrapTable({
                        detailFormatter: "detailFormatter",
                        data: list
                    });
                    sabit = 0;
                } else {
                    $('#table').bootstrapTable('refreshOptions', {
                        detailFormatter: "detailFormatter",
                        data: list
                    });
                }

            })
        } else if (value == 4) {
            $('#table').bootstrapTable("removeAll");
            $.getJSON("http://192.168.2.13:83/api/stok/fiat/EFECE3", function (data) {

                tumliste = data;

                for (let i = 0; i < data.length; i++) {
                    if (data[i].FK_ACIKLAMA != null) {
                        if (!listfk.includes(data[i].FK_ACIKLAMA)) {
                            listfk.push(data[i].FK_ACIKLAMA);
                        }
                    }

                }
                document.getElementById("filter").replaceChildren();
                for (let i = 0; i < listfk.length; i++) {
                    var opt = document.createElement("option");
                    opt.innerHTML = listfk[i];
                    opt.value = listfk[i];
                    document.getElementById("filter").appendChild(opt);
                    var sumbakiye = 0;
                    var deger = 0;
                    var pardeger = 0;
                    var degertl = 0;
                    var pardegertl = 0;
                    var fiyatkodu = "";
                    var doviz = "";
                    var f = data.filter(x => x.FK_ACIKLAMA == listfk[i]);

                    for (let a = 0; a < f.length; a++) {
                        if (f[a].BAKIYE != null) {
                            sumbakiye = sumbakiye + parseFloat(f[a].BAKIYE);
                        }

                        fiyatkodu = f[a].FIYATKODU;
                        if (fiyatkodu == null) {
                            fiyatkodu = "";
                        }
                        if (f[a].TOPTAN_DEGER != null) {
                            deger = deger + parseFloat(f[a].TOPTAN_DEGER);
                        }
                        if (f[a].PERAKENDE_DEGER != null) {
                            pardeger = pardeger + parseFloat(f[a].PERAKENDE_DEGER);
                        }
                        if (f[a].TOPTAN_DEGER_TL != null) {
                            degertl = degertl + parseFloat(f[a].TOPTAN_DEGER_TL);
                        }
                        if (f[a].PERAKENDE_DEGER_TL != null) {
                            pardegertl = pardegertl + parseFloat(f[a].PERAKENDE_DEGER_TL);
                        }
                        if (f[a].FIYATDOVIZTIPI != null) {
                            doviz = f[a].FIYATDOVIZTIPI;
                        } else {
                            doviz = "TRY";
                        }

                    }

                    list.push({ FK_ACIKLAMA: listfk[i], BAKIYE: (sumbakiye).toLocaleString(), FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCUBR, TOPTAN_DEGER: parseInt(deger).toLocaleString(), PERAKENDE_DEGER: parseInt(pardeger).toLocaleString(), TOPTAN_DEGER_TL: parseInt(degertl).toLocaleString(), PERAKENDE_DEGER_TL: parseInt(pardegertl).toLocaleString(), FIYATKODU: fiyatkodu })

                }


                if (sabit == 1) {

                    $('#table').bootstrapTable('destroy');
                    document.getElementById("tst").getElementsByTagName('th')[document.getElementById("tst").getElementsByTagName('th').length - 1].remove();
                    $('#table').bootstrapTable({
                        detailFormatter: "detailFormatter",
                        data: list
                    });
                    sabit = 0;
                } else {

                    $('#table').bootstrapTable('refreshOptions', {
                        detailFormatter: "detailFormatter",
                        data: list
                    });
                }

            })
        } else if (value == 5) {
            $('#table').bootstrapTable("removeAll");
            $.getJSON("http://192.168.2.13:83/api/stok/fiat2", function (data) {
                tumliste2 = data;
                for (let i = 0; i < data.length; i++) {

                    if (!listEfece4.includes(data[i].ACIKLAMA)) {
                        if (data[i].ACIKLAMA == null) {
                            if (!listEfece4.includes("FIYAT GRUBU TANIMLANMAYANLAR")) {
                                listEfece4.push("FIYAT GRUBU TANIMLANMAYANLAR");
                            }
                        } else {
                            listEfece4.push(data[i].ACIKLAMA);
                        }


                    }
                }
                document.getElementById("filter").replaceChildren();
                for (let i = 0; i < listEfece4.length; i++) {

                    var opt = document.createElement("option");
                    opt.innerHTML = listEfece4[i];
                    opt.value = listEfece4[i];
                    document.getElementById("filter").appendChild(opt);

                    if (listEfece4[i] == "FIYAT GRUBU TANIMLANMAYANLAR") {
                        var f = data.filter(x => x.ACIKLAMA == null);
                    } else {
                        var f = data.filter(x => x.ACIKLAMA == listEfece4[i]);
                    }
                    var fiyatkodu = "";
                    var doviz = "";
                    var sum = 0;
                    var sumbakiye = 0;

                    for (let a = 0; a < f.length; a++) {


                        fiyatkodu = f[a].FIYATKODU;
                        if (fiyatkodu == null) {
                            fiyatkodu = "";
                        }

                        if (f[a].DOV_TIP != null) {
                            doviz = f[a].DOV_TIP;
                        } else {
                            doviz = "TRY";
                        }

                    }
                    if (listEfece4[i] == "FIYAT GRUBU TANIMLANMAYANLAR") {


                        var t = excellist.filter(x => (x.RULOKODU.substring(0, 4)).includes(parseInt((f[i].SERI_NO).split('.')[0].substring(0, 6))));

                        if (t.length > 0) {
                            list.push({ FK_ACIKLAMA: listEfece4[i], BAKIYE: "", FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCU_BR1, TOPTAN_DEGER: "", PERAKENDE_DEGER: "", TOPTAN_DEGER_TL: "", PERAKENDE_DEGER_TL: "", FIYATKODU: fiyatkodu })
                        }


                    } else {
                       
                        
                        for (let i = 0; i < f.length; i++) {
                            var t = null;
                            
                            if (f[i].SERI_NO != null) {
                                t = excellist.filter(x => parseInt(x.RULOKODU.substring(0, x.RULOKODU.length - 2)) == parseInt((f[i].SERI_NO).split('.')[0]));
                            }
                        
                            
                            
                          
                            if (t.length > 0) {
                                for (let a = 0; a < t.length; a++) {
                                    if (t[0].GIR_KUR_HES_USD_FIYAT != null) {

                                        sum = parseFloat(sum) + (parseFloat(t[a].GIR_KUR_HES_USD_FIYAT) * t[a].TONAJ);
                                       /* alert(parseFloat(t[0].GIR_KUR_HES_USD_FIYAT) * t[a].TONAJ);*/
                                    }
                                }
                                
                               
                               
                                for (let a = 0; a < t.length; a++) {
                                    sumbakiye = sumbakiye + parseFloat(t[a].TONAJ.replace(',', '.'));
                                }
                            }
                        }
                        list.push({
                            FK_ACIKLAMA: listEfece4[i], BAKIYE: sumbakiye.toLocaleString(), FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCU_BR1, TOPTAN_DEGER: "", PERAKENDE_DEGER: "", TOPTAN_DEGER_TL: "", PERAKENDE_DEGER_TL: "", FIYATKODU: fiyatkodu, DIF: 'true', TOPLAM_MALIYET: parseFloat(sum).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            })
                        })
                    }


                }

                $('#table').bootstrapTable('refreshOptions', {
                    detailFormatter: "detailFormatter2",
                    data: list
                });




            }).then(function () {
                $.getJSON("http://192.168.2.13:83/api/stok/fiat/EFECE4", function (data) {

                    tumliste = data;

                    for (let i = 0; i < data.length; i++) {
                        if (data[i].FK_ACIKLAMA != null) {
                            if (!listfk.includes(data[i].FK_ACIKLAMA)) {
                                listfk.push(data[i].FK_ACIKLAMA);
                            }
                        }

                    }
                    document.getElementById("filter").replaceChildren();
                    for (let i = 0; i < listfk.length; i++) {
                        var opt = document.createElement("option");
                        opt.innerHTML = listfk[i];
                        opt.value = listfk[i];
                        document.getElementById("filter").appendChild(opt);
                        var sumbakiye = 0;
                        var deger = 0;
                        var pardeger = 0;
                        var degertl = 0;
                        var pardegertl = 0;
                        var fiyatkodu = "";
                        var doviz = "";
                        var f = data.filter(x => x.FK_ACIKLAMA == listfk[i]);

                        for (let a = 0; a < f.length; a++) {
                            if (f[a].BAKIYE != null) {
                                sumbakiye = sumbakiye + parseFloat(f[a].BAKIYE);
                            }

                            fiyatkodu = f[a].FIYATKODU;
                            if (fiyatkodu == null) {
                                fiyatkodu = "";
                            }
                            if (f[a].TOPTAN_DEGER != null) {
                                deger = deger + parseFloat(f[a].TOPTAN_DEGER);
                            }
                            if (f[a].PERAKENDE_DEGER != null) {
                                pardeger = pardeger + parseFloat(f[a].PERAKENDE_DEGER);
                            }
                            if (f[a].TOPTAN_DEGER_TL != null) {
                                degertl = degertl + parseFloat(f[a].TOPTAN_DEGER_TL);
                            }
                            if (f[a].PERAKENDE_DEGER_TL != null) {
                                pardegertl = pardegertl + parseFloat(f[a].PERAKENDE_DEGER_TL);
                            }
                            if (f[a].FIYATDOVIZTIPI != null) {
                                doviz = f[a].FIYATDOVIZTIPI;
                            } else {
                                doviz = "TRY";
                            }

                        }

                        list.push({ FK_ACIKLAMA: listfk[i], BAKIYE: (sumbakiye).toLocaleString(), FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCUBR, TOPTAN_DEGER: parseInt(deger).toLocaleString(), PERAKENDE_DEGER: parseInt(pardeger).toLocaleString(), TOPTAN_DEGER_TL: parseInt(degertl).toLocaleString(), PERAKENDE_DEGER_TL: parseInt(pardegertl).toLocaleString(), FIYATKODU: fiyatkodu, DIF: 'false' })

                    }




                    $('#table').bootstrapTable('refreshOptions', {
                        data: list
                    });


                })
            })

        } else {
            $('#table').bootstrapTable("removeAll");
            $.getJSON("http://192.168.2.13:83/api/stok/fiat/TRANSFER", function (data) {

                tumliste = data;

                for (let i = 0; i < data.length; i++) {
                    if (data[i].FK_ACIKLAMA != null) {
                        if (!listfk.includes(data[i].FK_ACIKLAMA)) {
                            listfk.push(data[i].FK_ACIKLAMA);
                        }
                    }

                }
                document.getElementById("filter").replaceChildren();
                for (let i = 0; i < listfk.length; i++) {
                    var opt = document.createElement("option");
                    opt.innerHTML = listfk[i];
                    opt.value = listfk[i];
                    document.getElementById("filter").appendChild(opt);
                    var sumbakiye = 0;
                    var deger = 0;
                    var pardeger = 0;
                    var degertl = 0;
                    var pardegertl = 0;
                    var fiyatkodu = "";
                    var doviz = "";
                    var f = data.filter(x => x.FK_ACIKLAMA == listfk[i]);

                    for (let a = 0; a < f.length; a++) {
                        if (f[a].BAKIYE != null) {
                            sumbakiye = sumbakiye + parseFloat(f[a].BAKIYE);
                        }

                        fiyatkodu = f[a].FIYATKODU;
                        if (fiyatkodu == null) {
                            fiyatkodu = "";
                        }
                        if (f[a].TOPTAN_DEGER != null) {
                            deger = deger + parseFloat(f[a].TOPTAN_DEGER);
                        }
                        if (f[a].PERAKENDE_DEGER != null) {
                            pardeger = pardeger + parseFloat(f[a].PERAKENDE_DEGER);
                        }
                        if (f[a].TOPTAN_DEGER_TL != null) {
                            degertl = degertl + parseFloat(f[a].TOPTAN_DEGER_TL);
                        }
                        if (f[a].PERAKENDE_DEGER_TL != null) {
                            pardegertl = pardegertl + parseFloat(f[a].PERAKENDE_DEGER_TL);
                        }
                        if (f[a].FIYATDOVIZTIPI != null) {
                            doviz = f[a].FIYATDOVIZTIPI;
                        } else {
                            doviz = "TRY";
                        }

                    }

                    list.push({ FK_ACIKLAMA: listfk[i], BAKIYE: (sumbakiye).toLocaleString(), FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCUBR, TOPTAN_DEGER: parseInt(deger).toLocaleString(), PERAKENDE_DEGER: parseInt(pardeger).toLocaleString(), TOPTAN_DEGER_TL: parseInt(degertl).toLocaleString(), PERAKENDE_DEGER_TL: parseInt(pardegertl).toLocaleString(), FIYATKODU: fiyatkodu })

                }


                if (sabit == 1) {

                    $('#table').bootstrapTable('destroy');
                    document.getElementById("tst").getElementsByTagName('th')[document.getElementById("tst").getElementsByTagName('th').length - 1].remove();
                    $('#table').bootstrapTable({
                        detailFormatter: "detailFormatter",
                        data: list
                    });
                    sabit = 0;
                } else {

                    $('#table').bootstrapTable('refreshOptions', {
                        detailFormatter: "detailFormatter",
                        data: list
                    });
                }

            })
        }
    }
    var tumliste2 = null;
    var tumliste = null;
    $(document).ready(function () {
        getExcelAsync().then(function (data) {
            excellist = data;
        }).then(function () {
            $.getJSON("http://192.168.2.13:83/api/stok/fiat2", function (data) {
                tumliste2 = data;
                for (let i = 0; i < data.length; i++) {

                    if (!listEfece4.includes(data[i].ACIKLAMA)) {
                        if (data[i].ACIKLAMA == null) {
                            if (!listEfece4.includes("FIYAT GRUBU TANIMLANMAYANLAR")) {
                                listEfece4.push("FIYAT GRUBU TANIMLANMAYANLAR");
                            }
                        } else {
                            listEfece4.push(data[i].ACIKLAMA);
                        }


                    }
                }
                document.getElementById("filter").replaceChildren();
                for (let i = 0; i < listEfece4.length; i++) {

                    var opt = document.createElement("option");
                    opt.innerHTML = listEfece4[i];
                    opt.value = listEfece4[i];
                    document.getElementById("filter").appendChild(opt);

                    if (listEfece4[i] == "FIYAT GRUBU TANIMLANMAYANLAR") {
                        var f = data.filter(x => x.ACIKLAMA == null);
                    } else {
                        var f = data.filter(x => x.ACIKLAMA == listEfece4[i]);
                    }
                    var fiyatkodu = "";
                    var doviz = "";
                    var sum = 0;
                    var sumbakiye = 0;

                    for (let a = 0; a < f.length; a++) {


                        fiyatkodu = f[a].FIYATKODU;
                        if (fiyatkodu == null) {
                            fiyatkodu = "";
                        }

                        if (f[a].DOV_TIP != null) {
                            doviz = f[a].DOV_TIP;
                        } else {
                            doviz = "TRY";
                        }

                    }
                   
                    if (listEfece4[i] == "FIYAT GRUBU TANIMLANMAYANLAR") {


                        var t = excellist.filter(x => (x.RULOKODU.substring(0, 4)).includes(parseInt((f[i].SERI_NO).split('.')[0].substring(0, 6))));

                        if (t.length > 0) {
                            list.push({ FK_ACIKLAMA: listEfece4[i], BAKIYE: "", FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCU_BR1, TOPTAN_DEGER: "", PERAKENDE_DEGER: "", TOPTAN_DEGER_TL: "", PERAKENDE_DEGER_TL: "", FIYATKODU: fiyatkodu })
                        }


                    } else {
                        for (let i = 0; i < f.length; i++) {
                      
                            var t = excellist.filter(x => (x.RULOKODU.substring(0, 4)).includes(parseInt((f[i].SERI_NO).split('.')[0].substring(0, 6))));

                            if (t.length > 0) {
                                if (t[0].TUTAR != null) {
                                    for (let a = 0; a < t.length; a++) {
                                        if (t[a].GIR_KUR_HES_USD_FIYAT != null) {

                                            sum = parseFloat(sum) + (parseFloat(t[a].GIR_KUR_HES_USD_FIYAT) * t[a].TONAJ);
                                            /* alert(parseFloat(t[0].GIR_KUR_HES_USD_FIYAT) * t[a].TONAJ);*/
                                        }
                                    }
                                }
                                
                                
                                
                          
                                for (let a = 0; a < t.length; a++) {

                                    sumbakiye =  parseFloat(sumbakiye) + parseFloat(t[a].TONAJ);
                                    
                                }
                            }
                        }
                        
                        list.push({
                            FK_ACIKLAMA: listEfece4[i], BAKIYE: sumbakiye.toLocaleString(), FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCU_BR1, TOPTAN_DEGER: "", PERAKENDE_DEGER: "", TOPTAN_DEGER_TL: "", PERAKENDE_DEGER_TL: "", FIYATKODU: fiyatkodu, DIF: 'true', TOPLAM_MALIYET: sum.toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            })
                        })
                    }


                }

                $('#table').bootstrapTable('refreshOptions', {
                    detailFormatter: "detailFormatter2",
                    data: list
                });




            }).then(function () {
                $.getJSON("http://192.168.2.13:83/api/stok/fiat", function (data) {
                    tumliste = data;
                    document.getElementById("dol").innerHTML = " " + data.find(x => x.FIYATDOVIZTIPI == "USD").KUR;
                    document.getElementById("er").innerHTML = " " + data.find(x => x.FIYATDOVIZTIPI == "EUR").KUR;
                    for (let i = 0; i < data.length; i++) {
                        if (data[i].FK_ACIKLAMA != null) {
                            if (!listfk.includes(data[i].FK_ACIKLAMA)) {
                                listfk.push(data[i].FK_ACIKLAMA);
                            }
                        }

                    }
                    for (let i = 0; i < listfk.length; i++) {
                        var opt = document.createElement("option");
                        opt.innerHTML = listfk[i];
                        opt.value = listfk[i];
                        document.getElementById("filter").appendChild(opt);
                    }
                    for (let i = 0; i < listfk.length; i++) {

                        var sumbakiye = 0;
                        var deger = 0;
                        var pardeger = 0;
                        var degertl = 0;
                        var pardegertl = 0;
                        var fiyatkodu = "";
                        var doviz = "";
                        var f = data.filter(x => x.FK_ACIKLAMA == listfk[i]);

                        for (let a = 0; a < f.length; a++) {
                            if (f[a].BAKIYE != null) {
                                sumbakiye = sumbakiye + parseFloat(f[a].BAKIYE);
                            }

                            fiyatkodu = f[a].FIYATKODU;
                            if (fiyatkodu == null) {
                                fiyatkodu = "";
                            }
                            if (f[a].TOPTAN_DEGER != null) {
                                deger = deger + parseFloat(f[a].TOPTAN_DEGER);
                            }
                            if (f[a].PERAKENDE_DEGER != null) {
                                pardeger = pardeger + parseFloat(f[a].PERAKENDE_DEGER);
                            }
                            if (f[a].TOPTAN_DEGER_TL != null) {
                                degertl = degertl + parseFloat(f[a].TOPTAN_DEGER_TL);
                            }
                            if (f[a].PERAKENDE_DEGER_TL != null) {
                                pardegertl = pardegertl + parseFloat(f[a].PERAKENDE_DEGER_TL);
                            }
                            if (f[a].FIYATDOVIZTIPI != null) {
                                doviz = f[a].FIYATDOVIZTIPI;
                            } else {
                                doviz = "TRY";
                            }

                        }

                        list.push({ FK_ACIKLAMA: listfk[i], BAKIYE: (sumbakiye).toLocaleString(), FIYATDOVIZTIPI: doviz, OLCUBR: f[0].OLCUBR, TOPTAN_DEGER: parseInt(deger).toLocaleString(), PERAKENDE_DEGER: parseInt(pardeger).toLocaleString(), TOPTAN_DEGER_TL: parseInt(degertl).toLocaleString(), PERAKENDE_DEGER_TL: parseInt(pardegertl).toLocaleString(), FIYATKODU: fiyatkodu })

                    }
                    $('#table').bootstrapTable('load', list);
                    $('#filter').select2({ width: '50vw', placeholder: 'Grup Filtresi' });
                    $("#content").hide();
                })
            })
        })
        sabit = 0;
        
        


    })
    var type = 'fa'

    function loadingTemplate(message) {
      
            return '<div class="heart"><img src="/images/novasaydam.png" style="max-width:15vw"/></div>'
        
        
    }

    function detailFormatter(index, row) {
      
        var st = "";

        var d = tumliste.filter(x => x.FK_ACIKLAMA == row.FK_ACIKLAMA);



        for (let i = 0; i < d.length; i++) {

            if (row.FK_ACIKLAMA == 'FIYAT GRUBU TANIMLANMAYANLAR') {

                st = st + "<tr><td>" + d[i].STOK_ADI + "</td>" + "<td>" + d[i].LISTE_FIYATI + "</td>" + "<td>" + (d[i].TOPTAN_ISK == "null" ? d[i].TOPTAN_ISK : "-") + "</td>" + "<td>" + (d[i].PERAKENDE_ISK == "null" ? d[i].PERAKENDE_ISK : "-") + "</td>" + "<td>" + (d[i].TOPTAN_FIYAT == "null" ? parseFloat(d[i].TOPTAN_FIYAT).toLocaleString() : "-") + "</td><td>" + (d[i].PERAKENDE_FIYAT == "null" ? parseFloat(d[i].PERAKENDE_FIYAT).toLocaleString() : "-") + "</td>" + "<td>" + (d[i].FIYATDOVIZTIPI == "null" ? d[i].FIYATDOVIZTIPI : "-") + "</td>" + "<td>" + (d[i].OLCUBR == "null" ? d[i].OLCUBR : "-") + "</td><td>" + (d[i].BAKIYE ? parseFloat(d[i].BAKIYE).toLocaleString() : "-") + "</td>" + "<td>" + (d[i].TOPTAN_DEGER == "null" ? d[i].TOPTAN_DEGER.toLocaleString() : "-") + "</td><td>" + (d[i].PERAKENDE_DEGER == "null" ? parseInt(d[i].PERAKENDE_DEGER).toLocaleString() : "-") + "</td><td>" + (d[i].TOPTAN_DEGER ? parseFloat(d[i].TOPTAN_DEGER_TL).toLocaleString() : "-") + "</td><td>" + (d[i].PERAKENDE_DEGER_TL ? parseFloat(d[i].PERAKENDE_DEGER_TL).toLocaleString() : "-") + "</td></tr>";
            } else {
                var top = (parseFloat(d[i].TOPTAN_FIYAT || 0).toLocaleString());
                if (top.includes(',')) {
                    top = (parseFloat(d[i].TOPTAN_FIYAT).toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (parseFloat(d[i].TOPTAN_FIYAT).toLocaleString()).split(',')[1] + "</span>"
                }
                var par = parseFloat(d[i].PERAKENDE_FIYAT || 0).toLocaleString();
                if (par.includes(',')) {
                    par = (parseFloat(d[i].PERAKENDE_FIYAT).toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (parseFloat(d[i].PERAKENDE_FIYAT).toLocaleString()).split(',')[1] + "</span>"
                }
                var bak = parseFloat(d[i].BAKIYE || 0).toLocaleString();
                if (bak.includes(',')) {
                    bak = (parseFloat(d[i].BAKIYE).toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (parseFloat(d[i].BAKIYE).toLocaleString()).split(',')[1] + "</span>"
                }
                var topdeg = parseInt(d[i].TOPTAN_DEGER||0).toLocaleString();
                if (topdeg.includes(',')) {
                    topdeg = (d[i].TOPTAN_DEGER.toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (d[i].TOPTAN_DEGER.toLocaleString()).split(',')[1] + "</span>"
                }
                var pardeg = parseInt(d[i].PERAKENDE_DEGER || 0).toLocaleString();
                if (pardeg.includes(',')) {
                    pardeg = (parseInt(d[i].PERAKENDE_DEGER).toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (parseInt(d[i].PERAKENDE_DEGER).toLocaleString()).split(',')[1] + "</span>"
                }
                var topdegtl = parseInt(d[i].TOPTAN_DEGER_TL || 0).toLocaleString();
                if (topdegtl.includes(',')) {
                    topdegtl = (d[i].TOPTAN_DEGER_TL.toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (d[i].TOPTAN_DEGER_TL.toLocaleString()).split(',')[1] + "</span>"
                }
                var pardegtl = parseInt(d[i].PERAKENDE_DEGER_TL||0).toLocaleString();
                if (pardegtl.includes(',')) {
                    pardegtl = (parseInt(d[i].PERAKENDE_DEGER_TL).toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (parseInt(d[i].PERAKENDE_DEGER_TL).toLocaleString()).split(',')[1] + "</span>"
                }
               

                st = st + "<tr><td>" + d[i].STOK_ADI + "</td>" + "<td>" + d[i].LISTE_FIYATI + "</td>" + "<td>" + (d[i].TOPTAN_ISK == "null" ? d[i].TOPTAN_ISK : "-") + "</td>" + "<td>" + (d[i].PERAKENDE_ISK == "null" ? d[i].PERAKENDE_ISK : "-") + "</td>" + "<td>" + top + "</td><td>" + par + "</td>" + "<td>" + (d[i].FIYATDOVIZTIPI  ??  "-") + "</td>" + "<td>" + (d[i].OLCUBR ?? "-") + "</td><td>" + bak + "</td>" + "<td>" + topdeg + "</td><td>" + pardeg + "</td><td>" + topdegtl + "</td><td>" + pardegtl + "</td></tr>";
            }


        }


        return "<table class='table table-borderless no'><thead><tr class'text-nowrap'><th class='text-nowrap'>STOK ADI</th><th class='text-nowrap' style='padding-left: 10px'>LİSTE FİYATI</th><th class='text-nowrap' style='padding-left: 10px'>TOPTAN İSK.</th><th class='text-nowrap' style='padding-left: 10px'>PERAKENDE İSK.</th><th class='text-nowrap' style='padding-left: 10px'>TOPTAN FİYAT</th><th class='text-nowrap' style='padding-left: 10px'>PERAKENDE FİYAT</th><th class='text-nowrap' style='padding-left: 10px'>TİP</th><th class='text-nowrap' style='padding-left: 10px'>OLCU BIRIMI</th><th class='text-nowrap' style='padding-left: 10px'>TOPLAM BAKIYE</th><th class='text-nowrap' style='padding-left: 10px'>TOPTAN DEGER</th><th class='text-nowrap' style='padding-left: 10px'>PERAKENDE DEGER</th><th class='text-nowrap' style='padding-left: 10px'>TOPTAN DEGER(TL)</th><th class='text-nowrap' style='padding-left: 10px'>PERAKENDE DEGER(TL)</th></tr></thead><tbody>" + st + "</tbody></table>";



    }
    function detailFormatter2(index, row) {
       
        if (row.DIF == 'true') {
            var d = tumliste2.filter(x => x.ACIKLAMA == row.FK_ACIKLAMA);
            
            var tanimsizlar = tumliste2.filter(x => x.ACIKLAMA == null);
            var st = "";
            if (d.length == 0) {
                for (let i = 0; i < tanimsizlar.length; i++) {
                    var t = excellist.filter(x => x.RULOKODU.includes(parseInt((tanimsizlar[i].SERI_NO).split('.')[0])));
                    if (t.length > 0) {
                        for (let a = 0; a < t.length; a++) {
                            st = st + "<tr><td class='text-center'>" + tanimsizlar[i].STOK_ADI + "</td><td class='text-center'>" + "0" + (t[a].RULOKODU).toString().substring(0, 4) + "." + (t[a].RULOKODU).toString().substring(4, 6) + "</td><td class='text-center'>" + (t[a].RENKKODU).toString() + "</td><td class='text-center'>" + (parseFloat(t[a].KALINLIK.replace(',', '.')).toFixed(2)).replace('.', ',') + "</td><td class='text-center'>" + (t[a].GENISLIK).toString() + "</td><td class='text-center'>" + (t[a].KALITE).toString() + "</td><td class='text-center'>" + (t[a].KAPLAMA).toString() + "</td><td class='text-center'>" + parseFloat(t[a].TONAJ).toLocaleString() + "</td><td class='text-center'>" + "<b>$ " + (parseFloat(t[a].TUTAR).toFixed(4).toLocaleString()).replace(',', '.') + "</b></td></tr>"
                        }
                    }

                }

            } else {
                for (let i = 0; i < d.length; i++) {

                    var t = excellist.filter(x => (x.RULOKODU.substring(0, x.RULOKODU.length-2)).includes(parseInt((d[i].SERI_NO).split('.')[0])));
                    if (t.length > 0) {
                        for (let a = 0; a < t.length; a++) {
                            st = st + "<tr><td class='text-center'>" + d[i].STOK_ADI + "</td><td class='text-center'>" + "0" + (t[a].RULOKODU).toString().substring(0, 4) + "." + (t[a].RULOKODU).toString().substring(4, 6) + "</td><td class='text-center'>" + (t[a].RENKKODU).toString() + "</td><td class='text-center'>" + (parseFloat(t[a].KALINLIK.replace(',', '.')).toFixed(2)).replace('.', ',') + "</td><td class='text-center'>" + (t[a].GENISLIK).toString() + "</td><td class='text-center'>" + (t[a].KALITE).toString() + "</td><td class='text-center'>" + (t[a].KAPLAMA).toString() + "</td><td class='text-center'>" + parseFloat(t[a].TONAJ).toLocaleString() + "</td><td class='text-center'>" + "<b>$ " + (d[i].DOV_TIP == "TRY" ? (parseFloat(t[a].TUTAR).toFixed(4).toLocaleString()).replace(',', '.') : (parseFloat(t[a].GIR_KUR_HES_USD_FIYAT).toFixed(4).toLocaleString()).replace(',', '.')) + "</b></td></tr>"
                        }
                        
                    }
                }
            }

            return "<table class='table table-bordered no'><thead class='sticky-top'><tr class'text-nowrap'><th class='text-nowrap text-center'>STOK ADI</th><th class='text-nowrap text-center'>SERİ NO</th><th class='text-nowrap text-center'>RENK KODU</th><th class='text-nowrap text-center'>KALINLIK</th><th class='text-nowrap text-center'>GENİŞLİK</th><th class='text-nowrap text-center'>KALİTE</th><th class='text-nowrap text-center'>KAPLAMA</th><th class='text-nowrap text-center'>BAKİYE</th><th class='text-nowrap text-center'>FİYAT</th></thead><tbody>" + st + "</tbody></table>";
        } else {
            var st = "";
          
            var d = tumliste.filter(x => x.FK_ACIKLAMA == row.FK_ACIKLAMA);



            for (let i = 0; i < d.length; i++) {
              
                if (row.FK_ACIKLAMA == 'FIYAT GRUBU TANIMLANMAYANLAR') {

                    st = st + "<tr><td>" + d[i].STOK_ADI + "</td>" + "<td>" + d[i].LISTE_FIYATI + "</td>" + "<td>" + (d[i].TOPTAN_ISK == "null" ? d[i].TOPTAN_ISK : "-") + "</td>" + "<td>" + (d[i].PERAKENDE_ISK == "null" ? d[i].PERAKENDE_ISK : "-") + "</td>" + "<td>" + (d[i].TOPTAN_FIYAT == "null" ? parseFloat(d[i].TOPTAN_FIYAT).toLocaleString() : "-") + "</td><td>" + (d[i].PERAKENDE_FIYAT == "null" ? parseFloat(d[i].PERAKENDE_FIYAT).toLocaleString() : "-") + "</td>" + "<td>" + (d[i].FIYATDOVIZTIPI == "null" ? d[i].FIYATDOVIZTIPI : "-") + "</td>" + "<td>" + (d[i].OLCUBR == "null" ? d[i].OLCUBR : "-") + "</td><td>" + (d[i].BAKIYE ? parseFloat(d[i].BAKIYE).toLocaleString() : "-") + "</td>" + "<td>" + (d[i].TOPTAN_DEGER == "null" ? d[i].TOPTAN_DEGER.toLocaleString() : "-") + "</td><td>" + (d[i].PERAKENDE_DEGER == "null" ? parseInt(d[i].PERAKENDE_DEGER).toLocaleString() : "-") + "</td><td>" + (d[i].TOPTAN_DEGER ? parseFloat(d[i].TOPTAN_DEGER_TL).toLocaleString() : "-") + "</td><td>" + (d[i].PERAKENDE_DEGER_TL ? parseFloat(d[i].PERAKENDE_DEGER_TL).toLocaleString() : "-") + "</td></tr>";
                } else {
                    var top = (parseFloat(d[i].TOPTAN_FIYAT||0).toLocaleString());
                    if (top.includes(',')) {
                        top = (parseFloat(d[i].TOPTAN_FIYAT).toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (parseFloat(d[i].TOPTAN_FIYAT).toLocaleString()).split(',')[1] + "</span>"
                    }
                    var par = parseFloat(d[i].PERAKENDE_FIYAT || 0).toLocaleString();
                    if (par.includes(',')) {
                        par = (parseFloat(d[i].PERAKENDE_FIYAT).toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (parseFloat(d[i].PERAKENDE_FIYAT).toLocaleString()).split(',')[1] + "</span>"
                    }
                    var bak = parseFloat(d[i].BAKIYE || 0).toLocaleString();
                    if (bak.includes(',')) {
                        bak = (parseFloat(d[i].BAKIYE).toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (parseFloat(d[i].BAKIYE).toLocaleString()).split(',')[1] + "</span>"
                    }
                    var topdeg = parseFloat(d[i].TOPTAN_DEGER || 0).toLocaleString();
                   
                    if (topdeg.includes(',')) {
                        topdeg = (d[i].TOPTAN_DEGER.toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (d[i].TOPTAN_DEGER.toLocaleString()).split(',')[1] + "</span>"
                    }
                    var pardeg = parseInt(d[i].PERAKENDE_DEGER).toLocaleString();
                    if (pardeg.includes(',')) {
                        pardeg = (parseInt(d[i].PERAKENDE_DEGER).toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (parseInt(d[i].PERAKENDE_DEGER).toLocaleString()).split(',')[1] + "</span>"
                    }
                    var topdegtl = parseFloat(d[i].TOPTAN_DEGER_TL || 0).toLocaleString();
                    if (topdegtl.includes(',')) {
                        topdegtl = (d[i].TOPTAN_DEGER_TL.toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (d[i].TOPTAN_DEGER_TL.toLocaleString()).split(',')[1] + "</span>"
                    }
                    var pardegtl = parseInt(d[i].PERAKENDE_DEGER_TL).toLocaleString();
                    if (pardegtl.includes(',')) {
                        pardegtl = (parseInt(d[i].PERAKENDE_DEGER_TL).toLocaleString()).split(',')[0] + ",<span style='font-size:10px'>" + (parseInt(d[i].PERAKENDE_DEGER_TL).toLocaleString()).split(',')[1] + "</span>"
                    }


                    st = st + "<tr><td>" + d[i].STOK_ADI + "</td>" + "<td>" + d[i].LISTE_FIYATI + "</td>" + "<td>" + (d[i].TOPTAN_ISK == null ? "-" : d[i].TOPTAN_ISK) + "</td>" + "<td>" + (d[i].PERAKENDE_ISK == null ? "-" : d[i].PERAKENDE_ISK) + "</td>" + "<td>" + top + "</td><td>" + par + "</td>" + "<td>" + d[i].FIYATDOVIZTIPI + "</td>" + "<td>" + d[i].OLCUBR + "</td><td>" + bak + "</td>" + "<td>" + topdeg + "</td><td>" + pardeg + "</td><td>" + topdegtl + "</td><td>" + pardegtl + "</td></tr>";
                }


            }


            return "<table class='table table-borderless no'><thead><tr class'text-nowrap'><th class='text-nowrap'>STOK ADI</th><th class='text-nowrap' style='padding-left: 10px'>LİSTE FİYATI</th><th class='text-nowrap' style='padding-left: 10px'>TOPTAN İSK.</th><th class='text-nowrap' style='padding-left: 10px'>PERAKENDE İSK.</th><th class='text-nowrap' style='padding-left: 10px'>TOPTAN FİYAT</th><th class='text-nowrap' style='padding-left: 10px'>PERAKENDE FİYAT</th><th class='text-nowrap' style='padding-left: 10px'>TİP</th><th class='text-nowrap' style='padding-left: 10px'>OLCU BIRIMI</th><th class='text-nowrap' style='padding-left: 10px'>TOPLAM BAKIYE</th><th class='text-nowrap' style='padding-left: 10px'>TOPTAN DEGER</th><th class='text-nowrap' style='padding-left: 10px'>PERAKENDE DEGER</th><th class='text-nowrap' style='padding-left: 10px'>TOPTAN DEGER(TL)</th><th class='text-nowrap' style='padding-left: 10px'>PERAKENDE DEGER(TL)</th></tr></thead><tbody>" + st + "</tbody></table>";
           
        }
        
       

    } 
    function grupFormatter(value,index,row) {
        return value /*+' <i class="icon-info-sign"></i>'*/;
    }
    function TotalFooter(items) {
        return 'Toplam';
    };
    function TotalFormatter(items) {
        var totalPrice = 0;
        items.forEach(function (item) {
            if (item.PERAKENDE_DEGER_TL != null) {
                totalPrice = parseFloat(totalPrice || 0) + parseFloat(item.PERAKENDE_DEGER_TL.replace('.', '').replace('.', ''));
            }

        });

        return '₺' + parseFloat(totalPrice||0).toLocaleString(undefined, {
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
        });
    };
    function TotalFormatterMaliyet(items) {
        var totalPrice = 0;
        items.forEach(function (item) {
            
            if (item.TOPLAM_MALIYET != null && item.TOPLAM_MALIYET != "") {
           
                totalPrice = parseFloat(totalPrice || 0) + parseFloat(item.TOPLAM_MALIYET.replace('.', '').replace('.', '').replace(',','.'));
            }

        });

        return '$' + parseFloat(totalPrice||0).toLocaleString(undefined, {
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
        });
    };
    function TotalFormatterTop(items) {
        var totalPrice1 = 0;
        items.forEach(function (item) {

            if (item.TOPTAN_DEGER_TL != null && item.DIF != null) {
                if (parseFloat(item.TOPTAN_DEGER_TL) > 0) {
                    totalPrice1 = parseFloat(totalPrice1) + parseFloat(item.TOPTAN_DEGER_TL.replace('.', ''));
                }

            } else {
                if (parseFloat(item.TOPTAN_DEGER_TL) > 0) {
                    totalPrice1 = parseFloat(totalPrice1) + parseFloat(item.TOPTAN_DEGER_TL.replace('.', '').replace('.', ''));
                }
            }

        });
   
            return '₺' + parseFloat(totalPrice1).toLocaleString(undefined, {
                minimumFractionDigits: 0,
                maximumFractionDigits: 0
            });
     
       
    };
    function TotalFormatterBak(items) {
        var sumdeg = 0;
        var sumdegeu = 0;
        var sumdegtl = 0;
        var sumper = 0;

        var totalPrice1 = 0;
        items.forEach(function (item) {
            if (item.BAKIYE != null) {
                totalPrice1 = parseFloat(totalPrice1) + parseFloat(item.BAKIYE);
            }
            if (item.FIYATDOVIZTIPI == "USD") {
                if (item.TOPTAN_DEGER != "" && item.TOPTAN_DEGER != null) {
                    if (parseFloat(item.TOPTAN_DEGER) > 0) {
                        
                        sumdeg = parseFloat(sumdeg) + parseFloat(item.TOPTAN_DEGER.toString().replace('.', '').replace('.', ''));
                    }
                }
                
                    
               
              


            }
            if (item.FIYATDOVIZTIPI == "EUR") {
                if (item.TOPTAN_DEGER != "" && item.TOPTAN_DEGER != null) {

                    sumdegeu = parseFloat(sumdegeu) + parseFloat(item.TOPTAN_DEGER.toString().replace('.', '').replace('.', ''));
                }
                


            }
            if (item.FIYATDOVIZTIPI == "TRY") {
                if (item.TOPTAN_DEGER != "" && item.TOPTAN_DEGER != null) {

                    sumdegtl = parseFloat(sumdegtl) + parseFloat(item.TOPTAN_DEGER.toString().replace('.', '').replace('.', ''));
                }
               

            }

        });
        document.getElementById("dolar").innerHTML = sumdeg.toLocaleString(undefined, {
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
        }) + " $";
        document.getElementById("euro").innerHTML = sumdegeu.toLocaleString(undefined, {
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
        }) + " €";
        document.getElementById("tl").innerHTML = sumdegtl.toLocaleString(undefined, {
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
        }) + " ₺";
        return "";
    };
    function toplamForm(value, row, index) {
        var con = value;
        if (value.includes(',')) {
            con = value.split(',')[0] + ",<span style='font-size:8px !important'>" + value.split(',')[1] + "</span>"
        }

        return con;
    }
    $('#toolbar').change(function (e) {
        var filterAlgorithm = $('[name="filterAlgorithm"]').val()


        if (filterAlgorithm.length > 0) {
            $('#table').bootstrapTable('filterBy', {
                FK_ACIKLAMA: filterAlgorithm
            })
        } else {
            $('#table').bootstrapTable('filterBy', {});

        }

    })

</script>






